
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 524.4rem;
}.component-3-AkF {
  display: flex;
  border: dashed 0.1rem #9747ff;
  width: 100%;
  overflow: hidden;
  row-gap: 2rem;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem;
  position: relative;

  .property-1default-Fmh {
    display: flex;
    column-gap: 33.4rem;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    cursor: pointer;

    .rectangle-125-8Kh {
      background-image: url('REPLACE_IMAGE:73145ed814a2b3feca43e02a003a73573e1464f2');
      flex-shrink: 0;
      width: 151.2rem;
      height: 37rem;
      position: relative;
      background-size: 100% 272.466%;
      background-position: 0 -48.9062rem;
    }
    .rectangle-126-BHy {
      background-size: 100% 272.394%;
      background-position: 0 -50.8928rem;
      background-image: url('REPLACE_IMAGE:4d14e0a3a2e28fec0220231d6de1651d28e0603c');
      flex-shrink: 0;
      width: 151.2rem;
      height: 37rem;
      position: relative;
    }
    .rectangle-127-ehM {
      height: 37rem;
      position: relative;
      background-size: 100% 270.47%;
      background-position: 0 -51.537rem;
      background-image: url('REPLACE_IMAGE:8c6eadf1bdf0e7aacbc09c716a28892def7fab92');
      flex-shrink: 0;
      width: 151.2rem;
    }
  }
  .property-1variant2-Gij {
    padding-right: 184.6rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;

    .rectangle-126-BKu {
      background-image: url('REPLACE_IMAGE:4d14e0a3a2e28fec0220231d6de1651d28e0603c');
      flex-shrink: 0;
      margin-right: 33.4rem;
      width: 151.2rem;
      height: 37rem;
      position: relative;
      background-size: 100% 272.394%;
      background-position: 0 -50.8928rem;
    }
    .rectangle-127-Eoy {
      flex-shrink: 0;
      width: 151.2rem;
      height: 37rem;
      position: relative;
      background-size: 100% 270.47%;
      background-position: 0 -51.537rem;
      background-image: url('REPLACE_IMAGE:8c6eadf1bdf0e7aacbc09c716a28892def7fab92');
    }
  }
  .property-1variant3-Fj5 {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    width: 100%;
    height: 37rem;
    cursor: pointer;

    .rectangle-127-Ab9 {
      position: relative;
      background-size: 100% 270.47%;
      background-position: 0 -51.537rem;
      background-image: url('REPLACE_IMAGE:8c6eadf1bdf0e7aacbc09c716a28892def7fab92');
      flex-shrink: 0;
      margin-right: 32.4rem;
      width: 151.2rem;
      height: 37rem;
    }
    .rectangle-125-pvb {
      flex-shrink: 0;
      margin-right: 34.4rem;
      width: 151.2rem;
      height: 37rem;
      position: relative;
      background-size: 100% 272.466%;
      background-position: 0 -48.9062rem;
      background-image: url('REPLACE_IMAGE:73145ed814a2b3feca43e02a003a73573e1464f2');
    }
    .auto-group-u4md-EzK {
      height: 76rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .rectangle-125-Mp3 {
        background-position: 0 -48.9062rem;
        background-image: url('REPLACE_IMAGE:73145ed814a2b3feca43e02a003a73573e1464f2');
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 151.2rem;
        height: 37rem;
        position: relative;
        background-size: 100% 272.466%;
      }
      .rectangle-126-cEB {
        background-image: url('REPLACE_IMAGE:4d14e0a3a2e28fec0220231d6de1651d28e0603c');
        flex-shrink: 0;
        width: 151.2rem;
        height: 37rem;
        position: relative;
        background-size: 100% 272.394%;
        background-position: 0 -50.8928rem;
      }
    }
  }
}
