
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 110.1rem;
}.macbook-pro-14-2-dEw {
  flex-direction: column;
  background-color: rgba(18, 18, 18, 0.8999999762);
  box-sizing: border-box;
  padding: 2.7rem 4.15rem 6.9rem 12.7rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-ddnp-qbu {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 0rem 5.417rem 0.325rem;
    width: calc(100% - 0.3253rem);

    .appointment-booking-KGB {
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 2.327rem 45.198rem 0rem 0rem;
      font-size: 4.4rem;
      font-weight: 600;
      line-height: 1.0227272727;
    }
    .vector-Xd9 {
      width: 4.2268rem;
      height: 4.2268rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-fyfz-cuV {
    color: #7a7979;
    white-space: nowrap;
    border-radius: 1.9508rem;
    font-weight: 400;
    border: solid 0.1626rem rgba(0, 224, 255, 0.8500000238);
    flex-shrink: 0;
    margin: 0rem 12.779rem 2.601rem 0rem;
    width: 79.1703rem;
    font-size: 3.2rem;
    box-sizing: border-box;
    background-color: #121212;
    padding: 1.3rem 2.763rem 1.215rem 2.763rem;
    line-height: 1.5;
    font-family: Jost, 'Source Sans Pro';
  }
  .auto-group-jtjr-HPM {
    line-height: 1.5;
    color: #7a7979;
    border-radius: 1.9508rem;
    box-sizing: border-box;
    width: 79.1703rem;
    font-size: 3.2rem;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 1.3rem 2.926rem 1.215rem 2.926rem;
    font-weight: 400;
    border: solid 0.1626rem rgba(0, 224, 255, 0.8500000238);
    margin: 0rem 12.779rem 2.601rem 0rem;
    font-family: Jost, 'Source Sans Pro';
    background-color: #121212;
  }
  .auto-group-vsf9-Q6b {
    width: calc(100% - 14.0797rem);
    align-items: center;
    border: solid 0.1626rem rgba(0, 224, 255, 0.8500000238);
    background-color: #121212;
    flex-shrink: 0;
    margin: 0rem 13.429rem 2.601rem 0.651rem;
    box-sizing: border-box;
    padding: 1.301rem 3.264rem 1.215rem 2.763rem;
    display: flex;
    border-radius: 1.9508rem;

    .select-date-time-3vF {
      margin-right: 44.0919rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #7a7979;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .vector-jYB {
      margin-bottom: 0.1229rem;
      width: 3.2513rem;
      height: 3.2513rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-cxzb-YEj {
    background-color: #121212;
    flex-shrink: 0;
    margin: 0rem 12.779rem 6.476rem 0rem;
    font-size: 3.2rem;
    border: solid 0.1626rem rgba(0, 224, 255, 0.8500000238);
    width: 79.1703rem;
    height: 14.6311rem;
    white-space: nowrap;
    border-radius: 1.9508rem;
    line-height: 1.5;
    color: #7a7979;
    font-family: Jost, 'Source Sans Pro';
    box-sizing: border-box;
    padding: 1.3006rem 2.7633rem;
    font-weight: 400;
  }
  .auto-group-e7s5-eh5 {
    flex-shrink: 0;
    margin-right: 5.45rem;
    width: calc(100% - 5.45rem);
    height: 5rem;
    display: flex;
    align-items: center;

    .auto-group-zes1-8s9 {
      padding: 0.027rem 4.06rem 0.027rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;

      .rectangle-109-1g3 {
        height: 2.9262rem;
        border: solid 0.3251rem #ffffff;
        box-sizing: border-box;
        background-color: rgba(0, 224, 255, 0.8500000238);
        flex-shrink: 0;
        margin: 0rem 3.089rem 0.069rem 0rem;
        width: 3.2513rem;
      }
      .i-agree-to-the-processing-of-personal-date-obu {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.52406919;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0461rem;
      }
    }
    .frame-94-H1H {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      border-radius: 1.2rem;
      flex-shrink: 0;
      width: 20.8rem;
      height: 100%;
      font-weight: 500;
      font-family: Jost, 'Source Sans Pro';
      background: linear-gradient(93.31deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%);
      font-size: 3.2rem;
      line-height: 0.9375;
      white-space: nowrap;
    }
  }
}
