
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 110.1rem;
}.macbook-pro-14-4-kjH {
  flex-direction: column;
  background-color: rgba(18, 18, 18, 0.8999999762);
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 11.4rem 4rem 4.3rem 4rem;
  overflow: hidden;

  .auto-group-qc3h-kco {
    width: calc(100% - 52.4rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 52.4rem 3.2rem 0rem;

    .ellipse-6-qeF {
      flex-shrink: 0;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:0c26d887ed060b47018885c4c6847048f8a83758');
      border-radius: 4.5rem;
      margin-right: 2.4rem;
      width: 9rem;
      height: 9rem;
      background-repeat: no-repeat;
    }
    .auto-group-jj3d-4X1 {
      padding: 1rem 0.5rem 0.9rem 0.6rem;
      width: 38.3rem;
      height: 7.9rem;
      background-color: #d9d9d9;
      border-radius: 1.1rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .hello-how-can-i-help-you-please-give-me-a-description-of-the-issue-youre-having-LDd {
        max-width: 37.2rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #121212;
        font-family: Jost, 'Source Sans Pro';
      }
    }
  }
  .auto-group-c4rb-8QP {
    color: #121212;
    display: flex;
    background-color: #d9d9d9;
    margin: 0rem 0rem 6.4rem 49.7rem;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    text-align: center;
    line-height: 1.5;
    border-radius: 1.1rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 29.6rem;
    height: 5.8rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .auto-group-poys-fHq {
    margin: 0rem 52.4rem 4.3rem 0rem;
    width: calc(100% - 52.4rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .ellipse-9-9Tu {
      width: 9rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:0c26d887ed060b47018885c4c6847048f8a83758');
      flex-shrink: 0;
      margin-right: 2.4rem;
      height: 9rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 4.5rem;
    }
    .auto-group-nmkv-BfV {
      border-radius: 1.1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 0.45rem 0.9rem 0.55rem;
      width: 38.3rem;
      height: 7.9rem;
      background-color: #d9d9d9;

      .you-can-take-care-by-applying-oil-on-regular-basis-avoid-water-on-tattoo-Td1 {
        max-width: 37.3rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #121212;
        font-family: Jost, 'Source Sans Pro';
      }
    }
  }
  .auto-group-eh8t-3r7 {
    font-size: 2rem;
    line-height: 1.5;
    justify-content: center;
    font-family: Jost, 'Source Sans Pro';
    background-color: #d9d9d9;
    flex-shrink: 0;
    margin: 0rem 0rem 14rem 49.7rem;
    width: 29.6rem;
    height: 5.8rem;
    border-radius: 1.1rem;
    font-weight: 400;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    color: #121212;
    display: flex;
  }
  .auto-group-effm-oTu {
    box-sizing: border-box;
    border-radius: 1.1rem;
    margin-right: 8.8rem;
    width: 93.3rem;
    line-height: 1.5;
    color: #121212;
    text-align: center;
    flex-shrink: 0;
    padding: 0.8rem 2.4rem 0.7rem 2.4rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #d9d9d9;
  }
}
