
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-19-NFq {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  width: 100%;
  overflow: hidden;

  .group-88-SmV {
    margin-bottom: 3.3rem;
    box-sizing: border-box;
    padding: 5.926rem 15.2rem 0.311rem 15.1rem;
    display: flex;
    width: 100%;
    height: 20.8rem;
    align-items: center;
    background-color: #121212;
    flex-shrink: 0;

    .group-77-65M {
      margin: 0rem 6.9rem 8.583rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .tattoo-BsV {
        margin: 0.032rem 1.6rem 0rem 0rem;
        font-size: 3.2rem;
        letter-spacing: 0.064rem;
        white-space: nowrap;
        font-weight: 400;
        line-height: 0.9375;
        color: #ffffff;
        font-family: Henny Penny, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .tales-a8w {
        margin-bottom: 0.0325rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9375;
        letter-spacing: 0.064rem;
        font-family: Henny Penny, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-a6ak-TiX {
      margin-right: 7.5rem;
      width: 74rem;
      height: 100%;
      flex-shrink: 0;

      .frame-10-w7u {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 1.5rem 3.2rem;
        position: relative;
        margin-bottom: 4.0438rem;

        .home-pBh {
          margin-right: 8.4rem;
          font-weight: 600;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2.4rem;
          line-height: 1.25;
          white-space: nowrap;
        }
        .artists-5dR {
          line-height: 1.25;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 8.4rem;
          font-size: 2.4rem;
          font-weight: 600;
        }
        .shop-LZM {
          cursor: pointer;
          font-size: 2.4rem;
          line-height: 1.25;
          color: #ffffff;
          margin-right: 8.3rem;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 600;
        }
        .blog-dYT {
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 600;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          line-height: 1.25;
          margin-right: 8.4rem;
          cursor: pointer;
          font-size: 2.4rem;
        }
        .about-us-h2X {
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
      .auto-group-nqno-JY7 {
        align-items: center;
        margin-right: 5.5rem;
        width: calc(100% - 5.5rem);
        height: 4.5197rem;
        display: flex;

        .group-81-vpP {
          margin-right: 4rem;
          box-sizing: border-box;
          background-color: #121212;
          border-radius: 1.2rem;
          flex-shrink: 0;
          padding: 0.804rem 9.9rem 0.716rem 1.6rem;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #ffffff;

          .vector-cSK {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.2rem 0.023rem 0rem;
            width: 1.7rem;
            height: 2.1731rem;
            object-fit: contain;
          }
          .ambattur-chennai-Vm1 {
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
          }
        }
        .group-80-tYF {
          padding: 0.804rem 27rem 0.716rem 1.6rem;
          height: 100%;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border: solid 0.1rem #ffffff;
          background-color: #121212;
          border-radius: 1.2rem;

          .vector-mrw {
            height: 2.0118rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.097rem 0.185rem 0rem;
            width: 2.003rem;
          }
          .search-paK {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .group-75-Gx7 {
      font-weight: 600;
      line-height: 1.25;
      white-space: nowrap;
      display: flex;
      border-radius: 2rem;
      font-size: 2.4rem;
      font-family: Jost, 'Source Sans Pro';
      flex-shrink: 0;
      height: 6.0263rem;
      letter-spacing: 0.048rem;
      background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
      width: 15rem;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      margin-bottom: 8.5373rem;
    }
  }
  .auto-group-f5ku-vvB {
    margin: 0rem 14.4rem 2.7rem 15.2rem;
    width: calc(100% - 29.6rem);
    height: 5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-i8z5-mR1 {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.7rem 11.4rem 0.9rem 0rem;

      .h2o-tattoo-studio-G6s {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 0.9375;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 42.2rem 0rem 0rem;
      }
      .h2o-tattoo-works-k23 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.0714285714;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
    }
    .frame-93-amm {
      font-weight: 400;
      display: flex;
      border-radius: 1.2rem;
      line-height: 1.25;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      justify-content: center;
      background: linear-gradient(93.31deg, rgba(0, 255, 71, 0.8500000238) 0%, rgba(0, 255, 71, 0.5) 0.01%, rgba(0, 47, 19, 0.6899999976) 100%);
      width: 19.7rem;
      height: 100%;
      color: #ffffff;
      align-items: center;
      font-size: 2.4rem;
    }
  }
  .auto-group-xaes-WJ3 {
    margin: 0rem 15.2rem 4rem 15.2rem;
    width: calc(100% - 30.4rem);
    height: 63.9rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-jmdy-M3m {
      width: 51.9rem;
      flex-shrink: 0;
      margin: 0.4rem 16.5rem 0rem 0rem;

      .portfolio-oAf {
        margin-bottom: 4rem;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.0714285714;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-dkj7-F2f {
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;

        .experience-9dq {
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.8rem;
          font-size: 2.4rem;
        }
        .item--qWf {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.7rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
        .years-6hV {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-n1rq-13m {
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;

        .ratings-KKM {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
        .item--dL3 {
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .vector-hKu {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.129rem 0.798rem 0rem 0rem;
          width: 2.002rem;
          height: 1.929rem;
          object-fit: contain;
        }
        .item-49-300-ADV {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
      }
      .auto-group-h6th-3o5 {
        align-items: center;
        margin-bottom: 3.2rem;
        display: flex;

        .address-8Jj {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
        }
        .item--SKR {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.6rem;
        }
        .vector-YNT {
          flex-shrink: 0;
          margin: 0rem 0.8rem 0.036rem 0rem;
          width: 1.7rem;
          height: 2.1636rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ambattur-chennai-119 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .line-94-iRM {
        margin-bottom: 3.1rem;
        width: 51.7rem;
        height: 0.1rem;
        background-color: #ffffff;
      }
      .at-h2o-tattoo-studio-we-transform-ideas-into-indelible-art-our-skilled-artists-blend-creativity-with-precision-to-craft-tattoos-that-go-beyond-skin-deep-telling-stories-expressing-identity-and-leaving-a-lasting-impression-pDV {
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        margin-bottom: 3.2rem;
        max-width: 51.9rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .line-95-PR1 {
        margin-bottom: 3.1rem;
        width: 51.7rem;
        height: 0.1rem;
        background-color: #ffffff;
      }
      .auto-group-izoz-Fy1 {
        margin-bottom: 3.2rem;
        display: flex;
        align-items: center;

        .availability-aEb {
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.2rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .item--H91 {
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.8rem;
          font-size: 2.4rem;
        }
        .until-9-00-pm-nbZ {
          flex-shrink: 0;
          margin-right: 1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #05ff00;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .vector-e7y {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.3818rem;
          width: 1.8rem;
          height: 0.9818rem;
          object-fit: contain;
        }
      }
      .line-96-x8f {
        background-color: #ffffff;
        margin-bottom: 3.1rem;
        width: 51.7rem;
        height: 0.1rem;
      }
      .auto-group-g77v-G9M {
        width: calc(100% - 10.7rem);
        height: 5rem;
        display: flex;
        align-items: center;
        margin-right: 10.7rem;

        .frame-92-6u5 {
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          flex-shrink: 0;
          width: 20.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          border-radius: 1.2rem;
          margin-right: 6rem;
          cursor: pointer;
          white-space: nowrap;
          background: linear-gradient(93.31deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%);
          height: 100%;
          line-height: 1.25;
          display: flex;
        }
        .frame-90-xK1 {
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 400;
          line-height: 1.25;
          border: solid 0.1rem #00e0ff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 2.4rem;
          color: #ffffff;
          border-radius: 1.2rem;
          box-sizing: border-box;
          width: 14.4rem;
          height: 100%;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .auto-group-cyz1-6pX {
      width: 52.4rem;
      height: 100%;
      display: flex;
      flex-shrink: 0;
      background-color: #121212;
      box-sizing: border-box;
      padding: 0.6rem;
      row-gap: 0.6rem;
      align-items: center;
      flex-direction: column;
      border: solid 0.1rem #ffffff;

      .auto-group-mfaw-jcb {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        column-gap: 0.4rem;
        align-items: center;

        .rectangle-71-zYX {
          width: 16.8rem;
          height: 20.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-72-65m {
          width: 16.8rem;
          height: 20.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-73-zgw {
          width: 16.8rem;
          height: 20.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-knr3-tGX {
        column-gap: 0.4rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        display: flex;

        .rectangle-74-AUw {
          flex-shrink: 0;
          width: 16.8rem;
          height: 20.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-75-4aK {
          width: 16.8rem;
          height: 20.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-76-NL7 {
          width: 16.8rem;
          height: 20.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-y7yj-DrX {
        width: 100%;
        display: flex;
        column-gap: 0.4rem;
        align-items: center;
        flex-shrink: 0;

        .rectangle-77-8Th {
          width: 16.8rem;
          height: 20.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-78-Emd {
          vertical-align: top;
          flex-shrink: 0;
          width: 16.8rem;
          height: 20.5rem;
          object-fit: cover;
        }
        .rectangle-79-wg3 {
          width: 16.8rem;
          height: 20.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-91-kNb {
    line-height: 1.25;
    justify-content: center;
    height: 5rem;
    font-weight: 400;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 2.4rem;
    color: #ffffff;
    background: linear-gradient(93.31deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%);
    margin: 0rem 0rem 6rem 68.5rem;
    width: 17.1rem;
  }
  .group-129-QrT {
    margin: 0rem 15rem 0rem 15.2rem;
    width: calc(100% - 30.2rem);
    height: 46.4rem;
    position: relative;
    border-top: solid 0.1rem #ffffff;
    box-sizing: border-box;
    flex-shrink: 0;

    .rectangle-129-NB1 {
      width: 120.8rem;
      height: 46.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #121212;
    }
    .rectangle-130-oGK {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #121212;
      width: 120.8rem;
      height: 46.4rem;
    }
    .group-123-wWw {
      top: 39.4rem;
      display: flex;
      align-items: center;
      width: 22.4rem;
      height: 3rem;
      position: absolute;
      left: 0;

      .tattoo-DzF {
        margin-right: 0.7rem;
        font-weight: 500;
        line-height: 0.6818181818;
        letter-spacing: 0.088rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.4rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
      .tales-EuM {
        font-size: 4.4rem;
        font-weight: 500;
        line-height: 0.6818181818;
        letter-spacing: 0.088rem;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-124-7CT {
      width: 23.8rem;
      height: 14.8rem;
      position: absolute;
      left: 22.2rem;
      top: 2.4rem;

      .company-abq {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.064rem;
      }
      .tattootalesgmailcom-1h9 {
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
      }
      .about-Uqd {
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
      }
    }
    .group-125-y1h {
      width: 32.7rem;
      height: 25.6rem;
      position: absolute;
      left: 88.3rem;
      top: 2.4rem;

      .auto-group-7jf9-r5V {
        margin: 0rem 0.8rem 1.6rem 0rem;
        width: calc(100% - 0.8rem);
        height: 4rem;
        display: flex;
        align-items: center;

        .the-FtK {
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: 0.064rem;
        }
        .auto-group-zdyk-4qm {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 0.2rem;
          height: 100%;

          .group-118-yC3 {
            height: calc(100% - 1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.5rem 1.2rem 0.5rem 0rem;

            .tattoo-bUK {
              line-height: 0.9375;
              letter-spacing: 0.064rem;
              color: #ffffff;
              flex-shrink: 0;
              margin-right: 1.2rem;
              font-size: 3.2rem;
              white-space: nowrap;
              font-weight: 600;
              font-family: Jost, 'Source Sans Pro';
            }
            .tales-TWX {
              font-weight: 600;
              line-height: 0.9375;
              letter-spacing: 0.064rem;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.2rem;
            }
          }
          .app-9eF {
            letter-spacing: 0.064rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.25;
          }
        }
      }
      .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-nBR {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        margin-left: 0.2rem;
        max-width: 32.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
      }
    }
    .group-126-a7H {
      left: 56.7rem;
      top: 2.4rem;
      width: 21rem;
      height: 14.8rem;
      position: absolute;

      .legal-2jy {
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.064rem;
        color: #ffffff;
      }
      .terms-conditions-fnw {
        margin: 0rem 0rem 1.2rem 0.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
      .privacy-policy-iFR {
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.3rem;
        font-size: 2.4rem;
      }
    }
    .group-127-B91 {
      top: 2.4rem;
      width: 11.5rem;
      height: 20rem;
      position: absolute;
      left: 0;

      .explore-2QX {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.064rem;
      }
      .artist-uUK {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
      }
      .blog-PPV {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
      }
      .shop-qmH {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
