
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-20-Sas {
  background-color: #121212;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .group-110-7S7 {
    margin-bottom: 0.9rem;
    width: 100%;
    height: 20.7rem;
    flex-shrink: 0;

    .group-88-ctf {
      padding: 5.9rem 15.3rem 0.211rem 15rem;
      width: 151.2rem;
      height: 20.7rem;
      position: absolute;
      top: 0;
      align-items: center;
      background-color: #121212;
      box-sizing: border-box;
      left: 0;
      display: flex;

      .group-77-nRm {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 6.9rem 8.557rem 0rem;

        .tattoo-gn3 {
          letter-spacing: 0.064rem;
          color: #ffffff;
          font-family: Henny Penny, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.032rem 1.6rem 0rem 0rem;
          font-weight: 400;
          line-height: 0.9375;
          flex-shrink: 0;
          font-size: 3.2rem;
        }
        .tales-t7R {
          font-family: Henny Penny, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0324rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 0.9375;
          letter-spacing: 0.064rem;
        }
      }
      .auto-group-ykgs-NHV {
        margin-right: 7.5rem;
        width: 74rem;
        height: 100%;
        flex-shrink: 0;

        .frame-10-5So {
          padding: 1.5rem 3.2rem;
          position: relative;
          display: flex;
          background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
          border-radius: 2rem;
          box-sizing: border-box;
          width: 100%;
          overflow: hidden;
          align-items: center;
          margin-bottom: 4.0697rem;

          .home-hyy {
            flex-shrink: 0;
            cursor: pointer;
            font-weight: 600;
            line-height: 1.25;
            white-space: nowrap;
            margin-right: 8.4rem;
            font-size: 2.4rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
          }
          .artists-PM1 {
            cursor: pointer;
            font-size: 2.4rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            margin-right: 8.4rem;
            font-weight: 600;
            line-height: 1.25;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .shop-RYb {
            margin-right: 8.3rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.25;
            color: #121212;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .blog-Xbd {
            margin-right: 8.4rem;
            font-weight: 600;
            white-space: nowrap;
            flex-shrink: 0;
            font-family: Jost, 'Source Sans Pro';
            cursor: pointer;
            font-size: 2.4rem;
            line-height: 1.25;
            color: #ffffff;
          }
          .about-us-zEK {
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2.4rem;
          }
        }
        .auto-group-4gc7-bzo {
          width: calc(100% - 5.5rem);
          height: 4.5197rem;
          display: flex;
          align-items: center;
          margin-right: 5.5rem;

          .group-81-Tn7 {
            box-sizing: border-box;
            align-items: center;
            border-radius: 1.2rem;
            margin-right: 4rem;
            padding: 0.804rem 9.9rem 0.716rem 1.6rem;
            height: 100%;
            display: flex;
            border: solid 0.1rem #ffffff;
            background-color: #121212;
            flex-shrink: 0;

            .vector-kFR {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.2rem 0.023rem 0rem;
              width: 1.7rem;
              height: 2.1731rem;
            }
            .ambattur-chennai-2Cw {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.875;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .group-80-EK1 {
            display: flex;
            align-items: center;
            border: solid 0.1rem #ffffff;
            flex-shrink: 0;
            border-radius: 1.2rem;
            box-sizing: border-box;
            padding: 0.804rem 27rem 0.716rem 1.6rem;
            height: 100%;
            background-color: #121212;

            .vector-8fH {
              margin: 0rem 2.097rem 0.185rem 0rem;
              width: 2.003rem;
              height: 2.0118rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .search-2Es {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.875;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .group-75-E63 {
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        line-height: 1.25;
        font-family: Jost, 'Source Sans Pro';
        background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
        margin-bottom: 8.5114rem;
        height: 6.0263rem;
        font-weight: 600;
        width: 15rem;
        font-size: 2.4rem;
        letter-spacing: 0.048rem;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
      }
    }
    .vector-hdq {
      vertical-align: top;
      width: 4.5rem;
      height: 4.5rem;
      position: absolute;
      left: 131.4rem;
      top: 15.7rem;
      object-fit: contain;
    }
    .vector-zN3 {
      object-fit: contain;
      vertical-align: top;
      width: 5rem;
      height: 4.2847rem;
      position: absolute;
      left: 122.4rem;
      top: 16.1rem;
    }
  }
  .component-1-F35 {
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    padding-right: 11.6rem;
    width: 100%;
    height: 32.9rem;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 4rem;

    .auto-group-rrdr-LKR {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.7rem 6.2rem 1.1rem 11rem;
      width: 327.4rem;
      height: 100%;
      display: flex;

      .group-90-1gT {
        margin-right: 7.9rem;
        width: 151.2rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-83-fm1 {
          width: 151.2rem;
          height: 30rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #d9d9d9;
        }
        .studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product-plain-studio-background1258-63884-2-ZrP {
          height: 30rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          object-fit: cover;
          vertical-align: top;
          width: 151.2rem;
        }
        .removebg-preview-2-CeT {
          height: 30.1rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 151.2rem;
        }
        .group-89-4wZ {
          width: 35rem;
          left: 0;
          display: flex;
          flex-direction: column;
          border-radius: 1.5rem;
          height: 21.3rem;
          position: absolute;
          top: 5.5rem;
          align-items: center;

          .hurry--ADu {
            line-height: 0.5;
            color: #ffffff;
            font-family: Kavoon, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            font-size: 6rem;
            font-weight: 400;
          }
          .sales-end-today-TTu {
            flex-shrink: 0;
            margin: 0rem 0rem 1.6rem 0.1rem;
            font-size: 4rem;
            font-weight: 500;
            line-height: 0.75;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
          }
          .grab-deals-before-its-over-615 {
            font-weight: 500;
            line-height: 1;
            color: #121212;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            font-size: 3rem;
          }
          .frame-96-Amd {
            margin: 0rem 9.5rem 0rem 9.6rem;
            height: 5rem;
            line-height: 1;
            border-radius: 1.5rem;
            color: #121212;
            font-family: Jost, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            background-color: #fff400;
            flex-shrink: 0;
            display: flex;
            width: calc(100% - 19.1rem);
            font-size: 3rem;
            font-weight: 500;
            white-space: nowrap;
          }
        }
        .online-shopping-day-sale-banner87202-1081-removebg-preview-3-ucj {
          background-position: -1.7444rem -4.1976rem;
          background-image: url('REPLACE_IMAGE:aaa53afd5f5186135cc318f67ce4691d96e29d93');
          width: 26rem;
          height: 24.6071rem;
          position: relative;
          left: 0;
          top: 2.7rem;
          background-size: 206.07% 130.641%;
        }
        .online-shopping-day-sale-banner87202-1081-removebg-preview-4-sT5 {
          background-size: 206.07% 130.641%;
          background-position: -1.7444rem -4.1976rem;
          background-image: url('REPLACE_IMAGE:aaa53afd5f5186135cc318f67ce4691d96e29d93');
          width: 26rem;
          height: 24.6071rem;
          position: relative;
          left: 0;
          top: 2.7rem;
        }
      }
      .group-93-g9d {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #d9d9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.1rem 24rem 0.1rem 26.2rem;
        width: 151.2rem;

        .auto-group-f2nk-YSj {
          margin: 0rem 3.095rem 0.514rem 0rem;
          width: 26.6052rem;
          height: 29.3862rem;
          position: relative;
          flex-shrink: 0;

          .stilo-tattoo-pen-pearly-pink-removebg-preview-1-BEo {
            background-image: url('REPLACE_IMAGE:2dfc909d36e5fa2686c4429de8d6c10e81482c48');
            width: 24.1631rem;
            height: 29.3862rem;
            position: relative;
            left: 2.4421rem;
            top: 0;
            background-size: 146.823% 135.238%;
            background-position: -4.1352rem -5.7254rem;
          }
          .stilo-tattoo-pen-pearly-pink-removebg-preview-2-Cfh {
            background-image: url('REPLACE_IMAGE:2dfc909d36e5fa2686c4429de8d6c10e81482c48');
            width: 22.385rem;
            height: 28.3508rem;
            position: relative;
            left: 0;
            top: 0.8862rem;
            background-size: 146.823% 135.238%;
            background-position: -3.7189rem -5.543rem;
          }
        }
        .auto-group-ca8w-pBH {
          margin: 5.3rem 3.1rem 5.6rem 0rem;
          width: 43rem;
          height: calc(100% - 10.9rem);
          row-gap: 4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .shop-now-qcB {
            margin-right: 14.7rem;
            font-size: 6rem;
            font-weight: 400;
            line-height: 0.5;
            color: #ffffff;
            font-family: Kavoon, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .best-rotary-tattoo-pen-XV1 {
            line-height: 0.75;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 4rem;
            font-size: 4rem;
            font-weight: 500;
          }
          .frame-96-cmM {
            background-color: #fff400;
            flex-shrink: 0;
            width: calc(100% - 17.2rem);
            font-weight: 500;
            font-family: Jost, 'Source Sans Pro';
            justify-content: center;
            border-radius: 1.5rem;
            margin: 0rem 9.2rem 0rem 8rem;
            font-size: 3rem;
            align-items: center;
            white-space: nowrap;
            display: flex;
            height: 5rem;
            line-height: 1;
            color: #121212;
          }
        }
        .auto-group-zgxf-z1D {
          margin-bottom: 11.5rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .diwali-sale-4mm {
            font-size: 5rem;
            font-weight: 400;
            line-height: 0.6;
            color: #4600aa;
            font-family: Kaushan Script, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 2rem 2.4rem 0rem;
          }
          .up-to-30-off-9YK {
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3rem;
            font-weight: 500;
            line-height: 1;
            color: #ff0000;
          }
        }
      }
    }
    .group-96-26K {
      width: 151.2rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .group-94-7Nf {
        width: 151.2rem;
        height: 30.1rem;
        position: absolute;
        left: 0;
        top: 2.8rem;
        background-color: #d9d9d9;
        box-sizing: border-box;
        padding: 6.1rem 47.9rem 6rem 48rem;

        .group-95-NZV {
          flex-direction: column;
          border-radius: 1.5rem;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;

          .flat-50-off-HRZ {
            font-weight: 400;
            line-height: 0.5;
            color: #121212;
            font-family: Kaushan Script, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 24.2rem 4.5rem 0rem;
            font-size: 6rem;
          }
          .on-your-first-tattoo-booking-yJP {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 2.5rem 7rem;
            font-size: 4rem;
            font-weight: 300;
            line-height: 0.75;
            color: #ffffff;
            font-family: Kalam, 'Source Sans Pro';
          }
          .frame-97-NrK {
            color: #121212;
            font-family: Jost, 'Source Sans Pro';
            align-items: center;
            border-radius: 1.5rem;
            flex-shrink: 0;
            font-weight: 500;
            line-height: 1;
            justify-content: center;
            width: calc(100% - 39.6rem);
            display: flex;
            background-color: #fff400;
            margin: 0 19.8rem;
            height: 5rem;
            font-size: 3rem;
            white-space: nowrap;
          }
        }
      }
      .tattooed-man-with-headphones-against-blue-sky-ocean-1-Xsd {
        left: 100rem;
        top: 1.2rem;
        background-size: 100% 144.94%;
        background-position: 0 -14.2459rem;
        background-image: url('REPLACE_IMAGE:aa8fb953557cc96353b51af7528558f02bf05ac2');
        width: 31.1rem;
        height: 31.7rem;
        position: relative;
      }
      .muscular-man-with-tattoo-removebg-preview-1-JX1 {
        top: 0;
        background-size: 164.516% 186.018%;
        background-position: -7.4rem 0;
        background-image: url('REPLACE_IMAGE:b40ab2c36ba143451749c152d388bdc5e2d0a678');
        width: 24.8rem;
        height: 32.9rem;
        position: relative;
        left: 24.3rem;
      }
    }
  }
  .categories-hZ9 {
    margin-right: 99.2rem;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.0227272727;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-zrcs-kXR {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.4rem 15rem 0rem 15.1rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-nsgp-w67 {
      flex-shrink: 0;
      margin: 0rem 0.2rem 4rem 0.1rem;
      width: calc(100% - 0.3rem);
      height: 34.9rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;

      .frame-84-mqq {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        width: 27.2rem;
        height: 100%;
        background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
        border-radius: 1.2rem;

        .group-83-VWw {
          margin-bottom: 1.6rem;
          width: 100%;
          border-radius: 1.2rem;

          .rectangle-68-Bef {
            width: 25.2rem;
            height: 28.3rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.2rem;
          }
        }
        .tubes-grips-WqM {
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.25;
        }
      }
      .frame-85-9NX {
        background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
        flex-shrink: 0;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 27.2rem;
        height: 100%;
        border-radius: 1.2rem;

        .group-83-CLo {
          margin-bottom: 1.6rem;
          width: 100%;
          border-radius: 1.2rem;
          flex-shrink: 0;

          .rectangle-68-jLj {
            height: 28.3rem;
            position: relative;
            background-size: 112.302% 100%;
            background-position: 0.0389rem 0;
            background-image: url('REPLACE_IMAGE:8dc4c162d89e7fd104bd0a1c081abfd982e0aefc');
            border-radius: 1.2rem;
            width: 25.2rem;
          }
        }
        .needles-cartridges-mHR {
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.2rem;
          font-size: 2.4rem;
        }
      }
      .frame-86-v3q {
        height: 100%;
        cursor: pointer;
        background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        width: 27.2rem;

        .group-83-S2B {
          border-radius: 1.2rem;
          margin-bottom: 1.6rem;
          width: 100%;

          .rectangle-68-xmD {
            position: relative;
            background-size: 112.302% 100%;
            background-position: -0.9867rem 0;
            background-image: url('REPLACE_IMAGE:ccec2fa620a29b71b62333e561a1e63fa7f3da92');
            border-radius: 1.2rem;
            width: 25.2rem;
            height: 28.3rem;
          }
        }
        .tattoo-machines-AsH {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
        }
      }
      .frame-87-cjH {
        box-sizing: border-box;
        padding: 1rem;
        width: 27.2rem;
        height: 100%;
        background: linear-gradient(328.72deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
        border-radius: 1.2rem;
        flex-shrink: 0;

        .group-83-jou {
          margin-bottom: 1.6rem;
          width: 100%;
          border-radius: 1.2rem;

          .rectangle-68-sfD {
            height: 28.3rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.2rem;
            width: 25.2rem;
          }
        }
        .stencil-products-ifq {
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 500;
        }
      }
    }
    .auto-group-ryjw-ksR {
      height: 34.9rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.2rem 4rem 0.1rem;
      width: calc(100% - 0.3rem);

      .frame-88-24F {
        background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        width: 27.2rem;
        height: 100%;

        .group-83-JnT {
          margin-bottom: 1.6rem;
          width: 100%;
          border-radius: 1.2rem;

          .rectangle-68-T9Z {
            position: relative;
            background-size: 156.42% 100%;
            background-position: -7.2163rem 1.7184rem;
            background-image: url('REPLACE_IMAGE:fd5b103d38ccbbfd09668bec4390e1461cbe25ed');
            border-radius: 1.2rem;
            width: 25.2rem;
            height: 28.3rem;
          }
        }
        .medical-supplies-6CX {
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
      }
      .frame-89-uQs {
        height: 100%;
        background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        width: 27.2rem;

        .group-83-2VV {
          border-radius: 1.2rem;
          margin-bottom: 1.6rem;
          width: 100%;

          .rectangle-68-kwH {
            background-image: url('REPLACE_IMAGE:d1b1fcb8ee1ece23625cb4068b5cde993053efdc');
            border-radius: 1.2rem;
            width: 25.2rem;
            height: 28.3rem;
            position: relative;
            background-size: 168.321% 100%;
            background-position: -3.3371rem 0.3401rem;
          }
        }
        .tattoo-ink-16X {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
        }
      }
      .frame-90-p3y {
        box-sizing: border-box;
        padding: 1rem;
        width: 27.2rem;
        height: 100%;
        background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
        border-radius: 1.2rem;
        flex-shrink: 0;

        .group-83-L2K {
          margin-bottom: 1.6rem;
          width: 100%;
          border-radius: 1.2rem;

          .rectangle-68-4yu {
            width: 25.2rem;
            height: 28.3rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.2rem;
          }
        }
        .power-supplies-KQ3 {
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
      }
      .frame-91-a55 {
        box-sizing: border-box;
        padding: 1rem;
        width: 27.2rem;
        height: 100%;
        background: linear-gradient(328.72deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
        border-radius: 1.2rem;
        flex-shrink: 0;

        .group-83-Vhq {
          margin-bottom: 1.6rem;
          width: 100%;
          border-radius: 1.2rem;

          .rectangle-68-E9d {
            background-position: -1.1133rem 0;
            background-image: url('REPLACE_IMAGE:dcc3a88a81759d7c5ec40968d4bd2b42e384f8ff');
            border-radius: 1.2rem;
            width: 25.2rem;
            height: 28.3rem;
            position: relative;
            background-size: 168.36% 100%;
          }
        }
        .accessories-dhZ {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .top-deals-UTH {
      font-size: 4.4rem;
      font-weight: 600;
      line-height: 1.0227272727;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 101.7rem 4.4rem 0rem;
    }
    .auto-group-tjhr-9ZR {
      margin: 0rem 0.3rem 6rem 0rem;
      height: 37.9rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;

      .frame-92-PTm {
        border-radius: 1.2rem;
        width: 27.2rem;
        height: 100%;
        background: linear-gradient(152.75deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        row-gap: 0.8rem;

        .group-83-gSs {
          width: 100%;
          border-radius: 1.2rem;
          flex-shrink: 0;

          .rectangle-68-EUP {
            width: 25.2rem;
            height: 28.3rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.2rem;
          }
        }
        .tattoo-machine-Udd {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
        }
        .min40-60-off-yqH {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .frame-93-22s {
        padding: 1rem;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 27.2rem;
        height: 100%;
        row-gap: 0.8rem;
        flex-direction: column;
        background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
        border-radius: 1.2rem;

        .group-83-sJP {
          flex-shrink: 0;
          width: 100%;
          border-radius: 1.2rem;

          .rectangle-68-Dt3 {
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.2rem;
            width: 25.2rem;
            height: 28.3rem;
          }
        }
        .universal-battery-KAP {
          line-height: 1.5;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
        }
        .under-999-zGX {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-94-D9H {
        width: 27.2rem;
        flex-direction: column;
        background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
        border-radius: 1.2rem;
        box-sizing: border-box;
        padding: 1rem;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        row-gap: 0.8rem;

        .group-83-Snj {
          flex-shrink: 0;
          width: 100%;
          border-radius: 1.2rem;

          .rectangle-68-atw {
            position: relative;
            background-size: 112.302% 100%;
            background-position: -0.062rem 0;
            background-image: url('REPLACE_IMAGE:0c24685cb63b901c4cf397d4516a7e3552e2b872');
            border-radius: 1.2rem;
            width: 25.2rem;
            height: 28.3rem;
          }
        }
        .cinra-cartridges-system-bZ9 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
        .off-enK {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .frame-95-5Mq {
        background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
        border-radius: 1.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem;
        width: 27.2rem;
        height: 100%;
        row-gap: 0.8rem;
        display: flex;
        flex-direction: column;

        .group-83-jBV {
          width: 100%;
          border-radius: 1.2rem;
          flex-shrink: 0;

          .rectangle-68-sYb {
            width: 25.2rem;
            height: 28.3rem;
            position: relative;
            background-size: 168.36% 100%;
            background-position: -6.1133rem 0;
            background-image: url('REPLACE_IMAGE:d9a4964c11a3163d2f826e3df74d6d77f8531c84');
            border-radius: 1.2rem;
          }
        }
        .element-tattoo-ink-rvK {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .under-699-kko {
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
    }
    .group-130-wqH {
      width: 121rem;
      height: 46.4rem;
      position: relative;
      border-top: solid 0.1rem #ffffff;
      box-sizing: border-box;
      flex-shrink: 0;
      margin-left: 0.1rem;

      .rectangle-129-2rj {
        width: 120.8rem;
        height: 46.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #121212;
      }
      .rectangle-130-LcX {
        top: 0;
        background-color: #121212;
        width: 120.8rem;
        height: 46.4rem;
        position: absolute;
        left: 0;
      }
      .group-123-ras {
        top: 39.4rem;
        display: flex;
        align-items: center;
        width: 22.4rem;
        height: 3rem;
        position: absolute;
        left: 0;

        .tattoo-KjM {
          font-size: 4.4rem;
          line-height: 0.6818181818;
          letter-spacing: 0.088rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.7rem;
          white-space: nowrap;
          font-weight: 500;
        }
        .tales-Co9 {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4.4rem;
          font-weight: 500;
          line-height: 0.6818181818;
          letter-spacing: 0.088rem;
        }
      }
      .group-124-5M9 {
        top: 2.4rem;
        width: 23.8rem;
        height: 14.8rem;
        position: absolute;
        left: 22.2rem;

        .company-A7h {
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: 0.064rem;
        }
        .tattootalesgmailcom-FQ3 {
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.2rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .about-Y8F {
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
        }
      }
      .group-125-o4B {
        position: absolute;
        left: 88.3rem;
        top: 2.4rem;
        width: 32.7rem;
        height: 25.6rem;

        .auto-group-tszd-Hzw {
          align-items: center;
          margin: 0rem 0.8rem 1.6rem 0rem;
          width: calc(100% - 0.8rem);
          height: 4rem;
          display: flex;

          .the-y75 {
            letter-spacing: 0.064rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.25;
          }
          .auto-group-dz4w-dSX {
            padding-left: 0.2rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;

            .group-118-9Qs {
              align-items: center;
              flex-shrink: 0;
              margin: 0.5rem 1.2rem 0.5rem 0rem;
              height: calc(100% - 1rem);
              display: flex;

              .tattoo-e6j {
                line-height: 0.9375;
                font-family: Jost, 'Source Sans Pro';
                margin-right: 1.2rem;
                font-size: 3.2rem;
                font-weight: 600;
                letter-spacing: 0.064rem;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .tales-5xj {
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 0.9375;
                letter-spacing: 0.064rem;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .app-PiX {
              line-height: 1.25;
              letter-spacing: 0.064rem;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.2rem;
              font-weight: 600;
            }
          }
        }
        .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-VWf {
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          margin-left: 0.2rem;
          max-width: 32.5rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .group-126-fpT {
        position: absolute;
        left: 56.7rem;
        top: 2.4rem;
        width: 21rem;
        height: 14.8rem;

        .legal-xHm {
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: 0.064rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
        }
        .terms-conditions-Sij {
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.2rem 0.3rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
        }
        .privacy-policy-U9d {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.3rem;
        }
      }
      .group-127-m8j {
        width: 11.5rem;
        height: 20rem;
        position: absolute;
        left: 0;
        top: 2.4rem;

        .explore-eyD {
          line-height: 1.25;
          letter-spacing: 0.064rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 3.2rem;
          font-weight: 600;
        }
        .artist-iiB {
          white-space: nowrap;
          margin-bottom: 1.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
        .blog-dKM {
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.2rem;
          font-size: 2.4rem;
        }
        .shop-vJT {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
