
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-16-TEo {
  height: 98.2rem;
  position: relative;
  overflow: hidden;
  background-color: #121212;
  width: 100%;

  .group-89-f5y {
    position: absolute;
    left: 82.9rem;
    top: 23.046rem;
    width: 64.7rem;
    height: 74.7623rem;

    .polygon-6-KZq {
      left: 9.0844rem;
      top: 13.676rem;
      object-fit: contain;
      vertical-align: top;
      width: 55.6156rem;
      height: 61.0863rem;
      position: absolute;
    }
    .polygon-5-k9D {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 54.7039rem;
      height: 60.0877rem;
      position: absolute;
    }
    .removebg-preview-1-pPy {
      position: relative;
      left: 17.3057rem;
      top: 4.254rem;
      background-size: 168.085% 102.067%;
      background-position: -14.3637rem 0;
      background-image: url('REPLACE_IMAGE:2e34e6de3631c8ea9c04dc276664f073975a74fb');
      width: 37.2981rem;
      height: 61.4231rem;
    }
  }
  .group-85-WRD {
    border-radius: 2.5rem;
    width: 59rem;
    height: 33.2rem;
    position: absolute;
    left: 15rem;
    top: 31.5rem;

    .explore-the-ZPV {
      margin-bottom: 3.2rem;
      font-size: 5.2rem;
      font-weight: 600;
      line-height: 0.5769230769;
      letter-spacing: 0.104rem;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
    }
    .art-of-identity-nGF {
      font-size: 5.2rem;
      font-weight: 600;
      line-height: 0.5769230769;
      letter-spacing: 0.104rem;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 6rem 10.7rem;
    }
    .dive-into-a-world-where-tattoos-are-more-than-art-theyre-identity-ybd {
      font-family: Jost, 'Source Sans Pro';
      margin: 0rem 0rem 4rem 0.2rem;
      max-width: 55.6rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.6666666667;
      letter-spacing: 0.048rem;
      color: #ffffff;
    }
    .group-76-jz7 {
      letter-spacing: 0.048rem;
      white-space: nowrap;
      align-items: center;
      cursor: pointer;
      font-weight: 600;
      justify-content: center;
      background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
      font-family: Jost, 'Source Sans Pro';
      width: 25.2rem;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #ffffff;
      margin-left: 0.2rem;
      height: 6rem;
      display: flex;
      border-radius: 2.5rem;
    }
  }
  .group-137-vSK {
    left: 56.5rem;
    top: 2.5rem;
    width: 38.85rem;
    height: 24.85rem;
    position: absolute;

    .electric-lightning-logo-icon-illustration1058532-11337-removebg-preview-1-Pqh {
      width: 14.3145rem;
      height: 14.99rem;
      position: relative;
      left: 6.4499rem;
      top: 9.75rem;
      background-size: 119.904% 113.379%;
      background-position: -1.315rem -1.1436rem;
      background-image: url('REPLACE_IMAGE:77961d48ff2c038239bd8e55eedb2e49b119cf87');
    }
    .removebg-preview-1-9Cb {
      left: 13.65rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 25.2rem;
      height: 16.9655rem;
      position: absolute;
    }
    .tattoo-X6f {
      position: absolute;
      left: 0;
      font-size: 7.8rem;
      letter-spacing: 0.156rem;
      font-family: Henny Penny, 'Source Sans Pro';
      white-space: nowrap;
      width: 19.9rem;
      height: 9rem;
      top: 4.5rem;
      font-weight: 400;
      line-height: 1.1538461538;
      color: #ffffff;
    }
    .tales-L47 {
      letter-spacing: 0.156rem;
      position: absolute;
      top: 14.25rem;
      font-size: 7.8rem;
      font-weight: 400;
      line-height: 1.3461538462;
      font-family: Henny Penny, 'Source Sans Pro';
      white-space: nowrap;
      width: 18.8rem;
      height: 10.6rem;
      left: 16.95rem;
    }
    .group-138-nB1 {
      width: 38.85rem;
      height: 24.85rem;
      position: absolute;
      left: 0;
      top: 0;

      .electric-lightning-logo-icon-illustration1058532-11337-removebg-preview-1-TH9 {
        position: relative;
        left: 6.4499rem;
        top: 9.75rem;
        background-size: 119.904% 113.379%;
        background-position: -1.315rem -1.1436rem;
        background-image: url('REPLACE_IMAGE:77961d48ff2c038239bd8e55eedb2e49b119cf87');
        width: 14.3145rem;
        height: 14.99rem;
      }
      .removebg-preview-1-dL3 {
        height: 16.9655rem;
        position: absolute;
        left: 13.65rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 25.2rem;
      }
      .tattoo-XgK {
        line-height: 1.1538461538;
        letter-spacing: 0.156rem;
        font-family: Henny Penny, 'Source Sans Pro';
        height: 9rem;
        position: absolute;
        top: 4.5rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        width: 19.9rem;
        left: 0;
        font-size: 7.8rem;
      }
      .tales-M9Z {
        width: 18.8rem;
        height: 10.6rem;
        position: absolute;
        top: 14.25rem;
        font-size: 7.8rem;
        letter-spacing: 0.156rem;
        white-space: nowrap;
        left: 16.95rem;
        font-weight: 400;
        line-height: 1.3461538462;
        font-family: Henny Penny, 'Source Sans Pro';
      }
    }
  }
}
