
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-22-reT {
  flex-direction: column;
  background-color: #121212;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .group-87-veK {
    box-sizing: border-box;
    padding: 5.926rem 15.2rem 1.848rem 15.1rem;
    height: 13.8rem;
    display: flex;
    align-items: center;
    background-color: #121212;
    flex-shrink: 0;
    margin-bottom: 4rem;
    width: 100%;

    .group-77-MzX {
      margin: 1.474rem 6.9rem 1.52rem 0rem;
      height: calc(100% - 2.9939rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .tattoo-ByZ {
        font-weight: 400;
        letter-spacing: 0.064rem;
        white-space: nowrap;
        margin: 0.032rem 1.6rem 0rem 0rem;
        font-size: 3.2rem;
        line-height: 0.9375;
        color: #ffffff;
        font-family: Henny Penny, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .tales-1So {
        margin-bottom: 0.0324rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9375;
        letter-spacing: 0.064rem;
        font-family: Henny Penny, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .frame-10-eVm {
      overflow: hidden;
      position: relative;
      display: flex;
      border-radius: 2rem;
      margin: 0rem 7.5rem 0.026rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 3.2rem;
      height: calc(100% - 0.0263rem);
      align-items: center;
      background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
      flex-shrink: 0;

      .home-ghM {
        margin-right: 8.4rem;
        cursor: pointer;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.25;
      }
      .artists-KVR {
        margin-right: 8.4rem;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.25;
        flex-shrink: 0;
        cursor: pointer;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
      .shop-aw9 {
        font-weight: 600;
        flex-shrink: 0;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 8.3rem;
        cursor: pointer;
        font-size: 2.4rem;
        line-height: 1.25;
        color: #ffffff;
      }
      .blog-eRD {
        margin-right: 8.4rem;
        cursor: pointer;
        font-weight: 600;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 1.25;
        color: #ffffff;
      }
      .about-us-9My {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.25;
        color: #121212;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-75-vn3 {
      flex-shrink: 0;
      font-weight: 600;
      font-family: Jost, 'Source Sans Pro';
      align-items: center;
      border-radius: 2rem;
      line-height: 1.25;
      white-space: nowrap;
      justify-content: center;
      width: 15rem;
      color: #ffffff;
      display: flex;
      background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
      height: 100%;
      font-size: 2.4rem;
      letter-spacing: 0.048rem;
    }
  }
  .about-D8s {
    flex-shrink: 0;
    margin: 0rem 17.7rem 4rem 0rem;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 0.6818181818;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-frtt-fWf {
    margin: 0rem 14.9rem 11.1rem 15.3rem;
    width: calc(100% - 30.2rem);
    height: 32rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .group-138-6rs {
      margin: 0.3rem 1.55rem 0rem 0rem;
      width: 43.85rem;
      height: 27.984rem;
      position: relative;
      flex-shrink: 0;

      .electric-lightning-logo-icon-illustration1058532-11337-removebg-preview-1-yvf {
        position: relative;
        left: 7.2799rem;
        top: 11.0048rem;
        background-size: 119.904% 113.379%;
        background-position: -1.4843rem -1.2907rem;
        background-image: url('REPLACE_IMAGE:77961d48ff2c038239bd8e55eedb2e49b119cf87');
        width: 16.1567rem;
        height: 16.9192rem;
      }
      .removebg-preview-1-MgK {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 28.4432rem;
        height: 19.149rem;
        position: absolute;
        left: 15.4068rem;
      }
      .tattoo-Cwq {
        white-space: nowrap;
        height: 10.2rem;
        left: 0;
        top: 5.079rem;
        font-weight: 400;
        letter-spacing: 0.1761rem;
        font-family: Henny Penny, 'Source Sans Pro';
        width: 22.4rem;
        position: absolute;
        font-size: 8.8038rem;
        line-height: 1.1538459339;
        color: #ffffff;
      }
      .tales-FfD {
        width: 21.2rem;
        position: absolute;
        left: 19.1316rem;
        font-weight: 400;
        font-family: Henny Penny, 'Source Sans Pro';
        white-space: nowrap;
        height: 11.9rem;
        top: 16.084rem;
        font-size: 8.8038rem;
        line-height: 1.3461537195;
        letter-spacing: 0.1761rem;
      }
    }
    .auto-group-klvd-3qy {
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      row-gap: 4rem;
      display: flex;

      .our-mission-is-to-help-you-find-the-right-artist-for-your-next-tattoo-AQo {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
      .we-believe-that-getting-a-tattoo-should-be-safe-and-easy-thats-why-we-strive-to-make-the-process-of-finding-a-quality-artist-making-an-appointment-and-getting-a-tattoo-a-great-experience-no-matter-if-its-your-first-tattoo-or-fifty-first-E9m {
        max-width: 75.6rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .tattooing-is-about-life-expression-and-identity-its-about-discovering-and-defining-who-you-are-and-making-it-a-permanent-part-of-yourself-and-tattoo-tales-is-here-to-help-you-on-every-step-of-your-journey-iz3 {
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 74.2rem;
        font-size: 2.4rem;
      }
    }
  }
  .a-better-way-to-get-tattooed-H9y {
    font-weight: 600;
    line-height: 0.6818181818;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 1.8rem 6rem 0rem;
    font-size: 4.4rem;
  }
  .auto-group-sclf-9T5 {
    margin: 0rem 14.7rem 6rem 15.2rem;
    width: calc(100% - 29.9rem);
    height: 23.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-gvs9-B8s {
      box-sizing: border-box;
      padding-right: 3.2rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .group-133-Gg7 {
        margin: 0.1rem 3.2rem 0rem 0rem;
        width: 35.1rem;
        border-radius: 1rem;
        flex-shrink: 0;

        .frame-98-kbH {
          height: 4.4001rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 1rem;
          margin: 0rem 0rem 1.8rem 0.1rem;
          width: 4.5002rem;
        }
        .trusted-tattooers-zEj {
          font-size: 3.4rem;
          font-weight: 600;
          line-height: 0.8823529412;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.4rem;
        }
        .we-hand-pick-every-tattoo-artist-to-ensure-your-tattoo-experience-is-handle-with-care-quality-and-iclusivity-U9u {
          max-width: 34.9rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
      }
      .group-134-tjR {
        width: 42.7rem;
        border-radius: 1rem;
        flex-shrink: 0;

        .frame-99-1Z9 {
          width: 4.5rem;
          height: 4.5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 1rem;
          margin-bottom: 1.8rem;
        }
        .secure-payments-sLT {
          font-size: 3.4rem;
          font-weight: 600;
          line-height: 0.8823529412;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.4rem;
        }
        .we-use-stripe-to-process-all-payments-you-can-pay-with-you-credit-card-or-paypal-mAw {
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          max-width: 40.6rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.25;
        }
      }
    }
    .group-135-zZV {
      flex-shrink: 0;
      width: 37.1rem;
      height: 100%;
      border-radius: 1rem;

      .frame-100-H2o {
        margin-bottom: 1.8rem;
        width: 4.5rem;
        height: 4.5rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
      }
      .tattoo-tales-support-AsH {
        white-space: nowrap;
        margin-bottom: 2.4rem;
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 0.8823529412;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
      .tattoo-tales-support-will-assist-you-throughout-your-tattoo-experience-to-ensure-you-experience-is-as-safe-and-secure-as-possible-GQX {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        max-width: 37rem;
      }
    }
  }
  .group-132-45V {
    height: 46.4rem;
    position: relative;
    border-top: solid 0.1rem #ffffff;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0rem 15rem 0rem 15.2rem;
    width: calc(100% - 30.2rem);

    .rectangle-129-uro {
      width: 120.8rem;
      height: 46.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #121212;
    }
    .rectangle-130-oxB {
      width: 120.8rem;
      height: 46.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #121212;
    }
    .group-123-tCw {
      align-items: center;
      width: 22.4rem;
      height: 3rem;
      position: absolute;
      left: 0;
      top: 39.4rem;
      display: flex;

      .tattoo-yVH {
        margin-right: 0.7rem;
        font-weight: 500;
        color: #ffffff;
        flex-shrink: 0;
        font-size: 4.4rem;
        line-height: 0.6818181818;
        letter-spacing: 0.088rem;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
      .tales-FSo {
        line-height: 0.6818181818;
        letter-spacing: 0.088rem;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.4rem;
        font-weight: 500;
      }
    }
    .group-124-ibH {
      width: 23.8rem;
      height: 14.8rem;
      position: absolute;
      left: 22.2rem;
      top: 2.4rem;

      .company-CWT {
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.064rem;
        color: #ffffff;
      }
      .tattootalesgmailcom-gwR {
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
      .about-YCw {
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
    }
    .group-125-EbZ {
      position: absolute;
      left: 88.3rem;
      top: 2.4rem;
      width: 32.7rem;
      height: 25.6rem;

      .auto-group-utnx-L8o {
        margin: 0rem 0.8rem 1.6rem 0rem;
        width: calc(100% - 0.8rem);
        height: 4rem;
        display: flex;
        align-items: center;

        .the-c6K {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: 0.064rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
        .auto-group-rqhm-4yu {
          padding-left: 0.2rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .group-118-xpP {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.5rem 1.2rem 0.5rem 0rem;
            height: calc(100% - 1rem);

            .tattoo-FoV {
              letter-spacing: 0.064rem;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              font-weight: 600;
              line-height: 0.9375;
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.2rem;
              font-size: 3.2rem;
            }
            .tales-URM {
              font-weight: 600;
              line-height: 0.9375;
              letter-spacing: 0.064rem;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.2rem;
            }
          }
          .app-8F1 {
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.25;
            letter-spacing: 0.064rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-RE7 {
        margin-left: 0.2rem;
        max-width: 32.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
    }
    .group-126-q2w {
      top: 2.4rem;
      width: 21rem;
      height: 14.8rem;
      position: absolute;
      left: 56.7rem;

      .legal-HQj {
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.064rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
      .terms-conditions-nMV {
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1.2rem 0.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
      }
      .privacy-policy-qqZ {
        margin-left: 0.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-127-toq {
      width: 11.5rem;
      height: 20rem;
      position: absolute;
      left: 0;
      top: 2.4rem;

      .explore-PVh {
        line-height: 1.25;
        letter-spacing: 0.064rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
      }
      .artist-fi7 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
      }
      .blog-8Lo {
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
      }
      .shop-RKu {
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
  }
}
