
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-21-seX {
  background-color: #121212;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .group-87-kCX {
    flex-shrink: 0;
    margin-bottom: 4rem;
    box-sizing: border-box;
    height: 22.9rem;
    align-items: center;
    background-color: #121212;
    padding: 5.926rem 15.2rem 2.411rem 15.1rem;
    width: 100%;
    display: flex;

    .group-77-XMh {
      margin: 0rem 6.9rem 8.583rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .tattoo-DEX {
        color: #ffffff;
        flex-shrink: 0;
        margin: 0.032rem 1.6rem 0rem 0rem;
        line-height: 0.9375;
        letter-spacing: 0.064rem;
        font-family: Henny Penny, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3.2rem;
        font-weight: 400;
      }
      .tales-pk7 {
        margin-bottom: 0.0324rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 0.9375;
        letter-spacing: 0.064rem;
        font-family: Henny Penny, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-vnf9-4PZ {
      margin-right: 7.5rem;
      width: 74rem;
      height: 100%;
      flex-shrink: 0;

      .frame-10-mHy {
        box-sizing: border-box;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 4.0438rem;
        padding: 1.5rem 3.2rem;
        overflow: hidden;
        background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
        border-radius: 2rem;

        .home-3FV {
          cursor: pointer;
          font-size: 2.4rem;
          color: #ffffff;
          margin-right: 8.4rem;
          font-weight: 600;
          line-height: 1.25;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .artists-eFH {
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 8.4rem;
          cursor: pointer;
          font-size: 2.4rem;
          font-weight: 600;
          flex-shrink: 0;
        }
        .shop-KsD {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          margin-right: 8.3rem;
          cursor: pointer;
          font-weight: 600;
        }
        .blog-NKh {
          line-height: 1.25;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 8.4rem;
          font-size: 2.4rem;
          font-weight: 600;
        }
        .about-us-g5V {
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2.4rem;
        }
      }
      .auto-group-twh9-r8P {
        width: calc(100% - 5.5rem);
        height: 4.5197rem;
        display: flex;
        align-items: center;
        margin-right: 5.5rem;

        .group-81-ve3 {
          height: 100%;
          border: solid 0.1rem #ffffff;
          background-color: #121212;
          flex-shrink: 0;
          margin-right: 4rem;
          box-sizing: border-box;
          padding: 0.804rem 9.9rem 0.716rem 1.6rem;
          display: flex;
          align-items: center;
          border-radius: 1.2rem;

          .vector-c15 {
            flex-shrink: 0;
            margin: 0rem 1.2rem 0.023rem 0rem;
            width: 1.7rem;
            height: 2.1731rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ambattur-chennai-36P {
            line-height: 1.875;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .group-80-5Hy {
          box-sizing: border-box;
          padding: 0.804rem 27rem 0.716rem 1.6rem;
          height: 100%;
          border-radius: 1.2rem;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          border: solid 0.1rem #ffffff;
          background-color: #121212;

          .vector-jNX {
            margin: 0rem 2.097rem 0.185rem 0rem;
            width: 2.003rem;
            height: 2.0118rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .search-Pxs {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .group-75-cqd {
      margin-bottom: 8.5373rem;
      height: 6.0263rem;
      border-radius: 2rem;
      width: 15rem;
      line-height: 1.25;
      letter-spacing: 0.048rem;
      white-space: nowrap;
      font-family: Jost, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 600;
      color: #ffffff;
      display: flex;
    }
  }
  .auto-group-daf9-gU7 {
    box-sizing: border-box;
    padding: 4rem 4rem 4.9rem 4rem;
    align-items: center;
    background: linear-gradient(326.86deg, rgba(0, 224, 255, 0.150000006) 100%, rgba(0, 72, 82, 0.150000006) 200%);
    flex-shrink: 0;
    margin: 0rem 15.2rem 6rem 15.2rem;
    width: calc(100% - 30.4rem);
    height: 149.5rem;
    display: flex;
    column-gap: 5.1rem;
    border-radius: 5rem;

    .auto-group-angf-hu1 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 34.2rem;
      height: 100%;
      align-items: center;

      .auto-group-2jjd-R4K {
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;
        height: 68.3rem;
        position: relative;

        .rectangle-91-47H {
          background-color: #d9d9d9;
          width: 34.2rem;
          height: 34.4rem;
          position: absolute;
          left: 0;
          top: 33.9rem;
          border: solid 0.1rem #a3a3a3;
          box-sizing: border-box;
        }
        .days-ago-ixX {
          font-weight: 400;
          font-family: Jost, 'Source Sans Pro';
          width: 7.4rem;
          position: absolute;
          font-size: 1.6rem;
          line-height: 1.875;
          color: #3f3f3f;
          white-space: nowrap;
          height: 3rem;
          left: 1.6rem;
          top: 36.3rem;
        }
        .aliens-tattoo-redefines-artistry-at-kula-2024-LDD {
          height: 6rem;
          position: absolute;
          top: 41.7rem;
          font-size: 2.4rem;
          width: 26.3rem;
          left: 1.6rem;
          font-weight: 700;
          line-height: 1.25;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
        }
        .at-aliens-tattoo-we-are-overjoyed-over-the-stellar-performances-of-our-artists-at-this-years-kula-tattoo--9wM {
          line-height: 1.875;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          height: 9rem;
          font-size: 1.6rem;
          font-weight: 400;
          top: 49.3rem;
          width: 30.5rem;
          position: absolute;
          left: 1.6rem;
        }
        .min-VNw {
          width: 3.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.875;
          height: 3rem;
          position: absolute;
          left: 11.2rem;
          top: 36.3rem;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-101-V1Z {
          position: absolute;
          font-weight: 400;
          line-height: 1.875;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
          height: 3rem;
          left: 5.4rem;
          top: 64rem;
          font-size: 1.6rem;
          white-space: nowrap;
          width: 2.4rem;
        }
        .item-18-Xiw {
          position: absolute;
          top: 64rem;
          font-size: 1.6rem;
          line-height: 1.875;
          white-space: nowrap;
          width: 1.6rem;
          height: 3rem;
          left: 12.4rem;
          font-weight: 400;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
        }
        .item-67-XsM {
          left: 27.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.875;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.8rem;
          height: 3rem;
          position: absolute;
          top: 64rem;
        }
        .item--BS7 {
          position: absolute;
          left: 9.8rem;
          font-size: 1.6rem;
          color: #525252;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          width: 0.6rem;
          height: 3rem;
          top: 36rem;
          font-weight: 800;
          line-height: 1.875;
        }
        .rectangle-88-RLT {
          left: 0;
          border-radius: 2rem 2rem 0 0;
          top: 0;
          background-size: 100% 150.422%;
          background-position: 0.0678rem -1.5254rem;
          background-image: url('REPLACE_IMAGE:002d6826026c901cdda1e7542dd6b7959c6e7750');
          width: 34.2rem;
          height: 34.1rem;
          position: relative;
        }
        .line-97-2LF {
          width: 31rem;
          height: 0.1rem;
          position: absolute;
          left: 1.6rem;
          top: 62.9rem;
          background-color: #6c6c6c;
        }
        .vector-sLs {
          width: 3rem;
          height: 2rem;
          position: absolute;
          left: 1.6rem;
          top: 64.5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-Aas {
          vertical-align: top;
          width: 2.6rem;
          height: 2.4rem;
          position: absolute;
          left: 9rem;
          top: 64.3rem;
          object-fit: contain;
        }
        .vector-rTh {
          vertical-align: top;
          width: 2.8rem;
          height: 2.3994rem;
          position: absolute;
          left: 29.8rem;
          top: 64.3rem;
          object-fit: contain;
        }
      }
      .auto-group-yjat-ugs {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 68.3rem;

        .rectangle-94-ygj {
          border: solid 0.1rem #a3a3a3;
          box-sizing: border-box;
          background-color: #d9d9d9;
          width: 34.2rem;
          height: 34.4rem;
          position: absolute;
          left: 0;
          top: 33.9rem;
        }
        .dec-14-2023-U7h {
          height: 3rem;
          font-size: 1.6rem;
          line-height: 1.875;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          width: 9.5rem;
          left: 1.6rem;
          top: 36.3rem;
          font-weight: 400;
          color: #3f3f3f;
          position: absolute;
        }
        .essential-tips-for-pre-and-post-tattoo-care-V2o {
          top: 41.7rem;
          font-size: 2.4rem;
          font-weight: 700;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          width: 28.4rem;
          height: 6rem;
          position: absolute;
          left: 1.6rem;
          line-height: 1.25;
        }
        .getting-a-tattoo-is-indeed-a-unique-and-transformative-experience-offering-an-outlet-for-personal-expression-it-igF {
          left: 1.6rem;
          top: 49.3rem;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          height: 9rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.875;
          width: 29.8rem;
          font-size: 1.6rem;
        }
        .min-tj9 {
          height: 3rem;
          position: absolute;
          left: 12.8rem;
          font-weight: 400;
          white-space: nowrap;
          width: 3.9rem;
          top: 36.3rem;
          font-size: 1.6rem;
          line-height: 1.875;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
        }
        .item-101-ZaP {
          font-family: Jost, 'Source Sans Pro';
          height: 3rem;
          left: 5.4rem;
          top: 64rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.875;
          width: 2.4rem;
          position: absolute;
          color: #3f3f3f;
          white-space: nowrap;
        }
        .item-18-Q5D {
          line-height: 1.875;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.6rem;
          top: 64rem;
          left: 12.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          color: #3f3f3f;
          height: 3rem;
          position: absolute;
        }
        .item-67-dif {
          width: 1.8rem;
          position: absolute;
          left: 27.2rem;
          top: 64rem;
          font-size: 1.6rem;
          height: 3rem;
          font-weight: 400;
          line-height: 1.875;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--hTd {
          width: 0.6rem;
          position: absolute;
          left: 11.4rem;
          top: 36rem;
          font-size: 1.6rem;
          height: 3rem;
          font-weight: 800;
          line-height: 1.875;
          color: #525252;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-97-94j {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem 2rem 0 0;
          width: 34.2rem;
          height: 34.1rem;
          position: absolute;
          left: 0;
        }
        .line-100-2eK {
          width: 31rem;
          height: 0.1rem;
          position: absolute;
          left: 1.6rem;
          top: 62.9rem;
          background-color: #6c6c6c;
        }
        .vector-7Qs {
          top: 64.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 2rem;
          position: absolute;
          left: 1.6rem;
        }
        .vector-n1D {
          position: absolute;
          left: 9rem;
          top: 64.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.6rem;
          height: 2.4rem;
        }
        .vector-t4F {
          position: absolute;
          left: 29.8rem;
          top: 64.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.8rem;
          height: 2.3994rem;
        }
      }
    }
    .auto-group-kcd5-tyM {
      flex-direction: column;
      flex-shrink: 0;
      width: 34.2rem;
      height: 100%;
      align-items: center;
      display: flex;

      .auto-group-21ex-bcs {
        height: 68.3rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;

        .rectangle-92-SdV {
          border: solid 0.1rem #a3a3a3;
          box-sizing: border-box;
          background-color: #d9d9d9;
          width: 34.2rem;
          height: 34.4rem;
          position: absolute;
          left: 0;
          top: 33.9rem;
        }
        .jan-2-gXq {
          font-weight: 400;
          line-height: 1.875;
          color: #3f3f3f;
          white-space: nowrap;
          width: 3.4rem;
          position: absolute;
          left: 1.6rem;
          top: 36.3rem;
          height: 3rem;
          font-size: 1.6rem;
          font-family: Jost, 'Source Sans Pro';
        }
        .arjun-kapoors-phoenix-tattoo-a-symbol-of-resilience-and-rebirth-Y4F {
          position: absolute;
          top: 41.7rem;
          font-weight: 700;
          line-height: 1.25;
          width: 26.5rem;
          height: 9rem;
          left: 1.6rem;
          font-size: 2.4rem;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
        }
        .we-are-ecstatic-to-share-that-aliens-tattoo-in-mumbai-was-recently-graced-by-the--Kz7 {
          font-family: Jost, 'Source Sans Pro';
          position: absolute;
          font-weight: 400;
          line-height: 1.875;
          color: #121212;
          font-size: 1.6rem;
          width: 29.8rem;
          height: 6rem;
          left: 1.6rem;
          top: 52.3rem;
        }
        .k-wkb {
          color: #3f3f3f;
          width: 3.8rem;
          height: 3rem;
          top: 64rem;
          font-size: 1.6rem;
          line-height: 1.875;
          position: absolute;
          left: 5.4rem;
          font-weight: 400;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-200-yBV {
          height: 3rem;
          position: absolute;
          font-size: 1.6rem;
          line-height: 1.875;
          white-space: nowrap;
          width: 2.9rem;
          left: 13.8rem;
          top: 64rem;
          font-weight: 400;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
        }
        .item-908-1dy {
          height: 3rem;
          line-height: 1.875;
          font-family: Jost, 'Source Sans Pro';
          width: 2.8rem;
          left: 26.2rem;
          top: 64rem;
          font-size: 1.6rem;
          font-weight: 400;
          color: #3f3f3f;
          white-space: nowrap;
          position: absolute;
        }
        .min-G47 {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          width: 3.8rem;
          position: absolute;
          left: 7.2rem;
          top: 36.3rem;
          font-weight: 400;
          line-height: 1.875;
          height: 3rem;
          font-size: 1.6rem;
          color: #3f3f3f;
        }
        .item--u75 {
          position: absolute;
          font-size: 1.6rem;
          line-height: 1.875;
          color: #525252;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          height: 3rem;
          left: 5.8rem;
          top: 36.1rem;
          font-weight: 800;
          width: 0.6rem;
        }
        .rectangle-89-kdV {
          height: 34.1rem;
          border-radius: 2rem 2rem 0 0;
          width: 34.2rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 100% 128.923%;
          background-position: 0rem -1.9314rem;
          background-image: url('REPLACE_IMAGE:89dc9ba936e021f1d959f663a09ad9dd0ee0ad9c');
        }
        .line-98-vwH {
          background-color: #6c6c6c;
          width: 31rem;
          height: 0.1rem;
          position: absolute;
          left: 1.6rem;
          top: 62.9rem;
        }
        .vector-EBH {
          width: 3rem;
          height: 2rem;
          position: absolute;
          left: 1.6rem;
          top: 64.5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-LEK {
          vertical-align: top;
          width: 2.6rem;
          height: 2.4rem;
          position: absolute;
          left: 10.4rem;
          top: 64.3rem;
          object-fit: contain;
        }
        .vector-PyH {
          height: 2.3994rem;
          position: absolute;
          left: 29.8rem;
          top: 64.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.8rem;
        }
      }
      .auto-group-6xmh-HYs {
        width: 100%;
        height: 68.3rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-95-Acf {
          left: 0;
          top: 33.9rem;
          border: solid 0.1rem #a3a3a3;
          box-sizing: border-box;
          background-color: #d9d9d9;
          width: 34.2rem;
          height: 34.4rem;
          position: absolute;
        }
        .nov-30-2023-E6j {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 36.3rem;
          line-height: 1.875;
          color: #3f3f3f;
          font-weight: 400;
          width: 9.3rem;
          height: 3rem;
          left: 1.6rem;
          font-size: 1.6rem;
        }
        .nikita-chowdhury-redefines-tattoos-as-her-art-gallery-gDd {
          left: 1.6rem;
          font-size: 2.4rem;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          width: 32.1rem;
          height: 6rem;
          position: absolute;
          top: 41.7rem;
          font-weight: 700;
          line-height: 1.25;
        }
        .meet-nikita-chowdhury-a-unique-art-aficionado-unlike-traditional-collectors-who-adorn-their-walls-with-t4o {
          height: 9rem;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          width: 29.5rem;
          position: absolute;
          left: 1.6rem;
          top: 49.3rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.875;
        }
        .k-Hsd {
          line-height: 1.875;
          font-family: Jost, 'Source Sans Pro';
          width: 3.8rem;
          position: absolute;
          left: 5.4rem;
          font-weight: 400;
          color: #3f3f3f;
          white-space: nowrap;
          height: 3rem;
          top: 64rem;
          font-size: 1.6rem;
        }
        .item-200-KJX {
          height: 3rem;
          position: absolute;
          font-size: 1.6rem;
          color: #3f3f3f;
          width: 2.9rem;
          left: 13.8rem;
          top: 64rem;
          font-weight: 400;
          line-height: 1.875;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-908-ZCs {
          line-height: 1.875;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
          width: 2.8rem;
          height: 3rem;
          position: absolute;
          font-weight: 400;
          white-space: nowrap;
          left: 26.2rem;
          top: 64rem;
          font-size: 1.6rem;
        }
        .min-QjH {
          white-space: nowrap;
          width: 3.9rem;
          height: 3rem;
          position: absolute;
          top: 36.3rem;
          font-size: 1.6rem;
          line-height: 1.875;
          left: 13.1rem;
          font-weight: 400;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
        }
        .item--TSf {
          top: 36.1rem;
          font-weight: 800;
          width: 0.6rem;
          position: absolute;
          font-size: 1.6rem;
          line-height: 1.875;
          color: #525252;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          height: 3rem;
          left: 11.7rem;
        }
        .rectangle-98-Jy5 {
          width: 34.2rem;
          top: 0;
          background-position: 0rem -1.2521rem;
          background-image: url('REPLACE_IMAGE:3d1007cbaf5d9f0eb8a64cf5a55fed75ad8412b6');
          height: 34.1rem;
          position: relative;
          left: 0;
          background-size: 100% 150.159%;
          border-radius: 2rem 2rem 0 0;
        }
        .line-101-VGs {
          width: 31rem;
          height: 0.1rem;
          position: absolute;
          left: 1.6rem;
          top: 62.9rem;
          background-color: #6c6c6c;
        }
        .vector-zUX {
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 2rem;
          position: absolute;
          left: 1.6rem;
          top: 64.5rem;
        }
        .vector-VgB {
          position: absolute;
          left: 10.4rem;
          top: 64.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.6rem;
          height: 2.4rem;
        }
        .vector-YuM {
          object-fit: contain;
          vertical-align: top;
          width: 2.8rem;
          height: 2.3994rem;
          position: absolute;
          left: 29.8rem;
          top: 64.3rem;
        }
      }
    }
    .auto-group-oehd-q7m {
      width: 34.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-pse7-8Mm {
        height: 68.3rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;

        .rectangle-93-9nf {
          background-color: #d9d9d9;
          width: 34.2rem;
          height: 34.4rem;
          position: absolute;
          left: 0;
          top: 33.9rem;
          border: solid 0.1rem #a3a3a3;
          box-sizing: border-box;
        }
        .week-ago-q9h {
          width: 7.7rem;
          position: absolute;
          line-height: 1.875;
          color: #3f3f3f;
          height: 3rem;
          left: 1.6rem;
          top: 36.3rem;
          font-size: 1.6rem;
          font-weight: 400;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .punjab-tattoo-fair-2023-aliens-tattoo-takes-centre-stage-with-over-10-awards-TB5 {
          position: absolute;
          left: 1.6rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.25;
          width: 30.7rem;
          height: 9rem;
          top: 41.7rem;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
        }
        .punjab-tattoo-fair-a-significant-event-in-the-tattoo-awardscircuit-recently-took-place-in-ludhiana--skb {
          position: absolute;
          font-size: 1.6rem;
          line-height: 1.875;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          width: 29.2rem;
          height: 9rem;
          left: 1.6rem;
          top: 52.3rem;
          font-weight: 400;
        }
        .item-51-dtB {
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.7rem;
          top: 64rem;
          font-size: 1.6rem;
          line-height: 1.875;
          height: 3rem;
          position: absolute;
          left: 5.4rem;
          font-weight: 400;
        }
        .item-1-h7M {
          height: 3rem;
          left: 11.7rem;
          color: #3f3f3f;
          white-space: nowrap;
          font-family: Jost, 'Source Sans Pro';
          width: 0.8rem;
          position: absolute;
          top: 64rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.875;
        }
        .item-23-j43 {
          width: 1.8rem;
          height: 3rem;
          font-size: 1.6rem;
          font-family: Jost, 'Source Sans Pro';
          line-height: 1.875;
          color: #3f3f3f;
          white-space: nowrap;
          position: absolute;
          left: 27.2rem;
          top: 64rem;
          font-weight: 400;
        }
        .min-n2K {
          width: 3.9rem;
          position: absolute;
          top: 36.3rem;
          line-height: 1.875;
          color: #3f3f3f;
          font-family: Jost, 'Source Sans Pro';
          height: 3rem;
          left: 11.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          white-space: nowrap;
        }
        .item--Crj {
          height: 3rem;
          top: 36.1rem;
          font-weight: 800;
          line-height: 1.875;
          color: #525252;
          white-space: nowrap;
          width: 0.6rem;
          left: 10.1rem;
          font-size: 1.6rem;
          font-family: Jost, 'Source Sans Pro';
          position: absolute;
        }
        .rectangle-90-EoR {
          width: 34.2rem;
          height: 34.1rem;
          left: 0;
          top: 0;
          background-size: 100% 162.291%;
          background-position: 0.5478rem -1.1717rem;
          background-image: url('REPLACE_IMAGE:2fac89ddc56430b2ae3ac8def4d71601552d600e');
          position: relative;
          border-radius: 2rem 2rem 0 0;
        }
        .line-99-4XZ {
          position: absolute;
          left: 1.6rem;
          top: 62.9rem;
          background-color: #6c6c6c;
          width: 31rem;
          height: 0.1rem;
        }
        .vector-kvB {
          vertical-align: top;
          width: 3rem;
          height: 2rem;
          position: absolute;
          left: 1.6rem;
          top: 64.5rem;
          object-fit: contain;
        }
        .vector-RmR {
          width: 2.6rem;
          height: 2.4rem;
          position: absolute;
          left: 8.3rem;
          top: 64.3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-vCP {
          position: absolute;
          left: 29.8rem;
          top: 64.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.8rem;
          height: 2.3994rem;
        }
      }
      .rectangle-99-QdM {
        background-position: 0 -3.6969rem;
        background-image: url('REPLACE_IMAGE:d62a3d0aca2f2c780e6c479299a4adafc716ae82');
        border-radius: 2rem 2rem 0 0;
        flex-shrink: 0;
        width: 34.2rem;
        height: 33.9rem;
        position: relative;
        background-size: 100% 151.309%;
      }
      .auto-group-ygrm-pBH {
        background-color: #d9d9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.2rem 1.6rem 1.3rem 1.6rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #a3a3a3;

        .auto-group-mj43-Goy {
          margin-bottom: 2.4rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .nov-18-2023-yiP {
            font-weight: 400;
            line-height: 1.875;
            color: #3f3f3f;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.9rem;
            font-size: 1.6rem;
          }
          .item--E8X {
            margin: 0rem 0.8rem 0.2rem 0rem;
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.875;
            color: #525252;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .min-FpK {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.875;
            color: #3f3f3f;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .how-much-does-a-tattoo-cost-WkF {
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          max-width: 27.8rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.25;
        }
        .getting-a-tattoo-is-not-only-a-personal-and-artistic-decision-but-also-a-financial-one-the-cost-of-a-tattoo-can-vary-dramatically-and-mgB {
          margin-bottom: 4.6rem;
          max-width: 30rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.875;
          color: #121212;
          font-family: Jost, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .line-102-n5V {
          height: 0.1rem;
          background-color: #6c6c6c;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;
        }
        .auto-group-upuh-TBd {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .vector-ALw {
            width: 3rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
          }
          .item-51-4hD {
            line-height: 1.875;
            color: #3f3f3f;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.2rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .vector-uxj {
            margin-right: 0.8rem;
            width: 2.6rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-1-CS3 {
            color: #3f3f3f;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.875;
          }
          .item-23-Tcs {
            font-weight: 400;
            line-height: 1.875;
            color: #3f3f3f;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 1.6rem;
          }
          .vector-YuD {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0006rem;
            width: 2.8rem;
            height: 2.3994rem;
            object-fit: contain;
          }
        }
      }
    }
  }
  .group-131-sa7 {
    width: calc(100% - 30.2rem);
    height: 46.4rem;
    position: relative;
    border-top: solid 0.1rem #ffffff;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0rem 15rem 0rem 15.2rem;

    .rectangle-129-X8s {
      height: 46.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #121212;
      width: 120.8rem;
    }
    .rectangle-130-ptf {
      width: 120.8rem;
      height: 46.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #121212;
    }
    .group-123-VE7 {
      width: 22.4rem;
      height: 3rem;
      position: absolute;
      left: 0;
      top: 39.4rem;
      display: flex;
      align-items: center;

      .tattoo-mxK {
        font-size: 4.4rem;
        line-height: 0.6818181818;
        letter-spacing: 0.088rem;
        color: #ffffff;
        flex-shrink: 0;
        margin-right: 0.7rem;
        font-weight: 500;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
      .tales-eFR {
        font-size: 4.4rem;
        font-weight: 500;
        line-height: 0.6818181818;
        letter-spacing: 0.088rem;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-124-WHd {
      width: 23.8rem;
      height: 14.8rem;
      position: absolute;
      left: 22.2rem;
      top: 2.4rem;

      .company-ywu {
        letter-spacing: 0.064rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.25;
      }
      .tattootalesgmailcom-rko {
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
      .about-J71 {
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
      }
    }
    .group-125-BwV {
      width: 32.7rem;
      height: 25.6rem;
      position: absolute;
      left: 88.3rem;
      top: 2.4rem;

      .auto-group-opdh-GT9 {
        margin: 0rem 0.8rem 1.6rem 0rem;
        width: calc(100% - 0.8rem);
        height: 4rem;
        display: flex;
        align-items: center;

        .the-JPq {
          line-height: 1.25;
          letter-spacing: 0.064rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 600;
        }
        .auto-group-p7fv-D11 {
          padding-left: 0.2rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .group-118-87y {
            margin: 0.5rem 1.2rem 0.5rem 0rem;
            height: calc(100% - 1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .tattoo-pWb {
              line-height: 0.9375;
              color: #ffffff;
              font-weight: 600;
              letter-spacing: 0.064rem;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.2rem;
              font-size: 3.2rem;
            }
            .tales-TJf {
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.2rem;
              font-weight: 600;
              line-height: 0.9375;
              letter-spacing: 0.064rem;
            }
          }
          .app-Mew {
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.25;
            letter-spacing: 0.064rem;
          }
        }
      }
      .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-p2j {
        font-family: Jost, 'Source Sans Pro';
        margin-left: 0.2rem;
        max-width: 32.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
      }
    }
    .group-126-2eb {
      height: 14.8rem;
      position: absolute;
      left: 56.7rem;
      top: 2.4rem;
      width: 21rem;

      .legal-iGX {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.064rem;
      }
      .terms-conditions-a3q {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1.2rem 0.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
      }
      .privacy-policy-qEf {
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.3rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .group-127-ukK {
      width: 11.5rem;
      height: 20rem;
      position: absolute;
      left: 0;
      top: 2.4rem;

      .explore-Aw9 {
        line-height: 1.25;
        letter-spacing: 0.064rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
      }
      .artist-GUP {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
      }
      .blog-mR9 {
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
      }
      .shop-EZd {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
