
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-25-6SK {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  width: 100%;
  overflow: hidden;
  position: relative;

  .group-112-hwu {
    margin-bottom: 4.1rem;
    width: 100%;
    height: 20.7rem;
    flex-shrink: 0;

    .group-88-1Bu {
      width: 151.2rem;
      top: 0;
      align-items: center;
      box-sizing: border-box;
      height: 20.7rem;
      position: absolute;
      left: 0;
      display: flex;
      background-color: #121212;
      padding: 4.4rem 15.3rem 0.211rem 15rem;

      .group-77-y2F {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 6.5rem 7.057rem 0rem;
        display: flex;

        .tattoo-5LB {
          color: #ffffff;
          font-family: Henny Penny, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.032rem 1.6rem 0rem 0rem;
          font-weight: 400;
          line-height: 0.9375;
          letter-spacing: 0.064rem;
          flex-shrink: 0;
          font-size: 3.2rem;
        }
        .tales-Jij {
          font-weight: 400;
          line-height: 0.9375;
          letter-spacing: 0.064rem;
          font-family: Henny Penny, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0324rem;
          font-size: 3.2rem;
        }
      }
      .auto-group-32zd-Yd5 {
        margin-right: 7.9rem;
        width: 74rem;
        height: 100%;
        flex-shrink: 0;

        .frame-10-SyM {
          box-sizing: border-box;
          padding: 1.5rem 3.2rem;
          overflow: hidden;
          position: relative;
          background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
          border-radius: 2rem;
          margin-bottom: 5.5697rem;
          width: 100%;
          display: flex;
          align-items: center;

          .home-KnF {
            margin-right: 8.4rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .artists-B3m {
            cursor: pointer;
            font-size: 2.4rem;
            white-space: nowrap;
            margin-right: 8.4rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .shop-rvb {
            margin-right: 8.3rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.25;
            color: #121212;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .blog-yEX {
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 600;
            cursor: pointer;
            font-size: 2.4rem;
            line-height: 1.25;
            white-space: nowrap;
            margin-right: 8.4rem;
          }
          .about-us-RcK {
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.25;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-fmn7-PxT {
          margin: 0rem 5.1rem 0rem 0.4rem;
          width: calc(100% - 5.5rem);
          height: 4.5197rem;
          display: flex;
          align-items: center;

          .group-81-GFZ {
            height: 100%;
            align-items: center;
            border: solid 0.1rem #ffffff;
            border-radius: 1.2rem;
            margin-right: 4rem;
            box-sizing: border-box;
            padding: 0.804rem 9.9rem 0.716rem 1.6rem;
            display: flex;
            background-color: #121212;
            flex-shrink: 0;

            .vector-MH1 {
              width: 1.7rem;
              height: 2.1731rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.2rem 0.023rem 0rem;
            }
            .ambattur-chennai-PDh {
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.875;
              color: #ffffff;
            }
          }
          .group-80-q5h {
            height: 100%;
            align-items: center;
            background-color: #121212;
            flex-shrink: 0;
            padding: 0.804rem 27rem 0.716rem 1.6rem;
            display: flex;
            border: solid 0.1rem #ffffff;
            border-radius: 1.2rem;
            box-sizing: border-box;

            .vector-Whd {
              height: 2.0118rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 2.097rem 0.185rem 0rem;
              width: 2.003rem;
            }
            .search-MCT {
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.875;
            }
          }
        }
      }
      .group-75-bcb {
        background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
        width: 15rem;
        font-size: 2.4rem;
        line-height: 1.25;
        letter-spacing: 0.048rem;
        align-items: center;
        justify-content: center;
        height: 6.0263rem;
        font-weight: 600;
        white-space: nowrap;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 7.0114rem;
        display: flex;
      }
    }
    .vector-yFm {
      width: 4.5rem;
      height: 4.5rem;
      position: absolute;
      left: 131.4rem;
      top: 15.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-EBh {
      vertical-align: top;
      width: 5rem;
      height: 4.2847rem;
      position: absolute;
      left: 122.4rem;
      top: 16.1rem;
      object-fit: contain;
    }
  }
  .auto-group-xr2o-KD9 {
    width: calc(100% - 33.3rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 18.1rem 3rem 15.2rem;

    .torquekitgreen3-2-zq5 {
      margin: 0.2rem 4rem 0rem 0rem;
      cursor: pointer;
      flex-shrink: 0;

      .torquekitgreen3-2-6t7 {
        width: 50rem;
        height: 48.4rem;
        position: relative;
        background-size: 100% 103.306%;
        background-position: -0rem -1.6rem;
        background-image: url('REPLACE_IMAGE:04c31cd46133366654a5b73383bc82324c4a312d');
      }
    }
    .auto-group-p4rt-Hhh {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .critical-tattoo-torque-pen-tool-machine-full-kit-og3 {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 3.2rem 0.4rem;
        max-width: 62.4rem;
        font-size: 4.4rem;
        font-weight: 700;
        line-height: 1.0227272727;
      }
      .auto-group-rpdq-11R {
        margin-bottom: 4rem;
        display: flex;
        column-gap: 0.8rem;
        align-items: center;
        flex-shrink: 0;

        .vector-VxB {
          height: 3.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 4rem;
        }
        .vector-z8F {
          width: 4rem;
          height: 3.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-6wy {
          flex-shrink: 0;
          width: 4rem;
          height: 3.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-nK1 {
          height: 3.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 4rem;
        }
      }
      .upgrade-your-tattooing-experience-with-the-critical-tattoo-torque-pen-a-powerful-fast-and-efficient-machine-featuring-the-industrys-first-precision-strike-technology-this-pen-revolutionizes-tattooing-allowing-for-faster-and-read-more-hRy {
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 63.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.40625;
        color: #ffffff;
      }
    }
  }
  .auto-group-mmdh-rTH {
    flex-shrink: 0;
    margin: 0rem 15.2rem 7.9rem 15.2rem;
    width: calc(100% - 30.4rem);
    height: 5rem;
    display: flex;
    align-items: flex-start;

    .item-599900-t95 {
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 10.4rem 0rem 0rem;
      font-size: 4rem;
      font-weight: 500;
      line-height: 1.125;
      color: #ffffff;
    }
    .auto-group-eryq-Xxj {
      margin-right: 3.6rem;
      width: 20.1rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .item-1-3AP {
        width: 1.6rem;
        position: absolute;
        top: 0.1rem;
        line-height: 1.52406919;
        height: 4.9rem;
        left: 9.3rem;
        font-size: 3.2rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
      .vector-TE7 {
        left: 15.2rem;
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
      }
      .vector-xAs {
        position: absolute;
        left: 2.4rem;
        top: 2.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4rem;
        height: 0.2rem;
      }
      .rectangle-111-1uq {
        width: 20.1rem;
        height: 5rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #ffffff;
        box-sizing: border-box;
        border-radius: 1.2rem;
      }
    }
    .frame-93-6gP {
      margin-right: 3.6rem;
      height: 100%;
      font-weight: 400;
      white-space: nowrap;
      justify-content: center;
      border-radius: 1.2rem;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #ffffff;
      flex-shrink: 0;
      width: 56.5rem;
      align-items: center;
      background: linear-gradient(93.31deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%);
      cursor: pointer;
      font-family: Jost, 'Source Sans Pro';
      display: flex;
    }
    .auto-group-jmxu-DeX {
      box-sizing: border-box;
      padding: 1rem 1.9rem 1.1rem 1.9rem;
      height: 100%;
      border: solid 0.1rem #ffffff;
      border-radius: 1.2rem;
      flex-shrink: 0;

      .vector-KhZ {
        width: 3.3rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-verb-ocj {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 15.2rem 4.1rem 15.2rem;
    width: calc(100% - 30.4rem);
    display: flex;
    column-gap: 2.4rem;

    .line-103-drf {
      height: 0.3rem;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-top: 0.2rem;
      width: 39.4rem;
    }
    .you-may-also-like-vKy {
      font-size: 4.4rem;
      font-weight: 600;
      line-height: 1.0227272727;
      color: #ffffff;
      font-family: Jost, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .line-104-R1q {
      margin-top: 0.2rem;
      width: 40.1rem;
      height: 0.3rem;
      background-color: #ffffff;
      flex-shrink: 0;
    }
  }
  .auto-group-aztm-Uko {
    width: calc(100% - 30.4rem);
    height: 37.9rem;
    display: flex;
    column-gap: 4rem;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 15.2rem 6rem 15.2rem;

    .frame-113-LHD {
      box-sizing: border-box;
      padding: 1rem;
      width: 27.2rem;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      align-items: center;
      display: flex;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;

      .group-83-dGK {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;

        .rectangle-68-ZQs {
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:312be7240f340109f4595168061e785b3e1b1cf0');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
        }
      }
      .vlad-blad-ultron-pen-2-tattoo-machine-iwy {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.3rem;
        max-width: 24.9rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
      }
    }
    .frame-114-3My {
      display: flex;
      box-sizing: border-box;
      width: 27.2rem;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;
      flex-shrink: 0;
      padding: 1rem;
      height: 100%;

      .group-83-8uD {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-GkX {
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:ca314e0663aebe4caedd4d1e0bcdc53bdbeec4ab');
          border-radius: 1.2rem;
        }
      }
      .vlad-blad-avenger-2-pro-rotary-machine-4Ab {
        max-width: 22rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.2rem;
      }
    }
    .frame-115-qaf {
      border-radius: 1.2rem;
      width: 27.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: linear-gradient(152.75deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
      box-sizing: border-box;
      padding: 1rem;
      height: 100%;
      flex-shrink: 0;

      .group-83-iPZ {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-T6F {
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -1.3867rem 0;
          background-image: url('REPLACE_IMAGE:aaca2e7863d2e711a2b50cd28626a912ac409185');
          border-radius: 1.2rem;
        }
      }
      .fk-irons-xion-pen-limited-edition-gDu {
        flex-shrink: 0;
        margin-right: 4rem;
        max-width: 21.2rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
    }
    .frame-116-2wy {
      width: 27.2rem;
      height: 100%;
      display: flex;
      border-radius: 1.2rem;
      box-sizing: border-box;
      padding: 1rem;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(153.66deg, rgba(0, 224, 255, 0.6000000238) 1.28%, rgba(0, 72, 82, 0.6000000238) 100%);
      flex-shrink: 0;

      .group-83-jrP {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-sxb {
          background-image: url('REPLACE_IMAGE:d615dc102a98f0fb27f33ba3e1760c5a06f30898');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
        }
      }
      .peak-matrix-pen-tattoo-machine-black-sr7 {
        flex-shrink: 0;
        margin-right: 0.6rem;
        max-width: 24.6rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
    }
  }
  .group-131-T3d {
    width: calc(100% - 30.2rem);
    height: 46.4rem;
    position: relative;
    border-top: solid 0.1rem #ffffff;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0rem 15rem 0rem 15.2rem;

    .rectangle-129-GWs {
      width: 120.8rem;
      height: 46.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #121212;
    }
    .rectangle-130-aGf {
      height: 46.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #121212;
      width: 120.8rem;
    }
    .group-123-t2T {
      height: 3rem;
      position: absolute;
      left: 0;
      top: 39.4rem;
      display: flex;
      align-items: center;
      width: 22.4rem;

      .tattoo-NyD {
        margin-right: 0.7rem;
        font-size: 4.4rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 500;
        line-height: 0.6818181818;
        letter-spacing: 0.088rem;
        white-space: nowrap;
      }
      .tales-Qf1 {
        letter-spacing: 0.088rem;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.4rem;
        font-weight: 500;
        line-height: 0.6818181818;
      }
    }
    .group-124-he7 {
      height: 14.8rem;
      position: absolute;
      left: 22.2rem;
      top: 2.4rem;
      width: 23.8rem;

      .company-jqh {
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.064rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
      }
      .tattootalesgmailcom-ps9 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
      }
      .about-udh {
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .group-125-mvo {
      width: 32.7rem;
      height: 25.6rem;
      position: absolute;
      left: 88.3rem;
      top: 2.4rem;

      .auto-group-opk9-qvf {
        margin: 0rem 0.8rem 1.6rem 0rem;
        width: calc(100% - 0.8rem);
        height: 4rem;
        display: flex;
        align-items: center;

        .the-uvX {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: 0.064rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
        .auto-group-ezgj-ca3 {
          box-sizing: border-box;
          padding-left: 0.2rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-118-gZu {
            margin: 0.5rem 1.2rem 0.5rem 0rem;
            height: calc(100% - 1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .tattoo-Ajy {
              white-space: nowrap;
              margin-right: 1.2rem;
              line-height: 0.9375;
              font-family: Jost, 'Source Sans Pro';
              color: #ffffff;
              flex-shrink: 0;
              font-size: 3.2rem;
              font-weight: 600;
              letter-spacing: 0.064rem;
            }
            .tales-SxP {
              font-size: 3.2rem;
              font-weight: 600;
              line-height: 0.9375;
              letter-spacing: 0.064rem;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .app-Jjh {
            font-weight: 600;
            line-height: 1.25;
            letter-spacing: 0.064rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
          }
        }
      }
      .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-byh {
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        margin-left: 0.2rem;
        max-width: 32.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
      }
    }
    .group-126-ZZ9 {
      width: 21rem;
      height: 14.8rem;
      position: absolute;
      left: 56.7rem;
      top: 2.4rem;

      .legal-qWf {
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.064rem;
        color: #ffffff;
      }
      .terms-conditions-j6F {
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1.2rem 0.3rem;
        font-size: 2.4rem;
      }
      .privacy-policy-Nuu {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.3rem;
      }
    }
    .group-127-ESK {
      width: 11.5rem;
      height: 20rem;
      position: absolute;
      left: 0;
      top: 2.4rem;

      .explore-XgK {
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.064rem;
        color: #ffffff;
      }
      .artist-pQX {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
      }
      .blog-stb {
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
      }
      .shop-yAw {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.6666666667;
        letter-spacing: 0.048rem;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
