
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-23-29u {
  background-color: #121212;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .group-111-gET {
    margin-bottom: 4rem;
    width: 100%;
    height: 20.7rem;
    flex-shrink: 0;

    .group-88-yDZ {
      left: 0;
      top: 0;
      box-sizing: border-box;
      width: 151.2rem;
      height: 20.7rem;
      position: absolute;
      display: flex;
      align-items: center;
      background-color: #121212;
      padding: 5.9rem 15.3rem 0.211rem 15rem;

      .group-77-91Z {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 6.9rem 8.557rem 0rem;
        display: flex;

        .tattoo-dBd {
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.032rem 1.6rem 0rem 0rem;
          line-height: 0.9375;
          letter-spacing: 0.064rem;
          font-family: Henny Penny, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 400;
        }
        .tales-Pq1 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0324rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 0.9375;
          letter-spacing: 0.064rem;
          font-family: Henny Penny, 'Source Sans Pro';
        }
      }
      .auto-group-xkq1-U5m {
        flex-shrink: 0;
        margin-right: 7.5rem;
        width: 74rem;
        height: 100%;

        .frame-10-koy {
          padding: 1.5rem 3.2rem;
          width: 100%;
          background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
          border-radius: 2rem;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 4.0697rem;

          .home-Aco {
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            line-height: 1.25;
            font-weight: 600;
            white-space: nowrap;
            margin-right: 8.4rem;
            font-size: 2.4rem;
          }
          .artists-qU3 {
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.4rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.25;
            cursor: pointer;
          }
          .shop-gjZ {
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.3rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.25;
            color: #121212;
          }
          .blog-aK9 {
            font-family: Jost, 'Source Sans Pro';
            margin-right: 8.4rem;
            font-size: 2.4rem;
            font-weight: 600;
            color: #ffffff;
            cursor: pointer;
            line-height: 1.25;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .about-us-2gw {
            line-height: 1.25;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2.4rem;
            font-weight: 600;
          }
        }
        .auto-group-a53v-1Hy {
          align-items: center;
          margin-right: 5.5rem;
          width: calc(100% - 5.5rem);
          height: 4.5197rem;
          display: flex;

          .group-81-rJb {
            margin-right: 4rem;
            box-sizing: border-box;
            align-items: center;
            background-color: #121212;
            flex-shrink: 0;
            padding: 0.804rem 9.9rem 0.716rem 1.6rem;
            height: 100%;
            display: flex;
            border: solid 0.1rem #ffffff;
            border-radius: 1.2rem;

            .vector-7kK {
              margin: 0rem 1.2rem 0.023rem 0rem;
              width: 1.7rem;
              height: 2.1731rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .ambattur-chennai-BEP {
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.875;
            }
          }
          .group-80-kRu {
            padding: 0.804rem 27rem 0.716rem 1.6rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            border: solid 0.1rem #ffffff;
            background-color: #121212;
            border-radius: 1.2rem;

            .vector-Rnw {
              margin: 0rem 2.097rem 0.185rem 0rem;
              width: 2.003rem;
              height: 2.0118rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .search-gym {
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.875;
            }
          }
        }
      }
      .group-75-61u {
        width: 15rem;
        font-weight: 600;
        font-family: Jost, 'Source Sans Pro';
        background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
        display: flex;
        align-items: center;
        margin-bottom: 8.5114rem;
        height: 6.0263rem;
        font-size: 2.4rem;
        letter-spacing: 0.048rem;
        justify-content: center;
        border-radius: 2rem;
        line-height: 1.25;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .vector-6pX {
      object-fit: contain;
      vertical-align: top;
      width: 4.5rem;
      height: 4.5rem;
      position: absolute;
      left: 131.4rem;
      top: 15.7rem;
    }
    .vector-mQs {
      position: absolute;
      left: 122.4rem;
      top: 16.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 5rem;
      height: 4.2847rem;
    }
  }
  .tattoo-machines-nqm {
    margin: 0rem 88.9rem 4.4rem 0rem;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.0227272727;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-qpas-e7H {
    width: calc(100% - 30.4rem);
    height: 37.9rem;
    display: flex;
    column-gap: 4rem;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 15.2rem 4rem 15.2rem;

    .frame-96-fo5 {
      display: flex;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;
      box-sizing: border-box;
      padding: 1rem;
      width: 27.2rem;
      height: 100%;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      flex-direction: column;

      .group-83-Jb9 {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;

        .rectangle-68-21M {
          background-position: -1.9867rem 0;
          background-image: url('REPLACE_IMAGE:d8d8c2aabef165e1dbe75d482d68695c677d0bd8');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
        }
      }
      .critical-tattoo-torque-pen-machine-Et7 {
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 2.9rem;
        max-width: 22.3rem;
        font-size: 2.4rem;
        font-weight: 500;
      }
    }
    .frame-97-kzs {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem;
      width: 27.2rem;
      height: 100%;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;

      .group-83-4kf {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;

        .rectangle-68-oy9 {
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:888a7e7175250ee095ca811b44f7e975bed3bda4');
          border-radius: 1.2rem;
          width: 25.2rem;
        }
      }
      .fk-irons-one-tattoo-machine-in-battery-D1H {
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        max-width: 20.8rem;
        font-size: 2.4rem;
      }
    }
    .frame-98-R7M {
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;
      box-sizing: border-box;
      padding: 1rem;
      width: 27.2rem;
      flex-shrink: 0;
      height: 100%;
      align-items: center;
      display: flex;

      .group-83-VN7 {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-dUK {
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:d33170dff3645bdab66f4e5e11e4df23b57856c7');
        }
      }
      .peak-solice-wireless-pen-tattoo-machine-43q {
        flex-shrink: 0;
        margin-right: 2.4rem;
        max-width: 22.8rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
      }
    }
    .frame-104-D59 {
      box-sizing: border-box;
      padding: 1rem;
      display: flex;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      width: 27.2rem;
      height: 100%;
      align-items: center;
      flex-direction: column;
      border-radius: 1.2rem;
      flex-shrink: 0;

      .group-83-inb {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;

        .rectangle-68-4Lf {
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:8de7d716ddc0bc9a762d9d95abdee18569d3b821');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
        }
      }
      .critical-x-bishop-power-wand-machine-Ttb {
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.5rem;
        max-width: 24.7rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
      }
    }
  }
  .auto-group-pxrv-GLF {
    display: flex;
    column-gap: 4rem;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 15.2rem 4rem 15.2rem;
    width: calc(100% - 30.4rem);
    height: 37.9rem;

    .frame-100-52o {
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;
      flex-shrink: 0;
      padding: 1rem;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      width: 27.2rem;
      align-items: center;

      .group-83-ydy {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-Wto {
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:312be7240f340109f4595168061e785b3e1b1cf0');
          border-radius: 1.2rem;
          width: 25.2rem;
        }
      }
      .vlad-blad-ultron-pen-2-tattoo-machine-XZ1 {
        max-width: 24.9rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.3rem;
      }
    }
    .frame-101-Rno {
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;
      padding: 1rem;
      width: 27.2rem;
      height: 100%;
      display: flex;
      flex-shrink: 0;

      .group-83-jHh {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-4as {
          background-image: url('REPLACE_IMAGE:ca314e0663aebe4caedd4d1e0bcdc53bdbeec4ab');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
        }
      }
      .vlad-blad-avenger-2-pro-rotary-machine-sYK {
        margin-right: 3.2rem;
        max-width: 22rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .frame-102-gEs {
      flex-shrink: 0;
      box-sizing: border-box;
      border-radius: 1.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.8000000119) 100%, rgba(0, 72, 82, 0.8000000119) 200%);
      padding: 1rem;
      width: 27.2rem;

      .group-83-ZJf {
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;

        .rectangle-68-TQ3 {
          background-position: -1.3867rem 0;
          background-image: url('REPLACE_IMAGE:aaca2e7863d2e711a2b50cd28626a912ac409185');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
        }
      }
      .fk-irons-xion-pen-limited-edition-9w5 {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 4rem;
        max-width: 21.2rem;
      }
    }
    .frame-103-fnw {
      box-sizing: border-box;
      align-items: center;
      flex-shrink: 0;
      padding: 1rem;
      width: 27.2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;

      .group-83-imD {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-3oV {
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:d615dc102a98f0fb27f33ba3e1760c5a06f30898');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
        }
      }
      .peak-matrix-pen-tattoo-machine-black-fps {
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.6rem;
        max-width: 24.6rem;
        font-size: 2.4rem;
      }
    }
  }
  .auto-group-jvwj-RxT {
    margin: 0rem 15.2rem 4rem 15.2rem;
    width: calc(100% - 30.4rem);
    height: 37.9rem;
    display: flex;
    column-gap: 4rem;
    align-items: center;
    flex-shrink: 0;

    .frame-105-5GK {
      display: flex;
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      box-sizing: border-box;
      cursor: pointer;
      align-items: center;
      border-radius: 1.2rem;
      flex-shrink: 0;
      padding: 1rem;
      width: 27.2rem;
      height: 100%;

      .group-83-wJX {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-fEX {
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -1.9867rem 0;
          background-image: url('REPLACE_IMAGE:d8d8c2aabef165e1dbe75d482d68695c677d0bd8');
          border-radius: 1.2rem;
        }
      }
      .critical-tattoo-torque-pen-machine-J2b {
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 2.9rem;
        max-width: 22.3rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
      }
    }
    .frame-106-Tpb {
      border-radius: 1.2rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem;
      width: 27.2rem;
      height: 100%;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);

      .group-83-aeK {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;

        .rectangle-68-XJf {
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:888a7e7175250ee095ca811b44f7e975bed3bda4');
          border-radius: 1.2rem;
        }
      }
      .fk-irons-one-tattoo-machine-in-battery-KkK {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        max-width: 20.8rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
      }
    }
    .frame-107-LfR {
      box-sizing: border-box;
      width: 27.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 1.2rem;
      padding: 1rem;
      height: 100%;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      flex-shrink: 0;

      .group-83-3pj {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-Bvw {
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:d33170dff3645bdab66f4e5e11e4df23b57856c7');
          border-radius: 1.2rem;
          width: 25.2rem;
        }
      }
      .peak-solice-wireless-pen-tattoo-machine-C5M {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 2.4rem;
        max-width: 22.8rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
      }
    }
    .frame-108-BCB {
      align-items: center;
      width: 27.2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem;

      .group-83-T9h {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-C7H {
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:8de7d716ddc0bc9a762d9d95abdee18569d3b821');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
        }
      }
      .critical-x-bishop-power-wand-machine-dCb {
        margin-right: 0.5rem;
        max-width: 24.7rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .auto-group-3udz-BdR {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 15.2rem 6rem 15.2rem;
    width: calc(100% - 30.4rem);
    height: 37.9rem;
    display: flex;
    column-gap: 4rem;

    .frame-109-qT5 {
      align-items: center;
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      box-sizing: border-box;
      width: 27.2rem;
      height: 100%;
      display: flex;
      border-radius: 1.2rem;
      flex-shrink: 0;
      padding: 1rem;

      .group-83-79h {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;

        .rectangle-68-Ek7 {
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:312be7240f340109f4595168061e785b3e1b1cf0');
          border-radius: 1.2rem;
        }
      }
      .vlad-blad-ultron-pen-2-tattoo-machine-faX {
        max-width: 24.9rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.3rem;
      }
    }
    .frame-110-cu5 {
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      border-radius: 1.2rem;
      flex-shrink: 0;
      padding: 1rem;
      width: 27.2rem;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 100%;
      align-items: center;

      .group-83-vum {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-Fx3 {
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:ca314e0663aebe4caedd4d1e0bcdc53bdbeec4ab');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
        }
      }
      .vlad-blad-avenger-2-pro-rotary-machine-FqZ {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.2rem;
        max-width: 22rem;
      }
    }
    .frame-111-2jq {
      padding: 1rem;
      height: 100%;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 27.2rem;
      display: flex;
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.8000000119) 100%, rgba(0, 72, 82, 0.8000000119) 200%);
      border-radius: 1.2rem;

      .group-83-LkX {
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .rectangle-68-3ew {
          background-image: url('REPLACE_IMAGE:aaca2e7863d2e711a2b50cd28626a912ac409185');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
          background-size: 112.302% 100%;
          background-position: -1.3867rem 0;
        }
      }
      .fk-irons-xion-pen-limited-edition-sdy {
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 4rem;
        max-width: 21.2rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
      }
    }
    .frame-112-dmZ {
      box-sizing: border-box;
      padding: 1rem;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
      flex-shrink: 0;
      width: 27.2rem;
      height: 100%;
      display: flex;
      border-radius: 1.2rem;

      .group-83-MBm {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;

        .rectangle-68-gjq {
          background-size: 112.302% 100%;
          background-position: -0.9867rem 0;
          background-image: url('REPLACE_IMAGE:d615dc102a98f0fb27f33ba3e1760c5a06f30898');
          border-radius: 1.2rem;
          width: 25.2rem;
          height: 28.3rem;
          position: relative;
        }
      }
      .peak-matrix-pen-tattoo-machine-black-tL7 {
        font-weight: 500;
        line-height: 1.25;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.6rem;
        max-width: 24.6rem;
        font-size: 2.4rem;
      }
    }
  }
  .auto-group-evbm-sxj {
    height: 46.4rem;
    border-top: solid 0.1rem #ffffff;
    flex-shrink: 0;
    margin: 0rem 15rem 0rem 14.5rem;
    box-sizing: border-box;
    padding-left: 0.7rem;
    width: calc(100% - 29.5rem);

    .group-130-iyM {
      width: 100%;
      height: 100%;
      position: relative;

      .rectangle-129-c39 {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #121212;
        width: 120.8rem;
        height: 46.4rem;
      }
      .rectangle-130-W8X {
        width: 120.8rem;
        height: 46.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #121212;
      }
      .group-123-cST {
        left: 0;
        top: 39.4rem;
        display: flex;
        align-items: center;
        width: 22.4rem;
        height: 3rem;
        position: absolute;

        .tattoo-78K {
          font-size: 4.4rem;
          font-weight: 500;
          line-height: 0.6818181818;
          margin-right: 0.7rem;
          letter-spacing: 0.088rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .tales-jfV {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4.4rem;
          font-weight: 500;
          line-height: 0.6818181818;
          letter-spacing: 0.088rem;
          font-family: Jost, 'Source Sans Pro';
        }
      }
      .group-124-EcF {
        height: 14.8rem;
        position: absolute;
        left: 22.2rem;
        top: 2.4rem;
        width: 23.8rem;

        .company-68f {
          margin-bottom: 1.6rem;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: 0.064rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .tattootalesgmailcom-nGP {
          margin-bottom: 1.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
        }
        .about-4Du {
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
      }
      .group-125-X7V {
        top: 2.4rem;
        width: 32.7rem;
        height: 25.6rem;
        position: absolute;
        left: 88.3rem;

        .auto-group-tgkw-N87 {
          margin: 0rem 0.8rem 1.6rem 0rem;
          width: calc(100% - 0.8rem);
          height: 4rem;
          display: flex;
          align-items: center;

          .the-DuR {
            font-weight: 600;
            line-height: 1.25;
            letter-spacing: 0.064rem;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
          }
          .auto-group-zdap-UaT {
            box-sizing: border-box;
            padding-left: 0.2rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-118-yXD {
              flex-shrink: 0;
              margin: 0.5rem 1.2rem 0.5rem 0rem;
              height: calc(100% - 1rem);
              display: flex;
              align-items: center;

              .tattoo-1yh {
                font-weight: 600;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 1.2rem;
                font-size: 3.2rem;
                line-height: 0.9375;
                letter-spacing: 0.064rem;
                white-space: nowrap;
              }
              .tales-sm1 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 0.9375;
                letter-spacing: 0.064rem;
                font-family: Jost, 'Source Sans Pro';
              }
            }
            .app-XqZ {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.2rem;
              font-weight: 600;
              line-height: 1.25;
              letter-spacing: 0.064rem;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
            }
          }
        }
        .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-RR9 {
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          margin-left: 0.2rem;
          max-width: 32.5rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .group-126-R3m {
        height: 14.8rem;
        position: absolute;
        left: 56.7rem;
        top: 2.4rem;
        width: 21rem;

        .legal-ex7 {
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: 0.064rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
        }
        .terms-conditions-wRR {
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.2rem 0.3rem;
          font-size: 2.4rem;
        }
        .privacy-policy-QK1 {
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.3rem;
          font-size: 2.4rem;
        }
      }
      .group-127-3sm {
        width: 11.5rem;
        height: 20rem;
        position: absolute;
        left: 0;
        top: 2.4rem;

        .explore-9A7 {
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 3.2rem;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: 0.064rem;
        }
        .artist-SQ7 {
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
        }
        .blog-JhD {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.2rem;
        }
        .shop-bwD {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.6666666667;
          letter-spacing: 0.048rem;
          color: #ffffff;
        }
      }
    }
  }
}
