
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 54rem;
}.torquekitgreen3-2-hBD {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  display: flex;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;

  .property-1default-C7y {
    margin-bottom: 2rem;
    width: 100%;
    cursor: pointer;
    flex-shrink: 0;

    .torquekitgreen3-2-WuM {
      background-image: url('REPLACE_IMAGE:04c31cd46133366654a5b73383bc82324c4a312d');
      width: 50rem;
      height: 48.4rem;
      position: relative;
      background-size: 100% 103.306%;
      background-position: -0rem -1.6rem;
    }
  }
  .property-1variant2-ugb {
    box-sizing: border-box;
    padding: 21.7rem 0rem 17.7rem 3.6rem;
    display: flex;
    align-items: center;
    background-size: 100% 103.306%;
    background-image: url('REPLACE_IMAGE:04c31cd46133366654a5b73383bc82324c4a312d');
    flex-shrink: 0;
    width: 100%;
    height: 48.4rem;
    cursor: pointer;
    background-position: -0rem -1.6rem;

    .auto-group-mfub-aXq {
      margin-right: 29.8rem;
      box-sizing: border-box;
      padding: 2.2rem 3.3rem 2.217rem 3.2rem;
      height: 100%;
      border: solid 0.1rem #ffffff;
      flex-shrink: 0;

      .vector-Tbd {
        vertical-align: top;
        width: 2.5rem;
        height: 4.5831rem;
        object-fit: contain;
      }
    }
    .auto-group-7drr-K83 {
      box-sizing: border-box;
      padding: 2.2rem 3.3rem 2.217rem 3.2rem;
      height: 100%;
      border: solid 0.1rem #ffffff;
      flex-shrink: 0;

      .vector-ccw {
        vertical-align: top;
        width: 2.5rem;
        height: 4.5831rem;
        object-fit: contain;
      }
    }
    .property-1variant2-ugb-bg {
      width: 50rem;
      height: 48.4rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:04c31cd46133366654a5b73383bc82324c4a312d');
    }
  }
}
