
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 110.1rem;
}.macbook-pro-14-4-kjH {
  box-sizing: border-box;
  padding: 11.4rem 4rem 4.3rem 4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 18, 18, 0.8999999762);
}
.macbook-pro-14-4-kjH .auto-group-qc3h-kco {
  margin: 0rem 52.4rem 3.2rem 0rem;
  width: calc(100% - 52.4rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.macbook-pro-14-4-kjH .auto-group-qc3h-kco .ellipse-6-qeF {
  margin-right: 2.4rem;
  width: 9rem;
  height: 9rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-bg.png');
  border-radius: 4.5rem;
  flex-shrink: 0;
}
.macbook-pro-14-4-kjH .auto-group-qc3h-kco .auto-group-jj3d-4X1 {
  box-sizing: border-box;
  padding: 1rem 0.5rem 0.9rem 0.6rem;
  width: 38.3rem;
  height: 7.9rem;
  background-color: #d9d9d9;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.macbook-pro-14-4-kjH .auto-group-qc3h-kco .auto-group-jj3d-4X1 .hello-how-can-i-help-you-please-give-me-a-description-of-the-issue-youre-having-LDd {
  max-width: 37.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.macbook-pro-14-4-kjH .auto-group-c4rb-8QP {
  margin: 0rem 0rem 6.4rem 49.7rem;
  width: 29.6rem;
  height: 5.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.macbook-pro-14-4-kjH .auto-group-poys-fHq {
  margin: 0rem 52.4rem 4.3rem 0rem;
  width: calc(100% - 52.4rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.macbook-pro-14-4-kjH .auto-group-poys-fHq .ellipse-9-9Tu {
  margin-right: 2.4rem;
  width: 9rem;
  height: 9rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-9-bg.png');
  border-radius: 4.5rem;
  flex-shrink: 0;
}
.macbook-pro-14-4-kjH .auto-group-poys-fHq .auto-group-nmkv-BfV {
  box-sizing: border-box;
  padding: 1rem 0.45rem 0.9rem 0.55rem;
  width: 38.3rem;
  height: 7.9rem;
  background-color: #d9d9d9;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.macbook-pro-14-4-kjH .auto-group-poys-fHq .auto-group-nmkv-BfV .you-can-take-care-by-applying-oil-on-regular-basis-avoid-water-on-tattoo-Td1 {
  max-width: 37.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.macbook-pro-14-4-kjH .auto-group-eh8t-3r7 {
  margin: 0rem 0rem 14rem 49.7rem;
  width: 29.6rem;
  height: 5.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.macbook-pro-14-4-kjH .auto-group-effm-oTu {
  margin-right: 8.8rem;
  box-sizing: border-box;
  padding: 0.8rem 2.4rem 0.7rem 2.4rem;
  width: 93.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
