
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-23-29u {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}
.surface-pro-8-23-29u .group-111-gET {
  margin-bottom: 4rem;
  width: 100%;
  height: 20.7rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ {
  box-sizing: border-box;
  padding: 5.9rem 15.3rem 0.211rem 15rem;
  width: 151.2rem;
  height: 20.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #121212;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .group-77-91Z {
  margin: 0rem 6.9rem 8.557rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .group-77-91Z .tattoo-dBd {
  margin: 0.032rem 1.6rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .group-77-91Z .tales-Pq1 {
  margin-bottom: 0.0324rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m {
  margin-right: 7.5rem;
  width: 74rem;
  height: 100%;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .frame-10-koy {
  margin-bottom: 4.0697rem;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 2rem;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .frame-10-koy .home-Aco {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .frame-10-koy .artists-qU3 {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .frame-10-koy .shop-gjZ {
  margin-right: 8.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .frame-10-koy .blog-aK9 {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .frame-10-koy .about-us-2gw {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .auto-group-a53v-1Hy {
  margin-right: 5.5rem;
  width: calc(100% - 5.5rem);
  height: 4.5197rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .auto-group-a53v-1Hy .group-81-rJb {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 0.804rem 9.9rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .auto-group-a53v-1Hy .group-81-rJb .vector-7kK {
  margin: 0rem 1.2rem 0.023rem 0rem;
  width: 1.7rem;
  height: 2.1731rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .auto-group-a53v-1Hy .group-81-rJb .ambattur-chennai-BEP {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .auto-group-a53v-1Hy .group-80-kRu {
  box-sizing: border-box;
  padding: 0.804rem 27rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .auto-group-a53v-1Hy .group-80-kRu .vector-Rnw {
  margin: 0rem 2.097rem 0.185rem 0rem;
  width: 2.003rem;
  height: 2.0118rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .auto-group-xkq1-U5m .auto-group-a53v-1Hy .group-80-kRu .search-gym {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .group-88-yDZ .group-75-61u {
  margin-bottom: 8.5114rem;
  width: 15rem;
  height: 6.0263rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .group-111-gET .vector-6pX {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 131.4rem;
  top: 15.7rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-23-29u .group-111-gET .vector-mQs {
  width: 5rem;
  height: 4.2847rem;
  position: absolute;
  left: 122.4rem;
  top: 16.1rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-23-29u .tattoo-machines-nqm {
  margin: 0rem 88.9rem 4.4rem 0rem;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.0227272727;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H {
  margin: 0rem 15.2rem 4rem 15.2rem;
  width: calc(100% - 30.4rem);
  height: 37.9rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-96-fo5 {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-96-fo5 .group-83-Jb9 {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-96-fo5 .group-83-Jb9 .rectangle-68-21M {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -1.9867rem 0;
  background-image: url('../assets/rectangle-68-JMD.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-96-fo5 .critical-tattoo-torque-pen-machine-Et7 {
  margin-right: 2.9rem;
  max-width: 22.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-97-kzs {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-97-kzs .group-83-4kf {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-97-kzs .group-83-4kf .rectangle-68-oy9 {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-a2s.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-97-kzs .fk-irons-one-tattoo-machine-in-battery-D1H {
  max-width: 20.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-98-R7M {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-98-R7M .group-83-VN7 {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-98-R7M .group-83-VN7 .rectangle-68-dUK {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-Ukf.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-98-R7M .peak-solice-wireless-pen-tattoo-machine-43q {
  margin-right: 2.4rem;
  max-width: 22.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-104-D59 {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-104-D59 .group-83-inb {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-104-D59 .group-83-inb .rectangle-68-4Lf {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-ncF.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-qpas-e7H .frame-104-D59 .critical-x-bishop-power-wand-machine-Ttb {
  margin-right: 0.5rem;
  max-width: 24.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF {
  margin: 0rem 15.2rem 4rem 15.2rem;
  width: calc(100% - 30.4rem);
  height: 37.9rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-100-52o {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-100-52o .group-83-ydy {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-100-52o .group-83-ydy .rectangle-68-Wto {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-1JP.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-100-52o .vlad-blad-ultron-pen-2-tattoo-machine-XZ1 {
  margin-right: 0.3rem;
  max-width: 24.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-101-Rno {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-101-Rno .group-83-jHh {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-101-Rno .group-83-jHh .rectangle-68-4as {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-qBu.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-101-Rno .vlad-blad-avenger-2-pro-rotary-machine-sYK {
  margin-right: 3.2rem;
  max-width: 22rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-102-gEs {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.8000000119) 100%, rgba(0, 72, 82, 0.8000000119) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-102-gEs .group-83-ZJf {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-102-gEs .group-83-ZJf .rectangle-68-TQ3 {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -1.3867rem 0;
  background-image: url('../assets/rectangle-68-Khq.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-102-gEs .fk-irons-xion-pen-limited-edition-9w5 {
  margin-right: 4rem;
  max-width: 21.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-103-fnw {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-103-fnw .group-83-imD {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-103-fnw .group-83-imD .rectangle-68-3oV {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-MXm.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-pxrv-GLF .frame-103-fnw .peak-matrix-pen-tattoo-machine-black-fps {
  margin-right: 0.6rem;
  max-width: 24.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT {
  margin: 0rem 15.2rem 4rem 15.2rem;
  width: calc(100% - 30.4rem);
  height: 37.9rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-105-5GK {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-105-5GK .group-83-wJX {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-105-5GK .group-83-wJX .rectangle-68-fEX {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -1.9867rem 0;
  background-image: url('../assets/rectangle-68-dbm.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-105-5GK .critical-tattoo-torque-pen-machine-J2b {
  margin-right: 2.9rem;
  max-width: 22.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-106-Tpb {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-106-Tpb .group-83-aeK {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-106-Tpb .group-83-aeK .rectangle-68-XJf {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-zE3.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-106-Tpb .fk-irons-one-tattoo-machine-in-battery-KkK {
  max-width: 20.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-107-LfR {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-107-LfR .group-83-3pj {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-107-LfR .group-83-3pj .rectangle-68-Bvw {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-aNB.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-107-LfR .peak-solice-wireless-pen-tattoo-machine-C5M {
  margin-right: 2.4rem;
  max-width: 22.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-108-BCB {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-108-BCB .group-83-T9h {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-108-BCB .group-83-T9h .rectangle-68-C7H {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-qMh.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-jvwj-RxT .frame-108-BCB .critical-x-bishop-power-wand-machine-dCb {
  margin-right: 0.5rem;
  max-width: 24.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR {
  margin: 0rem 15.2rem 6rem 15.2rem;
  width: calc(100% - 30.4rem);
  height: 37.9rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-109-qT5 {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-109-qT5 .group-83-79h {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-109-qT5 .group-83-79h .rectangle-68-Ek7 {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-sVy.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-109-qT5 .vlad-blad-ultron-pen-2-tattoo-machine-faX {
  margin-right: 0.3rem;
  max-width: 24.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-110-cu5 {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-110-cu5 .group-83-vum {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-110-cu5 .group-83-vum .rectangle-68-Fx3 {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-bHh.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-110-cu5 .vlad-blad-avenger-2-pro-rotary-machine-FqZ {
  margin-right: 3.2rem;
  max-width: 22rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-111-2jq {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.8000000119) 100%, rgba(0, 72, 82, 0.8000000119) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-111-2jq .group-83-LkX {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-111-2jq .group-83-LkX .rectangle-68-3ew {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -1.3867rem 0;
  background-image: url('../assets/rectangle-68-s6w.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-111-2jq .fk-irons-xion-pen-limited-edition-sdy {
  margin-right: 4rem;
  max-width: 21.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-112-dmZ {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-112-dmZ .group-83-MBm {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-112-dmZ .group-83-MBm .rectangle-68-gjq {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-cmu.png');
  border-radius: 1.2rem;
}
.surface-pro-8-23-29u .auto-group-3udz-BdR .frame-112-dmZ .peak-matrix-pen-tattoo-machine-black-tL7 {
  margin-right: 0.6rem;
  max-width: 24.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj {
  margin: 0rem 15rem 0rem 14.5rem;
  box-sizing: border-box;
  padding-left: 0.7rem;
  width: calc(100% - 29.5rem);
  height: 46.4rem;
  border-top: solid 0.1rem #ffffff;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM {
  width: 100%;
  height: 100%;
  position: relative;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .rectangle-129-c39 {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .rectangle-130-W8X {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-123-cST {
  width: 22.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 39.4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-123-cST .tattoo-78K {
  margin-right: 0.7rem;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-123-cST .tales-jfV {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-124-EcF {
  width: 23.8rem;
  height: 14.8rem;
  position: absolute;
  left: 22.2rem;
  top: 2.4rem;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-124-EcF .company-68f {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-124-EcF .tattootalesgmailcom-nGP {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-124-EcF .about-4Du {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-125-X7V {
  width: 32.7rem;
  height: 25.6rem;
  position: absolute;
  left: 88.3rem;
  top: 2.4rem;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-125-X7V .auto-group-tgkw-N87 {
  margin: 0rem 0.8rem 1.6rem 0rem;
  width: calc(100% - 0.8rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-125-X7V .auto-group-tgkw-N87 .the-DuR {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-125-X7V .auto-group-tgkw-N87 .auto-group-zdap-UaT {
  box-sizing: border-box;
  padding-left: 0.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-125-X7V .auto-group-tgkw-N87 .auto-group-zdap-UaT .group-118-yXD {
  margin: 0.5rem 1.2rem 0.5rem 0rem;
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-125-X7V .auto-group-tgkw-N87 .auto-group-zdap-UaT .group-118-yXD .tattoo-1yh {
  margin-right: 1.2rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-125-X7V .auto-group-tgkw-N87 .auto-group-zdap-UaT .group-118-yXD .tales-sm1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-125-X7V .auto-group-tgkw-N87 .auto-group-zdap-UaT .app-XqZ {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-125-X7V .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-RR9 {
  margin-left: 0.2rem;
  max-width: 32.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-126-R3m {
  width: 21rem;
  height: 14.8rem;
  position: absolute;
  left: 56.7rem;
  top: 2.4rem;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-126-R3m .legal-ex7 {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-126-R3m .terms-conditions-wRR {
  margin: 0rem 0rem 1.2rem 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-126-R3m .privacy-policy-QK1 {
  margin-left: 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-127-3sm {
  width: 11.5rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-127-3sm .explore-9A7 {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-127-3sm .artist-SQ7 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-127-3sm .blog-JhD {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-23-29u .auto-group-evbm-sxj .group-130-iyM .group-127-3sm .shop-bwD {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
