
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-20-Sas {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}
.surface-pro-8-20-Sas .group-110-7S7 {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 20.7rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf {
  box-sizing: border-box;
  padding: 5.9rem 15.3rem 0.211rem 15rem;
  width: 151.2rem;
  height: 20.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #121212;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .group-77-nRm {
  margin: 0rem 6.9rem 8.557rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .group-77-nRm .tattoo-gn3 {
  margin: 0.032rem 1.6rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .group-77-nRm .tales-t7R {
  margin-bottom: 0.0324rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV {
  margin-right: 7.5rem;
  width: 74rem;
  height: 100%;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .frame-10-5So {
  margin-bottom: 4.0697rem;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 2rem;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .frame-10-5So .home-hyy {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .frame-10-5So .artists-PM1 {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .frame-10-5So .shop-RYb {
  margin-right: 8.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .frame-10-5So .blog-Xbd {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .frame-10-5So .about-us-zEK {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .auto-group-4gc7-bzo {
  margin-right: 5.5rem;
  width: calc(100% - 5.5rem);
  height: 4.5197rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .auto-group-4gc7-bzo .group-81-Tn7 {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 0.804rem 9.9rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .auto-group-4gc7-bzo .group-81-Tn7 .vector-kFR {
  margin: 0rem 1.2rem 0.023rem 0rem;
  width: 1.7rem;
  height: 2.1731rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .auto-group-4gc7-bzo .group-81-Tn7 .ambattur-chennai-2Cw {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .auto-group-4gc7-bzo .group-80-EK1 {
  box-sizing: border-box;
  padding: 0.804rem 27rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .auto-group-4gc7-bzo .group-80-EK1 .vector-8fH {
  margin: 0rem 2.097rem 0.185rem 0rem;
  width: 2.003rem;
  height: 2.0118rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .auto-group-ykgs-NHV .auto-group-4gc7-bzo .group-80-EK1 .search-2Es {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .group-88-ctf .group-75-E63 {
  margin-bottom: 8.5114rem;
  width: 15rem;
  height: 6.0263rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .group-110-7S7 .vector-hdq {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 131.4rem;
  top: 15.7rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-20-Sas .group-110-7S7 .vector-zN3 {
  width: 5rem;
  height: 4.2847rem;
  position: absolute;
  left: 122.4rem;
  top: 16.1rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-20-Sas .component-1-F35 {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding-right: 11.6rem;
  width: 100%;
  height: 32.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR {
  box-sizing: border-box;
  padding: 1.7rem 6.2rem 1.1rem 11rem;
  width: 327.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT {
  margin-right: 7.9rem;
  width: 151.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .rectangle-83-fm1 {
  width: 151.2rem;
  height: 30rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #d9d9d9;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product-plain-studio-background1258-63884-2-ZrP {
  width: 151.2rem;
  height: 30rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: cover;
  vertical-align: top;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .removebg-preview-2-CeT {
  width: 151.2rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .group-89-4wZ {
  width: 35rem;
  height: 21.3rem;
  position: absolute;
  left: 0;
  top: 5.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .group-89-4wZ .hurry--ADu {
  margin-bottom: 3.2rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.5;
  color: #ffffff;
  font-family: Kavoon, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .group-89-4wZ .sales-end-today-TTu {
  margin: 0rem 0rem 1.6rem 0.1rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 0.75;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .group-89-4wZ .grab-deals-before-its-over-615 {
  margin-bottom: 2.5rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .group-89-4wZ .frame-96-Amd {
  margin: 0rem 9.5rem 0rem 9.6rem;
  width: calc(100% - 19.1rem);
  height: 5rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff400;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .online-shopping-day-sale-banner87202-1081-removebg-preview-3-ucj {
  width: 26rem;
  height: 24.6071rem;
  position: relative;
  left: 0;
  top: 2.7rem;
  background-size: 206.07% 130.641%;
  background-position: -1.7444rem -4.1976rem;
  background-image: url('../assets/online-shopping-day-sale-banner87202-1081-removebg-preview-3.png');
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-90-1gT .online-shopping-day-sale-banner87202-1081-removebg-preview-4-sT5 {
  width: 26rem;
  height: 24.6071rem;
  position: relative;
  left: 0;
  top: 2.7rem;
  background-size: 206.07% 130.641%;
  background-position: -1.7444rem -4.1976rem;
  background-image: url('../assets/online-shopping-day-sale-banner87202-1081-removebg-preview-4.png');
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d {
  box-sizing: border-box;
  padding: 0.1rem 24rem 0.1rem 26.2rem;
  width: 151.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-f2nk-YSj {
  margin: 0rem 3.095rem 0.514rem 0rem;
  width: 26.6052rem;
  height: 29.3862rem;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-f2nk-YSj .stilo-tattoo-pen-pearly-pink-removebg-preview-1-BEo {
  width: 24.1631rem;
  height: 29.3862rem;
  position: relative;
  left: 2.4421rem;
  top: 0;
  background-size: 146.823% 135.238%;
  background-position: -4.1352rem -5.7254rem;
  background-image: url('../assets/stilo-tattoo-pen-pearly-pink-removebg-preview-1.png');
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-f2nk-YSj .stilo-tattoo-pen-pearly-pink-removebg-preview-2-Cfh {
  width: 22.385rem;
  height: 28.3508rem;
  position: relative;
  left: 0;
  top: 0.8862rem;
  background-size: 146.823% 135.238%;
  background-position: -3.7189rem -5.543rem;
  background-image: url('../assets/stilo-tattoo-pen-pearly-pink-removebg-preview-2.png');
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-ca8w-pBH {
  margin: 5.3rem 3.1rem 5.6rem 0rem;
  width: 43rem;
  height: calc(100% - 10.9rem);
  row-gap: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-ca8w-pBH .shop-now-qcB {
  margin-right: 14.7rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.5;
  color: #ffffff;
  font-family: Kavoon, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-ca8w-pBH .best-rotary-tattoo-pen-XV1 {
  margin-left: 4rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 0.75;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-ca8w-pBH .frame-96-cmM {
  margin: 0rem 9.2rem 0rem 8rem;
  width: calc(100% - 17.2rem);
  height: 5rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff400;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-zgxf-z1D {
  margin-bottom: 11.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-zgxf-z1D .diwali-sale-4mm {
  margin: 0rem 2rem 2.4rem 0rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 0.6;
  color: #4600aa;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .auto-group-rrdr-LKR .group-93-g9d .auto-group-zgxf-z1D .up-to-30-off-9YK {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  color: #ff0000;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .group-96-26K {
  width: 151.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .group-96-26K .group-94-7Nf {
  box-sizing: border-box;
  padding: 6.1rem 47.9rem 6rem 48rem;
  width: 151.2rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 2.8rem;
  background-color: #d9d9d9;
}
.surface-pro-8-20-Sas .component-1-F35 .group-96-26K .group-94-7Nf .group-95-NZV {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
}
.surface-pro-8-20-Sas .component-1-F35 .group-96-26K .group-94-7Nf .group-95-NZV .flat-50-off-HRZ {
  margin: 0rem 24.2rem 4.5rem 0rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.5;
  color: #121212;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .group-96-26K .group-94-7Nf .group-95-NZV .on-your-first-tattoo-booking-yJP {
  margin: 0rem 0rem 2.5rem 7rem;
  font-size: 4rem;
  font-weight: 300;
  line-height: 0.75;
  color: #ffffff;
  font-family: Kalam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .group-96-26K .group-94-7Nf .group-95-NZV .frame-97-NrK {
  margin: 0 19.8rem;
  width: calc(100% - 39.6rem);
  height: 5rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff400;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .component-1-F35 .group-96-26K .tattooed-man-with-headphones-against-blue-sky-ocean-1-Xsd {
  width: 31.1rem;
  height: 31.7rem;
  position: relative;
  left: 100rem;
  top: 1.2rem;
  background-size: 100% 144.94%;
  background-position: 0 -14.2459rem;
  background-image: url('../assets/tattooed-man-with-headphones-against-blue-sky-ocean-1.png');
}
.surface-pro-8-20-Sas .component-1-F35 .group-96-26K .muscular-man-with-tattoo-removebg-preview-1-JX1 {
  width: 24.8rem;
  height: 32.9rem;
  position: relative;
  left: 24.3rem;
  top: 0;
  background-size: 164.516% 186.018%;
  background-position: -7.4rem 0;
  background-image: url('../assets/muscular-man-with-tattoo-removebg-preview-1.png');
}
.surface-pro-8-20-Sas .categories-hZ9 {
  margin-right: 99.2rem;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.0227272727;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR {
  box-sizing: border-box;
  padding: 4.4rem 15rem 0rem 15.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 {
  margin: 0rem 0.2rem 4rem 0.1rem;
  width: calc(100% - 0.3rem);
  height: 34.9rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-84-mqq {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-84-mqq .group-83-VWw {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-84-mqq .group-83-VWw .rectangle-68-Bef {
  width: 25.2rem;
  height: 28.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-84-mqq .tubes-grips-WqM {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-85-9NX {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-85-9NX .group-83-CLo {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-85-9NX .group-83-CLo .rectangle-68-jLj {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: 0.0389rem 0;
  background-image: url('../assets/rectangle-68-GWK.png');
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-85-9NX .needles-cartridges-mHR {
  margin-right: 2.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-86-v3q {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  cursor: pointer;
  background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-86-v3q .group-83-S2B {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-86-v3q .group-83-S2B .rectangle-68-xmD {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-Wy5.png');
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-86-v3q .tattoo-machines-AsH {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-87-cjH {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  background: linear-gradient(328.72deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-87-cjH .group-83-jou {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-87-cjH .group-83-jou .rectangle-68-sfD {
  width: 25.2rem;
  height: 28.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-nsgp-w67 .frame-87-cjH .stencil-products-ifq {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR {
  margin: 0rem 0.2rem 4rem 0.1rem;
  width: calc(100% - 0.3rem);
  height: 34.9rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-88-24F {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-88-24F .group-83-JnT {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-88-24F .group-83-JnT .rectangle-68-T9Z {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 156.42% 100%;
  background-position: -7.2163rem 1.7184rem;
  background-image: url('../assets/rectangle-68-Mgs.png');
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-88-24F .medical-supplies-6CX {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-89-uQs {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-89-uQs .group-83-2VV {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-89-uQs .group-83-2VV .rectangle-68-kwH {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 168.321% 100%;
  background-position: -3.3371rem 0.3401rem;
  background-image: url('../assets/rectangle-68-WtX.png');
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-89-uQs .tattoo-ink-16X {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-90-p3y {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  background: linear-gradient(148.72deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-90-p3y .group-83-L2K {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-90-p3y .group-83-L2K .rectangle-68-4yu {
  width: 25.2rem;
  height: 28.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-90-p3y .power-supplies-KQ3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-91-a55 {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  background: linear-gradient(328.72deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-91-a55 .group-83-Vhq {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-91-a55 .group-83-Vhq .rectangle-68-E9d {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 168.36% 100%;
  background-position: -1.1133rem 0;
  background-image: url('../assets/rectangle-68-9tK.png');
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-ryjw-ksR .frame-91-a55 .accessories-dhZ {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .top-deals-UTH {
  margin: 0rem 101.7rem 4.4rem 0rem;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.0227272727;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR {
  margin: 0rem 0.3rem 6rem 0rem;
  height: 37.9rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-92-PTm {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(152.75deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-92-PTm .group-83-gSs {
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-92-PTm .group-83-gSs .rectangle-68-EUP {
  width: 25.2rem;
  height: 28.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-92-PTm .tattoo-machine-Udd {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-92-PTm .min40-60-off-yqH {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-93-22s {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-93-22s .group-83-sJP {
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-93-22s .group-83-sJP .rectangle-68-Dt3 {
  width: 25.2rem;
  height: 28.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-93-22s .universal-battery-KAP {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-93-22s .under-999-zGX {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-94-D9H {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-94-D9H .group-83-Snj {
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-94-D9H .group-83-Snj .rectangle-68-atw {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.062rem 0;
  background-image: url('../assets/rectangle-68-gWj.png');
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-94-D9H .cinra-cartridges-system-bZ9 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-94-D9H .off-enK {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-95-5Mq {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-95-5Mq .group-83-jBV {
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-95-5Mq .group-83-jBV .rectangle-68-sYb {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 168.36% 100%;
  background-position: -6.1133rem 0;
  background-image: url('../assets/rectangle-68-kHM.png');
  border-radius: 1.2rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-95-5Mq .element-tattoo-ink-rvK {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .auto-group-tjhr-9ZR .frame-95-5Mq .under-699-kko {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH {
  margin-left: 0.1rem;
  width: 121rem;
  height: 46.4rem;
  position: relative;
  border-top: solid 0.1rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .rectangle-129-2rj {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .rectangle-130-LcX {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-123-ras {
  width: 22.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 39.4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-123-ras .tattoo-KjM {
  margin-right: 0.7rem;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-123-ras .tales-Co9 {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-124-5M9 {
  width: 23.8rem;
  height: 14.8rem;
  position: absolute;
  left: 22.2rem;
  top: 2.4rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-124-5M9 .company-A7h {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-124-5M9 .tattootalesgmailcom-FQ3 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-124-5M9 .about-Y8F {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-125-o4B {
  width: 32.7rem;
  height: 25.6rem;
  position: absolute;
  left: 88.3rem;
  top: 2.4rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-125-o4B .auto-group-tszd-Hzw {
  margin: 0rem 0.8rem 1.6rem 0rem;
  width: calc(100% - 0.8rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-125-o4B .auto-group-tszd-Hzw .the-y75 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-125-o4B .auto-group-tszd-Hzw .auto-group-dz4w-dSX {
  box-sizing: border-box;
  padding-left: 0.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-125-o4B .auto-group-tszd-Hzw .auto-group-dz4w-dSX .group-118-9Qs {
  margin: 0.5rem 1.2rem 0.5rem 0rem;
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-125-o4B .auto-group-tszd-Hzw .auto-group-dz4w-dSX .group-118-9Qs .tattoo-e6j {
  margin-right: 1.2rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-125-o4B .auto-group-tszd-Hzw .auto-group-dz4w-dSX .group-118-9Qs .tales-5xj {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-125-o4B .auto-group-tszd-Hzw .auto-group-dz4w-dSX .app-PiX {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-125-o4B .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-VWf {
  margin-left: 0.2rem;
  max-width: 32.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-126-fpT {
  width: 21rem;
  height: 14.8rem;
  position: absolute;
  left: 56.7rem;
  top: 2.4rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-126-fpT .legal-xHm {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-126-fpT .terms-conditions-Sij {
  margin: 0rem 0rem 1.2rem 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-126-fpT .privacy-policy-U9d {
  margin-left: 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-127-m8j {
  width: 11.5rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-127-m8j .explore-eyD {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-127-m8j .artist-iiB {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-127-m8j .blog-dKM {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-20-Sas .auto-group-zrcs-kXR .group-130-wqH .group-127-m8j .shop-vJT {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
