
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-19-NFq {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}
.surface-pro-8-19-NFq .group-88-SmV {
  margin-bottom: 3.3rem;
  box-sizing: border-box;
  padding: 5.926rem 15.2rem 0.311rem 15.1rem;
  width: 100%;
  height: 20.8rem;
  display: flex;
  align-items: center;
  background-color: #121212;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .group-77-65M {
  margin: 0rem 6.9rem 8.583rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .group-77-65M .tattoo-BsV {
  margin: 0.032rem 1.6rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .group-77-65M .tales-a8w {
  margin-bottom: 0.0325rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX {
  margin-right: 7.5rem;
  width: 74rem;
  height: 100%;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .frame-10-w7u {
  margin-bottom: 4.0438rem;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 2rem;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .frame-10-w7u .home-pBh {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .frame-10-w7u .artists-5dR {
  margin-right: 8.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .frame-10-w7u .shop-LZM {
  margin-right: 8.3rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .frame-10-w7u .blog-dYT {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .frame-10-w7u .about-us-h2X {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .auto-group-nqno-JY7 {
  margin-right: 5.5rem;
  width: calc(100% - 5.5rem);
  height: 4.5197rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .auto-group-nqno-JY7 .group-81-vpP {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 0.804rem 9.9rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .auto-group-nqno-JY7 .group-81-vpP .vector-cSK {
  margin: 0rem 1.2rem 0.023rem 0rem;
  width: 1.7rem;
  height: 2.1731rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .auto-group-nqno-JY7 .group-81-vpP .ambattur-chennai-Vm1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .auto-group-nqno-JY7 .group-80-tYF {
  box-sizing: border-box;
  padding: 0.804rem 27rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .auto-group-nqno-JY7 .group-80-tYF .vector-mrw {
  margin: 0rem 2.097rem 0.185rem 0rem;
  width: 2.003rem;
  height: 2.0118rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .auto-group-a6ak-TiX .auto-group-nqno-JY7 .group-80-tYF .search-paK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-88-SmV .group-75-Gx7 {
  margin-bottom: 8.5373rem;
  width: 15rem;
  height: 6.0263rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-f5ku-vvB {
  margin: 0rem 14.4rem 2.7rem 15.2rem;
  width: calc(100% - 29.6rem);
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-f5ku-vvB .auto-group-i8z5-mR1 {
  box-sizing: border-box;
  padding: 0.7rem 11.4rem 0.9rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-f5ku-vvB .auto-group-i8z5-mR1 .h2o-tattoo-studio-G6s {
  margin: 0.4rem 42.2rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-f5ku-vvB .auto-group-i8z5-mR1 .h2o-tattoo-works-k23 {
  margin-bottom: 0.4rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.0714285714;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-f5ku-vvB .frame-93-amm {
  width: 19.7rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(93.31deg, rgba(0, 255, 71, 0.8500000238) 0%, rgba(0, 255, 71, 0.5) 0.01%, rgba(0, 47, 19, 0.6899999976) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 {
  margin: 0rem 15.2rem 4rem 15.2rem;
  width: calc(100% - 30.4rem);
  height: 63.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m {
  margin: 0.4rem 16.5rem 0rem 0rem;
  width: 51.9rem;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .portfolio-oAf {
  margin-bottom: 4rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.0714285714;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-dkj7-F2f {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-dkj7-F2f .experience-9dq {
  margin-right: 0.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-dkj7-F2f .item--qWf {
  margin-right: 0.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-dkj7-F2f .years-6hV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-n1rq-13m {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-n1rq-13m .ratings-KKM {
  margin-right: 4.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-n1rq-13m .item--dL3 {
  margin-right: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-n1rq-13m .vector-hKu {
  margin: 0.129rem 0.798rem 0rem 0rem;
  width: 2.002rem;
  height: 1.929rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-n1rq-13m .item-49-300-ADV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-h6th-3o5 {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-h6th-3o5 .address-8Jj {
  margin-right: 3.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-h6th-3o5 .item--SKR {
  margin-right: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-h6th-3o5 .vector-YNT {
  margin: 0rem 0.8rem 0.036rem 0rem;
  width: 1.7rem;
  height: 2.1636rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-h6th-3o5 .ambattur-chennai-119 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .line-94-iRM {
  margin-bottom: 3.1rem;
  width: 51.7rem;
  height: 0.1rem;
  background-color: #ffffff;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .at-h2o-tattoo-studio-we-transform-ideas-into-indelible-art-our-skilled-artists-blend-creativity-with-precision-to-craft-tattoos-that-go-beyond-skin-deep-telling-stories-expressing-identity-and-leaving-a-lasting-impression-pDV {
  margin-bottom: 3.2rem;
  max-width: 51.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .line-95-PR1 {
  margin-bottom: 3.1rem;
  width: 51.7rem;
  height: 0.1rem;
  background-color: #ffffff;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-izoz-Fy1 {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-izoz-Fy1 .availability-aEb {
  margin-right: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-izoz-Fy1 .item--H91 {
  margin-right: 0.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-izoz-Fy1 .until-9-00-pm-nbZ {
  margin-right: 1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #05ff00;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-izoz-Fy1 .vector-e7y {
  margin-top: 0.3818rem;
  width: 1.8rem;
  height: 0.9818rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .line-96-x8f {
  margin-bottom: 3.1rem;
  width: 51.7rem;
  height: 0.1rem;
  background-color: #ffffff;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-g77v-G9M {
  margin-right: 10.7rem;
  width: calc(100% - 10.7rem);
  height: 5rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-g77v-G9M .frame-92-6u5 {
  margin-right: 6rem;
  width: 20.8rem;
  height: 100%;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(93.31deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-jmdy-M3m .auto-group-g77v-G9M .frame-90-xK1 {
  width: 14.4rem;
  height: 100%;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #00e0ff;
  box-sizing: border-box;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX {
  box-sizing: border-box;
  padding: 0.6rem;
  width: 52.4rem;
  height: 100%;
  row-gap: 0.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-mfaw-jcb {
  width: 100%;
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-mfaw-jcb .rectangle-71-zYX {
  width: 16.8rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-mfaw-jcb .rectangle-72-65m {
  width: 16.8rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-mfaw-jcb .rectangle-73-zgw {
  width: 16.8rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-knr3-tGX {
  width: 100%;
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-knr3-tGX .rectangle-74-AUw {
  width: 16.8rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-knr3-tGX .rectangle-75-4aK {
  width: 16.8rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-knr3-tGX .rectangle-76-NL7 {
  width: 16.8rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-y7yj-DrX {
  width: 100%;
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-y7yj-DrX .rectangle-77-8Th {
  width: 16.8rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-y7yj-DrX .rectangle-78-Emd {
  width: 16.8rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .auto-group-xaes-WJ3 .auto-group-cyz1-6pX .auto-group-y7yj-DrX .rectangle-79-wg3 {
  width: 16.8rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .frame-91-kNb {
  margin: 0rem 0rem 6rem 68.5rem;
  width: 17.1rem;
  height: 5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(93.31deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT {
  margin: 0rem 15rem 0rem 15.2rem;
  width: calc(100% - 30.2rem);
  height: 46.4rem;
  position: relative;
  border-top: solid 0.1rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT .rectangle-129-NB1 {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-19-NFq .group-129-QrT .rectangle-130-oGK {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-19-NFq .group-129-QrT .group-123-wWw {
  width: 22.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 39.4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-19-NFq .group-129-QrT .group-123-wWw .tattoo-DzF {
  margin-right: 0.7rem;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT .group-123-wWw .tales-EuM {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT .group-124-7CT {
  width: 23.8rem;
  height: 14.8rem;
  position: absolute;
  left: 22.2rem;
  top: 2.4rem;
}
.surface-pro-8-19-NFq .group-129-QrT .group-124-7CT .company-abq {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .group-129-QrT .group-124-7CT .tattootalesgmailcom-1h9 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .group-129-QrT .group-124-7CT .about-Uqd {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .group-129-QrT .group-125-y1h {
  width: 32.7rem;
  height: 25.6rem;
  position: absolute;
  left: 88.3rem;
  top: 2.4rem;
}
.surface-pro-8-19-NFq .group-129-QrT .group-125-y1h .auto-group-7jf9-r5V {
  margin: 0rem 0.8rem 1.6rem 0rem;
  width: calc(100% - 0.8rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-19-NFq .group-129-QrT .group-125-y1h .auto-group-7jf9-r5V .the-FtK {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT .group-125-y1h .auto-group-7jf9-r5V .auto-group-zdyk-4qm {
  box-sizing: border-box;
  padding-left: 0.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT .group-125-y1h .auto-group-7jf9-r5V .auto-group-zdyk-4qm .group-118-yC3 {
  margin: 0.5rem 1.2rem 0.5rem 0rem;
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT .group-125-y1h .auto-group-7jf9-r5V .auto-group-zdyk-4qm .group-118-yC3 .tattoo-bUK {
  margin-right: 1.2rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT .group-125-y1h .auto-group-7jf9-r5V .auto-group-zdyk-4qm .group-118-yC3 .tales-TWX {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT .group-125-y1h .auto-group-7jf9-r5V .auto-group-zdyk-4qm .app-9eF {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-19-NFq .group-129-QrT .group-125-y1h .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-nBR {
  margin-left: 0.2rem;
  max-width: 32.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-19-NFq .group-129-QrT .group-126-a7H {
  width: 21rem;
  height: 14.8rem;
  position: absolute;
  left: 56.7rem;
  top: 2.4rem;
}
.surface-pro-8-19-NFq .group-129-QrT .group-126-a7H .legal-2jy {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .group-129-QrT .group-126-a7H .terms-conditions-fnw {
  margin: 0rem 0rem 1.2rem 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .group-129-QrT .group-126-a7H .privacy-policy-iFR {
  margin-left: 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .group-129-QrT .group-127-B91 {
  width: 11.5rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
}
.surface-pro-8-19-NFq .group-129-QrT .group-127-B91 .explore-2QX {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .group-129-QrT .group-127-B91 .artist-uUK {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .group-129-QrT .group-127-B91 .blog-PPV {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-19-NFq .group-129-QrT .group-127-B91 .shop-qmH {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
