
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-21-seX {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}
.surface-pro-8-21-seX .group-87-kCX {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 5.926rem 15.2rem 2.411rem 15.1rem;
  width: 100%;
  height: 22.9rem;
  display: flex;
  align-items: center;
  background-color: #121212;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .group-77-XMh {
  margin: 0rem 6.9rem 8.583rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .group-77-XMh .tattoo-DEX {
  margin: 0.032rem 1.6rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .group-77-XMh .tales-pk7 {
  margin-bottom: 0.0324rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ {
  margin-right: 7.5rem;
  width: 74rem;
  height: 100%;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .frame-10-mHy {
  margin-bottom: 4.0438rem;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 2rem;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .frame-10-mHy .home-3FV {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .frame-10-mHy .artists-eFH {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .frame-10-mHy .shop-KsD {
  margin-right: 8.3rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .frame-10-mHy .blog-NKh {
  margin-right: 8.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .frame-10-mHy .about-us-g5V {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .auto-group-twh9-r8P {
  margin-right: 5.5rem;
  width: calc(100% - 5.5rem);
  height: 4.5197rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .auto-group-twh9-r8P .group-81-ve3 {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 0.804rem 9.9rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .auto-group-twh9-r8P .group-81-ve3 .vector-c15 {
  margin: 0rem 1.2rem 0.023rem 0rem;
  width: 1.7rem;
  height: 2.1731rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .auto-group-twh9-r8P .group-81-ve3 .ambattur-chennai-36P {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .auto-group-twh9-r8P .group-80-5Hy {
  box-sizing: border-box;
  padding: 0.804rem 27rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .auto-group-twh9-r8P .group-80-5Hy .vector-jNX {
  margin: 0rem 2.097rem 0.185rem 0rem;
  width: 2.003rem;
  height: 2.0118rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .auto-group-vnf9-4PZ .auto-group-twh9-r8P .group-80-5Hy .search-Pxs {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-87-kCX .group-75-cqd {
  margin-bottom: 8.5373rem;
  width: 15rem;
  height: 6.0263rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 {
  margin: 0rem 15.2rem 6rem 15.2rem;
  box-sizing: border-box;
  padding: 4rem 4rem 4.9rem 4rem;
  width: calc(100% - 30.4rem);
  height: 149.5rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: center;
  background: linear-gradient(326.86deg, rgba(0, 224, 255, 0.150000006) 100%, rgba(0, 72, 82, 0.150000006) 200%);
  border-radius: 5rem;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 {
  width: 34.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K {
  margin-bottom: 4rem;
  width: 100%;
  height: 68.3rem;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .rectangle-91-47H {
  width: 34.2rem;
  height: 34.4rem;
  position: absolute;
  left: 0;
  top: 33.9rem;
  border: solid 0.1rem #a3a3a3;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .days-ago-ixX {
  width: 7.4rem;
  height: 3rem;
  position: absolute;
  left: 1.6rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .aliens-tattoo-redefines-artistry-at-kula-2024-LDD {
  width: 26.3rem;
  height: 6rem;
  position: absolute;
  left: 1.6rem;
  top: 41.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .at-aliens-tattoo-we-are-overjoyed-over-the-stellar-performances-of-our-artists-at-this-years-kula-tattoo--9wM {
  width: 30.5rem;
  height: 9rem;
  position: absolute;
  left: 1.6rem;
  top: 49.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .min-VNw {
  width: 3.9rem;
  height: 3rem;
  position: absolute;
  left: 11.2rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .item-101-V1Z {
  width: 2.4rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .item-18-Xiw {
  width: 1.6rem;
  height: 3rem;
  position: absolute;
  left: 12.4rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .item-67-XsM {
  width: 1.8rem;
  height: 3rem;
  position: absolute;
  left: 27.2rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .item--BS7 {
  width: 0.6rem;
  height: 3rem;
  position: absolute;
  left: 9.8rem;
  top: 36rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.875;
  color: #525252;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .rectangle-88-RLT {
  width: 34.2rem;
  height: 34.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 150.422%;
  background-position: 0.0678rem -1.5254rem;
  background-image: url('../assets/rectangle-88.png');
  border-radius: 2rem 2rem 0 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .line-97-2LF {
  width: 31rem;
  height: 0.1rem;
  position: absolute;
  left: 1.6rem;
  top: 62.9rem;
  background-color: #6c6c6c;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .vector-sLs {
  width: 3rem;
  height: 2rem;
  position: absolute;
  left: 1.6rem;
  top: 64.5rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .vector-Aas {
  width: 2.6rem;
  height: 2.4rem;
  position: absolute;
  left: 9rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-2jjd-R4K .vector-rTh {
  width: 2.8rem;
  height: 2.3994rem;
  position: absolute;
  left: 29.8rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs {
  width: 100%;
  height: 68.3rem;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .rectangle-94-ygj {
  width: 34.2rem;
  height: 34.4rem;
  position: absolute;
  left: 0;
  top: 33.9rem;
  border: solid 0.1rem #a3a3a3;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .dec-14-2023-U7h {
  width: 9.5rem;
  height: 3rem;
  position: absolute;
  left: 1.6rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .essential-tips-for-pre-and-post-tattoo-care-V2o {
  width: 28.4rem;
  height: 6rem;
  position: absolute;
  left: 1.6rem;
  top: 41.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .getting-a-tattoo-is-indeed-a-unique-and-transformative-experience-offering-an-outlet-for-personal-expression-it-igF {
  width: 29.8rem;
  height: 9rem;
  position: absolute;
  left: 1.6rem;
  top: 49.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .min-tj9 {
  width: 3.9rem;
  height: 3rem;
  position: absolute;
  left: 12.8rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .item-101-ZaP {
  width: 2.4rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .item-18-Q5D {
  width: 1.6rem;
  height: 3rem;
  position: absolute;
  left: 12.4rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .item-67-dif {
  width: 1.8rem;
  height: 3rem;
  position: absolute;
  left: 27.2rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .item--hTd {
  width: 0.6rem;
  height: 3rem;
  position: absolute;
  left: 11.4rem;
  top: 36rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.875;
  color: #525252;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .rectangle-97-94j {
  width: 34.2rem;
  height: 34.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem 2rem 0 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .line-100-2eK {
  width: 31rem;
  height: 0.1rem;
  position: absolute;
  left: 1.6rem;
  top: 62.9rem;
  background-color: #6c6c6c;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .vector-7Qs {
  width: 3rem;
  height: 2rem;
  position: absolute;
  left: 1.6rem;
  top: 64.5rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .vector-n1D {
  width: 2.6rem;
  height: 2.4rem;
  position: absolute;
  left: 9rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-angf-hu1 .auto-group-yjat-ugs .vector-t4F {
  width: 2.8rem;
  height: 2.3994rem;
  position: absolute;
  left: 29.8rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM {
  width: 34.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs {
  margin-bottom: 4rem;
  width: 100%;
  height: 68.3rem;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .rectangle-92-SdV {
  width: 34.2rem;
  height: 34.4rem;
  position: absolute;
  left: 0;
  top: 33.9rem;
  border: solid 0.1rem #a3a3a3;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .jan-2-gXq {
  width: 3.4rem;
  height: 3rem;
  position: absolute;
  left: 1.6rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .arjun-kapoors-phoenix-tattoo-a-symbol-of-resilience-and-rebirth-Y4F {
  width: 26.5rem;
  height: 9rem;
  position: absolute;
  left: 1.6rem;
  top: 41.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .we-are-ecstatic-to-share-that-aliens-tattoo-in-mumbai-was-recently-graced-by-the--Kz7 {
  width: 29.8rem;
  height: 6rem;
  position: absolute;
  left: 1.6rem;
  top: 52.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .k-wkb {
  width: 3.8rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .item-200-yBV {
  width: 2.9rem;
  height: 3rem;
  position: absolute;
  left: 13.8rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .item-908-1dy {
  width: 2.8rem;
  height: 3rem;
  position: absolute;
  left: 26.2rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .min-G47 {
  width: 3.8rem;
  height: 3rem;
  position: absolute;
  left: 7.2rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .item--u75 {
  width: 0.6rem;
  height: 3rem;
  position: absolute;
  left: 5.8rem;
  top: 36.1rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.875;
  color: #525252;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .rectangle-89-kdV {
  width: 34.2rem;
  height: 34.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 128.923%;
  background-position: 0rem -1.9314rem;
  background-image: url('../assets/rectangle-89.png');
  border-radius: 2rem 2rem 0 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .line-98-vwH {
  width: 31rem;
  height: 0.1rem;
  position: absolute;
  left: 1.6rem;
  top: 62.9rem;
  background-color: #6c6c6c;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .vector-EBH {
  width: 3rem;
  height: 2rem;
  position: absolute;
  left: 1.6rem;
  top: 64.5rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .vector-LEK {
  width: 2.6rem;
  height: 2.4rem;
  position: absolute;
  left: 10.4rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-21ex-bcs .vector-PyH {
  width: 2.8rem;
  height: 2.3994rem;
  position: absolute;
  left: 29.8rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs {
  width: 100%;
  height: 68.3rem;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .rectangle-95-Acf {
  width: 34.2rem;
  height: 34.4rem;
  position: absolute;
  left: 0;
  top: 33.9rem;
  border: solid 0.1rem #a3a3a3;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .nov-30-2023-E6j {
  width: 9.3rem;
  height: 3rem;
  position: absolute;
  left: 1.6rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .nikita-chowdhury-redefines-tattoos-as-her-art-gallery-gDd {
  width: 32.1rem;
  height: 6rem;
  position: absolute;
  left: 1.6rem;
  top: 41.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .meet-nikita-chowdhury-a-unique-art-aficionado-unlike-traditional-collectors-who-adorn-their-walls-with-t4o {
  width: 29.5rem;
  height: 9rem;
  position: absolute;
  left: 1.6rem;
  top: 49.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .k-Hsd {
  width: 3.8rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .item-200-KJX {
  width: 2.9rem;
  height: 3rem;
  position: absolute;
  left: 13.8rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .item-908-ZCs {
  width: 2.8rem;
  height: 3rem;
  position: absolute;
  left: 26.2rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .min-QjH {
  width: 3.9rem;
  height: 3rem;
  position: absolute;
  left: 13.1rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .item--TSf {
  width: 0.6rem;
  height: 3rem;
  position: absolute;
  left: 11.7rem;
  top: 36.1rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.875;
  color: #525252;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .rectangle-98-Jy5 {
  width: 34.2rem;
  height: 34.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 150.159%;
  background-position: 0rem -1.2521rem;
  background-image: url('../assets/rectangle-98.png');
  border-radius: 2rem 2rem 0 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .line-101-VGs {
  width: 31rem;
  height: 0.1rem;
  position: absolute;
  left: 1.6rem;
  top: 62.9rem;
  background-color: #6c6c6c;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .vector-zUX {
  width: 3rem;
  height: 2rem;
  position: absolute;
  left: 1.6rem;
  top: 64.5rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .vector-VgB {
  width: 2.6rem;
  height: 2.4rem;
  position: absolute;
  left: 10.4rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-kcd5-tyM .auto-group-6xmh-HYs .vector-YuM {
  width: 2.8rem;
  height: 2.3994rem;
  position: absolute;
  left: 29.8rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m {
  width: 34.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm {
  margin-bottom: 4rem;
  width: 100%;
  height: 68.3rem;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .rectangle-93-9nf {
  width: 34.2rem;
  height: 34.4rem;
  position: absolute;
  left: 0;
  top: 33.9rem;
  border: solid 0.1rem #a3a3a3;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .week-ago-q9h {
  width: 7.7rem;
  height: 3rem;
  position: absolute;
  left: 1.6rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .punjab-tattoo-fair-2023-aliens-tattoo-takes-centre-stage-with-over-10-awards-TB5 {
  width: 30.7rem;
  height: 9rem;
  position: absolute;
  left: 1.6rem;
  top: 41.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .punjab-tattoo-fair-a-significant-event-in-the-tattoo-awardscircuit-recently-took-place-in-ludhiana--skb {
  width: 29.2rem;
  height: 9rem;
  position: absolute;
  left: 1.6rem;
  top: 52.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .item-51-dtB {
  width: 1.7rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .item-1-h7M {
  width: 0.8rem;
  height: 3rem;
  position: absolute;
  left: 11.7rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .item-23-j43 {
  width: 1.8rem;
  height: 3rem;
  position: absolute;
  left: 27.2rem;
  top: 64rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .min-n2K {
  width: 3.9rem;
  height: 3rem;
  position: absolute;
  left: 11.5rem;
  top: 36.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .item--Crj {
  width: 0.6rem;
  height: 3rem;
  position: absolute;
  left: 10.1rem;
  top: 36.1rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.875;
  color: #525252;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .rectangle-90-EoR {
  width: 34.2rem;
  height: 34.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 162.291%;
  background-position: 0.5478rem -1.1717rem;
  background-image: url('../assets/rectangle-90.png');
  border-radius: 2rem 2rem 0 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .line-99-4XZ {
  width: 31rem;
  height: 0.1rem;
  position: absolute;
  left: 1.6rem;
  top: 62.9rem;
  background-color: #6c6c6c;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .vector-kvB {
  width: 3rem;
  height: 2rem;
  position: absolute;
  left: 1.6rem;
  top: 64.5rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .vector-RmR {
  width: 2.6rem;
  height: 2.4rem;
  position: absolute;
  left: 8.3rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-pse7-8Mm .vector-vCP {
  width: 2.8rem;
  height: 2.3994rem;
  position: absolute;
  left: 29.8rem;
  top: 64.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .rectangle-99-QdM {
  width: 34.2rem;
  height: 33.9rem;
  position: relative;
  background-size: 100% 151.309%;
  background-position: 0 -3.6969rem;
  background-image: url('../assets/rectangle-99.png');
  border-radius: 2rem 2rem 0 0;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH {
  box-sizing: border-box;
  padding: 2.2rem 1.6rem 1.3rem 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #a3a3a3;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-mj43-Goy {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-mj43-Goy .nov-18-2023-yiP {
  margin-right: 0.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-mj43-Goy .item--E8X {
  margin: 0rem 0.8rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.875;
  color: #525252;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-mj43-Goy .min-FpK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .how-much-does-a-tattoo-cost-WkF {
  margin-bottom: 1.6rem;
  max-width: 27.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .getting-a-tattoo-is-not-only-a-personal-and-artistic-decision-but-also-a-financial-one-the-cost-of-a-tattoo-can-vary-dramatically-and-mgB {
  margin-bottom: 4.6rem;
  max-width: 30rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .line-102-n5V {
  margin-bottom: 1rem;
  width: 100%;
  height: 0.1rem;
  background-color: #6c6c6c;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-upuh-TBd {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-upuh-TBd .vector-ALw {
  margin-right: 0.8rem;
  width: 3rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-upuh-TBd .item-51-4hD {
  margin-right: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-upuh-TBd .vector-uxj {
  margin-right: 0.8rem;
  width: 2.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-upuh-TBd .item-1-CS3 {
  margin-right: 14.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-upuh-TBd .item-23-Tcs {
  margin-right: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #3f3f3f;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .auto-group-daf9-gU7 .auto-group-oehd-q7m .auto-group-ygrm-pBH .auto-group-upuh-TBd .vector-YuD {
  margin-bottom: 0.0006rem;
  width: 2.8rem;
  height: 2.3994rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 {
  margin: 0rem 15rem 0rem 15.2rem;
  width: calc(100% - 30.2rem);
  height: 46.4rem;
  position: relative;
  border-top: solid 0.1rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 .rectangle-129-X8s {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-21-seX .group-131-sa7 .rectangle-130-ptf {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-21-seX .group-131-sa7 .group-123-VE7 {
  width: 22.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 39.4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-21-seX .group-131-sa7 .group-123-VE7 .tattoo-mxK {
  margin-right: 0.7rem;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 .group-123-VE7 .tales-eFR {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 .group-124-WHd {
  width: 23.8rem;
  height: 14.8rem;
  position: absolute;
  left: 22.2rem;
  top: 2.4rem;
}
.surface-pro-8-21-seX .group-131-sa7 .group-124-WHd .company-ywu {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .group-131-sa7 .group-124-WHd .tattootalesgmailcom-rko {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .group-131-sa7 .group-124-WHd .about-J71 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .group-131-sa7 .group-125-BwV {
  width: 32.7rem;
  height: 25.6rem;
  position: absolute;
  left: 88.3rem;
  top: 2.4rem;
}
.surface-pro-8-21-seX .group-131-sa7 .group-125-BwV .auto-group-opdh-GT9 {
  margin: 0rem 0.8rem 1.6rem 0rem;
  width: calc(100% - 0.8rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-21-seX .group-131-sa7 .group-125-BwV .auto-group-opdh-GT9 .the-JPq {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 .group-125-BwV .auto-group-opdh-GT9 .auto-group-p7fv-D11 {
  box-sizing: border-box;
  padding-left: 0.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 .group-125-BwV .auto-group-opdh-GT9 .auto-group-p7fv-D11 .group-118-87y {
  margin: 0.5rem 1.2rem 0.5rem 0rem;
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 .group-125-BwV .auto-group-opdh-GT9 .auto-group-p7fv-D11 .group-118-87y .tattoo-pWb {
  margin-right: 1.2rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 .group-125-BwV .auto-group-opdh-GT9 .auto-group-p7fv-D11 .group-118-87y .tales-TJf {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 .group-125-BwV .auto-group-opdh-GT9 .auto-group-p7fv-D11 .app-Mew {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-21-seX .group-131-sa7 .group-125-BwV .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-p2j {
  margin-left: 0.2rem;
  max-width: 32.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-21-seX .group-131-sa7 .group-126-2eb {
  width: 21rem;
  height: 14.8rem;
  position: absolute;
  left: 56.7rem;
  top: 2.4rem;
}
.surface-pro-8-21-seX .group-131-sa7 .group-126-2eb .legal-iGX {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .group-131-sa7 .group-126-2eb .terms-conditions-a3q {
  margin: 0rem 0rem 1.2rem 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .group-131-sa7 .group-126-2eb .privacy-policy-qEf {
  margin-left: 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .group-131-sa7 .group-127-ukK {
  width: 11.5rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
}
.surface-pro-8-21-seX .group-131-sa7 .group-127-ukK .explore-Aw9 {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .group-131-sa7 .group-127-ukK .artist-GUP {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .group-131-sa7 .group-127-ukK .blog-mR9 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-21-seX .group-131-sa7 .group-127-ukK .shop-EZd {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
