
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-25-6SK {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}
.surface-pro-8-25-6SK .group-112-hwu {
  margin-bottom: 4.1rem;
  width: 100%;
  height: 20.7rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu {
  box-sizing: border-box;
  padding: 4.4rem 15.3rem 0.211rem 15rem;
  width: 151.2rem;
  height: 20.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #121212;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .group-77-y2F {
  margin: 0rem 6.5rem 7.057rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .group-77-y2F .tattoo-5LB {
  margin: 0.032rem 1.6rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .group-77-y2F .tales-Jij {
  margin-bottom: 0.0324rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 {
  margin-right: 7.9rem;
  width: 74rem;
  height: 100%;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .frame-10-SyM {
  margin-bottom: 5.5697rem;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 2rem;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .frame-10-SyM .home-KnF {
  margin-right: 8.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .frame-10-SyM .artists-B3m {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .frame-10-SyM .shop-rvb {
  margin-right: 8.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .frame-10-SyM .blog-yEX {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .frame-10-SyM .about-us-RcK {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .auto-group-fmn7-PxT {
  margin: 0rem 5.1rem 0rem 0.4rem;
  width: calc(100% - 5.5rem);
  height: 4.5197rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .auto-group-fmn7-PxT .group-81-GFZ {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 0.804rem 9.9rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .auto-group-fmn7-PxT .group-81-GFZ .vector-MH1 {
  margin: 0rem 1.2rem 0.023rem 0rem;
  width: 1.7rem;
  height: 2.1731rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .auto-group-fmn7-PxT .group-81-GFZ .ambattur-chennai-PDh {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .auto-group-fmn7-PxT .group-80-q5h {
  box-sizing: border-box;
  padding: 0.804rem 27rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .auto-group-fmn7-PxT .group-80-q5h .vector-Whd {
  margin: 0rem 2.097rem 0.185rem 0rem;
  width: 2.003rem;
  height: 2.0118rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .auto-group-32zd-Yd5 .auto-group-fmn7-PxT .group-80-q5h .search-MCT {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .group-88-1Bu .group-75-bcb {
  margin-bottom: 7.0114rem;
  width: 15rem;
  height: 6.0263rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-112-hwu .vector-yFm {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 131.4rem;
  top: 15.7rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-25-6SK .group-112-hwu .vector-EBh {
  width: 5rem;
  height: 4.2847rem;
  position: absolute;
  left: 122.4rem;
  top: 16.1rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 {
  margin: 0rem 18.1rem 3rem 15.2rem;
  width: calc(100% - 33.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .torquekitgreen3-2-zq5 {
  margin: 0.2rem 4rem 0rem 0rem;
  cursor: pointer;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .torquekitgreen3-2-zq5 .torquekitgreen3-2-6t7 {
  width: 50rem;
  height: 48.4rem;
  position: relative;
  background-size: 100% 103.306%;
  background-position: -0rem -1.6rem;
  background-image: url('../assets/torquekitgreen3-2.png');
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .auto-group-p4rt-Hhh {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .auto-group-p4rt-Hhh .critical-tattoo-torque-pen-tool-machine-full-kit-og3 {
  margin: 0rem 0rem 3.2rem 0.4rem;
  max-width: 62.4rem;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.0227272727;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .auto-group-p4rt-Hhh .auto-group-rpdq-11R {
  margin-bottom: 4rem;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .auto-group-p4rt-Hhh .auto-group-rpdq-11R .vector-VxB {
  width: 4rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .auto-group-p4rt-Hhh .auto-group-rpdq-11R .vector-z8F {
  width: 4rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .auto-group-p4rt-Hhh .auto-group-rpdq-11R .vector-6wy {
  width: 4rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .auto-group-p4rt-Hhh .auto-group-rpdq-11R .vector-nK1 {
  width: 4rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-xr2o-KD9 .auto-group-p4rt-Hhh .upgrade-your-tattooing-experience-with-the-critical-tattoo-torque-pen-a-powerful-fast-and-efficient-machine-featuring-the-industrys-first-precision-strike-technology-this-pen-revolutionizes-tattooing-allowing-for-faster-and-read-more-hRy {
  max-width: 63.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.40625;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH {
  margin: 0rem 15.2rem 7.9rem 15.2rem;
  width: calc(100% - 30.4rem);
  height: 5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH .item-599900-t95 {
  margin: 0.1rem 10.4rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.125;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH .auto-group-eryq-Xxj {
  margin-right: 3.6rem;
  width: 20.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH .auto-group-eryq-Xxj .item-1-3AP {
  width: 1.6rem;
  height: 4.9rem;
  position: absolute;
  left: 9.3rem;
  top: 0.1rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.52406919;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH .auto-group-eryq-Xxj .vector-TE7 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 15.2rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH .auto-group-eryq-Xxj .vector-xAs {
  width: 2.4rem;
  height: 0.2rem;
  position: absolute;
  left: 2.4rem;
  top: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH .auto-group-eryq-Xxj .rectangle-111-1uq {
  width: 20.1rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 1.2rem;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH .frame-93-6gP {
  margin-right: 3.6rem;
  width: 56.5rem;
  height: 100%;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(93.31deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH .auto-group-jmxu-DeX {
  box-sizing: border-box;
  padding: 1rem 1.9rem 1.1rem 1.9rem;
  height: 100%;
  border: solid 0.1rem #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-mmdh-rTH .auto-group-jmxu-DeX .vector-KhZ {
  width: 3.3rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-25-6SK .auto-group-verb-ocj {
  margin: 0rem 15.2rem 4.1rem 15.2rem;
  width: calc(100% - 30.4rem);
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-verb-ocj .line-103-drf {
  margin-top: 0.2rem;
  width: 39.4rem;
  height: 0.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-verb-ocj .you-may-also-like-vKy {
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.0227272727;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-verb-ocj .line-104-R1q {
  margin-top: 0.2rem;
  width: 40.1rem;
  height: 0.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko {
  margin: 0rem 15.2rem 6rem 15.2rem;
  width: calc(100% - 30.4rem);
  height: 37.9rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-113-LHD {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-113-LHD .group-83-dGK {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-113-LHD .group-83-dGK .rectangle-68-ZQs {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-463.png');
  border-radius: 1.2rem;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-113-LHD .vlad-blad-ultron-pen-2-tattoo-machine-iwy {
  margin-right: 0.3rem;
  max-width: 24.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-114-3My {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-114-3My .group-83-8uD {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-114-3My .group-83-8uD .rectangle-68-GkX {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-HoM.png');
  border-radius: 1.2rem;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-114-3My .vlad-blad-avenger-2-pro-rotary-machine-4Ab {
  margin-right: 3.2rem;
  max-width: 22rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-115-qaf {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(152.75deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-115-qaf .group-83-iPZ {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-115-qaf .group-83-iPZ .rectangle-68-T6F {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -1.3867rem 0;
  background-image: url('../assets/rectangle-68-VE7.png');
  border-radius: 1.2rem;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-115-qaf .fk-irons-xion-pen-limited-edition-gDu {
  margin-right: 4rem;
  max-width: 21.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-116-2wy {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(153.66deg, rgba(0, 224, 255, 0.6000000238) 1.28%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-116-2wy .group-83-jrP {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-116-2wy .group-83-jrP .rectangle-68-sxb {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-X1h.png');
  border-radius: 1.2rem;
}
.surface-pro-8-25-6SK .auto-group-aztm-Uko .frame-116-2wy .peak-matrix-pen-tattoo-machine-black-sr7 {
  margin-right: 0.6rem;
  max-width: 24.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d {
  margin: 0rem 15rem 0rem 15.2rem;
  width: calc(100% - 30.2rem);
  height: 46.4rem;
  position: relative;
  border-top: solid 0.1rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d .rectangle-129-GWs {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-25-6SK .group-131-T3d .rectangle-130-aGf {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-25-6SK .group-131-T3d .group-123-t2T {
  width: 22.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 39.4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-25-6SK .group-131-T3d .group-123-t2T .tattoo-NyD {
  margin-right: 0.7rem;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d .group-123-t2T .tales-Qf1 {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d .group-124-he7 {
  width: 23.8rem;
  height: 14.8rem;
  position: absolute;
  left: 22.2rem;
  top: 2.4rem;
}
.surface-pro-8-25-6SK .group-131-T3d .group-124-he7 .company-jqh {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .group-131-T3d .group-124-he7 .tattootalesgmailcom-ps9 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .group-131-T3d .group-124-he7 .about-udh {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .group-131-T3d .group-125-mvo {
  width: 32.7rem;
  height: 25.6rem;
  position: absolute;
  left: 88.3rem;
  top: 2.4rem;
}
.surface-pro-8-25-6SK .group-131-T3d .group-125-mvo .auto-group-opk9-qvf {
  margin: 0rem 0.8rem 1.6rem 0rem;
  width: calc(100% - 0.8rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-25-6SK .group-131-T3d .group-125-mvo .auto-group-opk9-qvf .the-uvX {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d .group-125-mvo .auto-group-opk9-qvf .auto-group-ezgj-ca3 {
  box-sizing: border-box;
  padding-left: 0.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d .group-125-mvo .auto-group-opk9-qvf .auto-group-ezgj-ca3 .group-118-gZu {
  margin: 0.5rem 1.2rem 0.5rem 0rem;
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d .group-125-mvo .auto-group-opk9-qvf .auto-group-ezgj-ca3 .group-118-gZu .tattoo-Ajy {
  margin-right: 1.2rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d .group-125-mvo .auto-group-opk9-qvf .auto-group-ezgj-ca3 .group-118-gZu .tales-SxP {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d .group-125-mvo .auto-group-opk9-qvf .auto-group-ezgj-ca3 .app-Jjh {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-25-6SK .group-131-T3d .group-125-mvo .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-byh {
  margin-left: 0.2rem;
  max-width: 32.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-25-6SK .group-131-T3d .group-126-ZZ9 {
  width: 21rem;
  height: 14.8rem;
  position: absolute;
  left: 56.7rem;
  top: 2.4rem;
}
.surface-pro-8-25-6SK .group-131-T3d .group-126-ZZ9 .legal-qWf {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .group-131-T3d .group-126-ZZ9 .terms-conditions-j6F {
  margin: 0rem 0rem 1.2rem 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .group-131-T3d .group-126-ZZ9 .privacy-policy-Nuu {
  margin-left: 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .group-131-T3d .group-127-ESK {
  width: 11.5rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
}
.surface-pro-8-25-6SK .group-131-T3d .group-127-ESK .explore-XgK {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .group-131-T3d .group-127-ESK .artist-pQX {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .group-131-T3d .group-127-ESK .blog-stb {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-25-6SK .group-131-T3d .group-127-ESK .shop-yAw {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
