
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-22-reT {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}
.surface-pro-8-22-reT .group-87-veK {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 5.926rem 15.2rem 1.848rem 15.1rem;
  width: 100%;
  height: 13.8rem;
  display: flex;
  align-items: center;
  background-color: #121212;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .group-77-MzX {
  margin: 1.474rem 6.9rem 1.52rem 0rem;
  height: calc(100% - 2.9939rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .group-77-MzX .tattoo-ByZ {
  margin: 0.032rem 1.6rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .group-77-MzX .tales-1So {
  margin-bottom: 0.0324rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .frame-10-eVm {
  margin: 0rem 7.5rem 0.026rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem;
  height: calc(100% - 0.0263rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .frame-10-eVm .home-ghM {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .frame-10-eVm .artists-KVR {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .frame-10-eVm .shop-aw9 {
  margin-right: 8.3rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .frame-10-eVm .blog-eRD {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .frame-10-eVm .about-us-9My {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-87-veK .group-75-vn3 {
  width: 15rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .about-D8s {
  margin: 0rem 17.7rem 4rem 0rem;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 0.6818181818;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-frtt-fWf {
  margin: 0rem 14.9rem 11.1rem 15.3rem;
  width: calc(100% - 30.2rem);
  height: 32rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-frtt-fWf .group-138-6rs {
  margin: 0.3rem 1.55rem 0rem 0rem;
  width: 43.85rem;
  height: 27.984rem;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-frtt-fWf .group-138-6rs .electric-lightning-logo-icon-illustration1058532-11337-removebg-preview-1-yvf {
  width: 16.1567rem;
  height: 16.9192rem;
  position: relative;
  left: 7.2799rem;
  top: 11.0048rem;
  background-size: 119.904% 113.379%;
  background-position: -1.4843rem -1.2907rem;
  background-image: url('../assets/electric-lightning-logo-icon-illustration1058532-11337-removebg-preview-1-vBZ.png');
}
.surface-pro-8-22-reT .auto-group-frtt-fWf .group-138-6rs .removebg-preview-1-MgK {
  width: 28.4432rem;
  height: 19.149rem;
  position: absolute;
  left: 15.4068rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.surface-pro-8-22-reT .auto-group-frtt-fWf .group-138-6rs .tattoo-Cwq {
  width: 22.4rem;
  height: 10.2rem;
  position: absolute;
  left: 0;
  top: 5.079rem;
  font-size: 8.8038rem;
  font-weight: 400;
  line-height: 1.1538459339;
  letter-spacing: 0.1761rem;
  color: #ffffff;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .auto-group-frtt-fWf .group-138-6rs .tales-FfD {
  width: 21.2rem;
  height: 11.9rem;
  position: absolute;
  left: 19.1316rem;
  top: 16.084rem;
  font-size: 8.8038rem;
  font-weight: 400;
  line-height: 1.3461537195;
  letter-spacing: 0.1761rem;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .auto-group-frtt-fWf .auto-group-klvd-3qy {
  height: 100%;
  row-gap: 4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-frtt-fWf .auto-group-klvd-3qy .our-mission-is-to-help-you-find-the-right-artist-for-your-next-tattoo-AQo {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-frtt-fWf .auto-group-klvd-3qy .we-believe-that-getting-a-tattoo-should-be-safe-and-easy-thats-why-we-strive-to-make-the-process-of-finding-a-quality-artist-making-an-appointment-and-getting-a-tattoo-a-great-experience-no-matter-if-its-your-first-tattoo-or-fifty-first-E9m {
  max-width: 75.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-frtt-fWf .auto-group-klvd-3qy .tattooing-is-about-life-expression-and-identity-its-about-discovering-and-defining-who-you-are-and-making-it-a-permanent-part-of-yourself-and-tattoo-tales-is-here-to-help-you-on-every-step-of-your-journey-iz3 {
  max-width: 74.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-22-reT .a-better-way-to-get-tattooed-H9y {
  margin: 0rem 1.8rem 6rem 0rem;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 0.6818181818;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 {
  margin: 0rem 14.7rem 6rem 15.2rem;
  width: calc(100% - 29.9rem);
  height: 23.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .auto-group-gvs9-B8s {
  box-sizing: border-box;
  padding-right: 3.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .auto-group-gvs9-B8s .group-133-Gg7 {
  margin: 0.1rem 3.2rem 0rem 0rem;
  width: 35.1rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .auto-group-gvs9-B8s .group-133-Gg7 .frame-98-kbH {
  margin: 0rem 0rem 1.8rem 0.1rem;
  width: 4.5002rem;
  height: 4.4001rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .auto-group-gvs9-B8s .group-133-Gg7 .trusted-tattooers-zEj {
  margin-bottom: 2.4rem;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 0.8823529412;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .auto-group-gvs9-B8s .group-133-Gg7 .we-hand-pick-every-tattoo-artist-to-ensure-your-tattoo-experience-is-handle-with-care-quality-and-iclusivity-U9u {
  max-width: 34.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .auto-group-gvs9-B8s .group-134-tjR {
  width: 42.7rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .auto-group-gvs9-B8s .group-134-tjR .frame-99-1Z9 {
  margin-bottom: 1.8rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .auto-group-gvs9-B8s .group-134-tjR .secure-payments-sLT {
  margin-bottom: 2.4rem;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 0.8823529412;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .auto-group-gvs9-B8s .group-134-tjR .we-use-stripe-to-process-all-payments-you-can-pay-with-you-credit-card-or-paypal-mAw {
  max-width: 40.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .group-135-zZV {
  width: 37.1rem;
  height: 100%;
  border-radius: 1rem;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .group-135-zZV .frame-100-H2o {
  margin-bottom: 1.8rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .group-135-zZV .tattoo-tales-support-AsH {
  margin-bottom: 2.4rem;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 0.8823529412;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .auto-group-sclf-9T5 .group-135-zZV .tattoo-tales-support-will-assist-you-throughout-your-tattoo-experience-to-ensure-you-experience-is-as-safe-and-secure-as-possible-GQX {
  max-width: 37rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-22-reT .group-132-45V {
  margin: 0rem 15rem 0rem 15.2rem;
  width: calc(100% - 30.2rem);
  height: 46.4rem;
  position: relative;
  border-top: solid 0.1rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-132-45V .rectangle-129-uro {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-22-reT .group-132-45V .rectangle-130-oxB {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-22-reT .group-132-45V .group-123-tCw {
  width: 22.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 39.4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-22-reT .group-132-45V .group-123-tCw .tattoo-yVH {
  margin-right: 0.7rem;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-132-45V .group-123-tCw .tales-FSo {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-132-45V .group-124-ibH {
  width: 23.8rem;
  height: 14.8rem;
  position: absolute;
  left: 22.2rem;
  top: 2.4rem;
}
.surface-pro-8-22-reT .group-132-45V .group-124-ibH .company-CWT {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .group-132-45V .group-124-ibH .tattootalesgmailcom-gwR {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .group-132-45V .group-124-ibH .about-YCw {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .group-132-45V .group-125-EbZ {
  width: 32.7rem;
  height: 25.6rem;
  position: absolute;
  left: 88.3rem;
  top: 2.4rem;
}
.surface-pro-8-22-reT .group-132-45V .group-125-EbZ .auto-group-utnx-L8o {
  margin: 0rem 0.8rem 1.6rem 0rem;
  width: calc(100% - 0.8rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-22-reT .group-132-45V .group-125-EbZ .auto-group-utnx-L8o .the-c6K {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-132-45V .group-125-EbZ .auto-group-utnx-L8o .auto-group-rqhm-4yu {
  box-sizing: border-box;
  padding-left: 0.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-132-45V .group-125-EbZ .auto-group-utnx-L8o .auto-group-rqhm-4yu .group-118-xpP {
  margin: 0.5rem 1.2rem 0.5rem 0rem;
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-132-45V .group-125-EbZ .auto-group-utnx-L8o .auto-group-rqhm-4yu .group-118-xpP .tattoo-FoV {
  margin-right: 1.2rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-132-45V .group-125-EbZ .auto-group-utnx-L8o .auto-group-rqhm-4yu .group-118-xpP .tales-URM {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-132-45V .group-125-EbZ .auto-group-utnx-L8o .auto-group-rqhm-4yu .app-8F1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-22-reT .group-132-45V .group-125-EbZ .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-RE7 {
  margin-left: 0.2rem;
  max-width: 32.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-22-reT .group-132-45V .group-126-q2w {
  width: 21rem;
  height: 14.8rem;
  position: absolute;
  left: 56.7rem;
  top: 2.4rem;
}
.surface-pro-8-22-reT .group-132-45V .group-126-q2w .legal-HQj {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .group-132-45V .group-126-q2w .terms-conditions-nMV {
  margin: 0rem 0rem 1.2rem 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .group-132-45V .group-126-q2w .privacy-policy-qqZ {
  margin-left: 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .group-132-45V .group-127-toq {
  width: 11.5rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
}
.surface-pro-8-22-reT .group-132-45V .group-127-toq .explore-PVh {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .group-132-45V .group-127-toq .artist-fi7 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .group-132-45V .group-127-toq .blog-8Lo {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-22-reT .group-132-45V .group-127-toq .shop-RKu {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
