
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.surface-pro-8-26-GhV {
  width: 100%;
  height: 190.2rem;
  position: relative;
  overflow: hidden;
  background-color: #121212;
}
.surface-pro-8-26-GhV .group-131-w2w {
  width: 121rem;
  height: 46.4rem;
  position: absolute;
  left: 15.2rem;
  top: 143.8rem;
  border-top: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.surface-pro-8-26-GhV .group-131-w2w .rectangle-129-xTq {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-26-GhV .group-131-w2w .rectangle-130-f7M {
  width: 120.8rem;
  height: 46.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #121212;
}
.surface-pro-8-26-GhV .group-131-w2w .group-123-NXZ {
  width: 22.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 39.4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-26-GhV .group-131-w2w .group-123-NXZ .tattoo-9gj {
  margin-right: 0.7rem;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-131-w2w .group-123-NXZ .tales-C9D {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.6818181818;
  letter-spacing: 0.088rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-131-w2w .group-124-HgT {
  width: 23.8rem;
  height: 14.8rem;
  position: absolute;
  left: 22.2rem;
  top: 2.4rem;
}
.surface-pro-8-26-GhV .group-131-w2w .group-124-HgT .company-MZq {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .group-131-w2w .group-124-HgT .tattootalesgmailcom-SrB {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .group-131-w2w .group-124-HgT .about-w2F {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .group-131-w2w .group-125-Cis {
  width: 32.7rem;
  height: 25.6rem;
  position: absolute;
  left: 88.3rem;
  top: 2.4rem;
}
.surface-pro-8-26-GhV .group-131-w2w .group-125-Cis .auto-group-sxrp-uNP {
  margin: 0rem 0.8rem 1.6rem 0rem;
  width: calc(100% - 0.8rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-26-GhV .group-131-w2w .group-125-Cis .auto-group-sxrp-uNP .the-m9h {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-131-w2w .group-125-Cis .auto-group-sxrp-uNP .auto-group-sfso-2bR {
  box-sizing: border-box;
  padding-left: 0.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-131-w2w .group-125-Cis .auto-group-sxrp-uNP .auto-group-sfso-2bR .group-118-wyH {
  margin: 0.5rem 1.2rem 0.5rem 0rem;
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-131-w2w .group-125-Cis .auto-group-sxrp-uNP .auto-group-sfso-2bR .group-118-wyH .tattoo-FDH {
  margin-right: 1.2rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-131-w2w .group-125-Cis .auto-group-sxrp-uNP .auto-group-sfso-2bR .group-118-wyH .tales-tGF {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-131-w2w .group-125-Cis .auto-group-sxrp-uNP .auto-group-sfso-2bR .app-ncX {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-131-w2w .group-125-Cis .join-millions-of-people-looking-to-find-tattoo-inspiration-discover-artists-and-studios-and-easily-book-tattoo-appointments-UVM {
  margin-left: 0.2rem;
  max-width: 32.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
}
.surface-pro-8-26-GhV .group-131-w2w .group-126-f43 {
  width: 21rem;
  height: 14.8rem;
  position: absolute;
  left: 56.7rem;
  top: 2.4rem;
}
.surface-pro-8-26-GhV .group-131-w2w .group-126-f43 .legal-YNj {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .group-131-w2w .group-126-f43 .terms-conditions-EWT {
  margin: 0rem 0rem 1.2rem 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .group-131-w2w .group-126-f43 .privacy-policy-Tu1 {
  margin-left: 0.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .group-131-w2w .group-127-MDh {
  width: 11.5rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
}
.surface-pro-8-26-GhV .group-131-w2w .group-127-MDh .explore-eTh {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .group-131-w2w .group-127-MDh .artist-HFm {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .group-131-w2w .group-127-MDh .blog-Zj5 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .group-131-w2w .group-127-MDh .shop-pf1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes {
  width: 121.2rem;
  height: 30.008rem;
  position: absolute;
  left: 15.1rem;
  top: 36.4rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .torquekitgreen3-3-Zm1 {
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .torquekitgreen3-3-Zm1 .torquekitgreen3-2-uK5 {
  width: 31rem;
  height: 30.008rem;
  position: relative;
  background-size: 100% 103.306%;
  background-position: -0rem -0.992rem;
  background-image: url('../assets/torquekitgreen3-2-WsH.png');
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb {
  box-sizing: border-box;
  padding-left: 2.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-1gxq-Dj5 {
  margin-right: 12rem;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-1gxq-Dj5 .critical-tattoo-torque-pen-tool-machine-full-kit-Wy5 {
  max-width: 46.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.40625;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-1gxq-Dj5 .in-stock-9FM {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #05ff00;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-1gxq-Dj5 .eligible-for-free-delivery-T19 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5b5b5b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-1gxq-Dj5 .group-136-xCo {
  box-sizing: border-box;
  padding: 0.1rem 2.4rem 0rem 2.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-1gxq-Dj5 .group-136-xCo .vector-Sdm {
  margin: 0.1rem 4.5rem 0rem 0rem;
  width: 2.4rem;
  height: 0.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-1gxq-Dj5 .group-136-xCo .item-1-5wd {
  margin-right: 4.3rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.52406919;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-1gxq-Dj5 .group-136-xCo .vector-yXD {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq {
  margin-top: 0.5rem;
  width: 29.5rem;
  row-gap: 2.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .auto-group-32vk-6kF {
  margin-right: 0.4rem;
  width: calc(100% - 0.4rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .auto-group-32vk-6kF .frame-117-QF9 {
  margin-right: 2.4rem;
  width: 8.7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .auto-group-32vk-6kF .deal-of-the-day-bKd {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.0714285714;
  color: #ff0000;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .item-299900-hNf {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 0.9375;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .auto-group-hnup-PmH {
  margin-right: 0.2rem;
  height: 3rem;
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .auto-group-hnup-PmH .mrp-r95 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 0.9375;
  color: #727272;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .auto-group-hnup-PmH .item--N7R {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 0.9375;
  color: #727272;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .auto-group-hnup-PmH .auto-group-zihm-Gib {
  width: 15.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .auto-group-hnup-PmH .auto-group-zihm-Gib .item-599900-ZSo {
  width: 15.6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 0.9375;
  color: #727272;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .auto-group-htkv-tes .auto-group-hy1v-uCb .auto-group-cipq-FDq .auto-group-hnup-PmH .auto-group-zihm-Gib .line-116-cfy {
  width: 15.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0.3rem;
  top: 1.5rem;
  background-color: #ffffff;
}
.surface-pro-8-26-GhV .price-D9y {
  width: 6.8rem;
  height: 3rem;
  position: absolute;
  left: 129.2rem;
  top: 29.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .auto-group-cg9d-TKD {
  width: 121.2rem;
  height: 13.2rem;
  position: absolute;
  left: 15rem;
  top: 72.1rem;
  display: flex;
  align-items: flex-start;
}
.surface-pro-8-26-GhV .auto-group-cg9d-TKD .the-price-and-availability-of-items-at-tattoo-tales-in-are-subject-to-change-the-shopping-cart-is-a-temporary-place-to-store-a-list-of-your-items-and-reflects-each-items-most-recent-price-JKq {
  margin-right: 12.3rem;
  max-width: 67.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #848484;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-cg9d-TKD .auto-group-6bmh-UNj {
  width: 41.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-cg9d-TKD .auto-group-6bmh-UNj .auto-group-nybq-zM5 {
  margin-bottom: 5.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-cg9d-TKD .auto-group-6bmh-UNj .auto-group-nybq-zM5 .sub-total-1-item--UGF {
  margin-right: 0.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-cg9d-TKD .auto-group-6bmh-UNj .auto-group-nybq-zM5 .item-299900-A95 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 0.9375;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-cg9d-TKD .auto-group-6bmh-UNj .frame-117-SsH {
  margin: 0rem 0.3rem 0rem 0.2rem;
  width: calc(100% - 0.5rem);
  height: 5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(93.31deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .line-115-uuH {
  width: 120.8rem;
  height: 0.1rem;
  position: absolute;
  left: 15.2rem;
  top: 33.2rem;
  background-color: #ffffff;
}
.surface-pro-8-26-GhV .line-117-xsZ {
  width: 120.8rem;
  height: 0.1rem;
  position: absolute;
  left: 15.1rem;
  top: 69.7rem;
  background-color: #ffffff;
}
.surface-pro-8-26-GhV .shopping-cart-TZR {
  width: 34.2rem;
  height: 4.5rem;
  position: absolute;
  left: 15.2rem;
  top: 24.7rem;
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 0.8653846154;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.surface-pro-8-26-GhV .auto-group-vcxh-7ts {
  width: 120.8rem;
  height: 4.5rem;
  position: absolute;
  left: 15.2rem;
  top: 91.3rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-26-GhV .auto-group-vcxh-7ts .line-115-NZu {
  margin: 0.2rem 0.7rem 0rem 0rem;
  width: 39.4rem;
  height: 0.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-vcxh-7ts .recommend-for-you-rjy {
  margin-right: 0.6rem;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.0227272727;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-vcxh-7ts .line-116-Z8b {
  margin-top: 0.2rem;
  width: 40.1rem;
  height: 0.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq {
  width: 120.8rem;
  height: 37.9rem;
  position: absolute;
  left: 15.2rem;
  top: 99.9rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-117-taB {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-117-taB .group-83-bDh {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-117-taB .group-83-bDh .rectangle-68-j51 {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-eJT.png');
  border-radius: 1.2rem;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-117-taB .vlad-blad-ultron-pen-2-tattoo-machine-K3D {
  margin-right: 0.3rem;
  max-width: 24.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-118-H8T {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(332.75deg, rgba(0, 224, 255, 0.6000000238) 100%, rgba(0, 72, 82, 0.6000000238) 200%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-118-H8T .group-83-wio {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-118-H8T .group-83-wio .rectangle-68-gAb {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-AUw.png');
  border-radius: 1.2rem;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-118-H8T .vlad-blad-avenger-2-pro-rotary-machine-hrP {
  margin-right: 3.2rem;
  max-width: 22rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-119-Go1 {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(152.75deg, rgba(0, 224, 255, 0.6000000238) -0%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-119-Go1 .group-83-aYo {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-119-Go1 .group-83-aYo .rectangle-68-if1 {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -1.3867rem 0;
  background-image: url('../assets/rectangle-68-9iP.png');
  border-radius: 1.2rem;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-119-Go1 .fk-irons-xion-pen-limited-edition-7x3 {
  margin-right: 4rem;
  max-width: 21.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-120-8MM {
  box-sizing: border-box;
  padding: 1rem;
  width: 27.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(153.66deg, rgba(0, 224, 255, 0.6000000238) 1.28%, rgba(0, 72, 82, 0.6000000238) 100%);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-120-8MM .group-83-Cs1 {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-120-8MM .group-83-Cs1 .rectangle-68-wpb {
  width: 25.2rem;
  height: 28.3rem;
  position: relative;
  background-size: 112.302% 100%;
  background-position: -0.9867rem 0;
  background-image: url('../assets/rectangle-68-K75.png');
  border-radius: 1.2rem;
}
.surface-pro-8-26-GhV .auto-group-tugb-Dyq .frame-120-8MM .peak-matrix-pen-tattoo-machine-black-BD9 {
  margin-right: 0.6rem;
  max-width: 24.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 {
  width: 151.2rem;
  height: 20.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 {
  box-sizing: border-box;
  padding: 4.4rem 15.3rem 0.211rem 15rem;
  width: 151.2rem;
  height: 20.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #121212;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .group-77-3YB {
  margin: 0rem 6.5rem 7.057rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .group-77-3YB .tattoo-MHy {
  margin: 0.032rem 1.6rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  color: #ffffff;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .group-77-3YB .tales-PkT {
  margin-bottom: 0.0324rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.9375;
  letter-spacing: 0.064rem;
  font-family: Henny Penny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 {
  margin-right: 7.9rem;
  width: 74rem;
  height: 100%;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .frame-10-xBH {
  margin-bottom: 5.5697rem;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(90.22deg, rgba(0, 224, 255, 0.8500000238) 1.28%, rgba(0, 72, 82, 0.6899999976) 100%);
  border-radius: 2rem;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .frame-10-xBH .home-dYK {
  margin-right: 8.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .frame-10-xBH .artists-JPZ {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .frame-10-xBH .shop-b7m {
  margin-right: 8.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #121212;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .frame-10-xBH .blog-4GF {
  margin-right: 8.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .frame-10-xBH .about-us-wqq {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .auto-group-gxes-8fR {
  margin: 0rem 5.1rem 0rem 0.4rem;
  width: calc(100% - 5.5rem);
  height: 4.5197rem;
  display: flex;
  align-items: center;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .auto-group-gxes-8fR .group-81-zxX {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 0.804rem 9.9rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .auto-group-gxes-8fR .group-81-zxX .vector-g4f {
  margin: 0rem 1.2rem 0.023rem 0rem;
  width: 1.7rem;
  height: 2.1731rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .auto-group-gxes-8fR .group-81-zxX .ambattur-chennai-iX9 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .auto-group-gxes-8fR .group-80-N5u {
  box-sizing: border-box;
  padding: 0.804rem 27rem 0.716rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #121212;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .auto-group-gxes-8fR .group-80-N5u .vector-FQb {
  margin: 0rem 2.097rem 0.185rem 0rem;
  width: 2.003rem;
  height: 2.0118rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .auto-group-4d2p-rP9 .auto-group-gxes-8fR .group-80-N5u .search-VZq {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .group-88-qh1 .group-75-wRq {
  margin-bottom: 7.0114rem;
  width: 15rem;
  height: 6.0263rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.53deg, rgba(0, 224, 255, 0.8500000238) 0%, rgba(0, 72, 82, 0.6899999976) 100%, rgba(0, 240, 255, 0.4399999976) 100%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.surface-pro-8-26-GhV .group-112-YT1 .vector-yG3 {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 131.4rem;
  top: 15.7rem;
  object-fit: contain;
  vertical-align: top;
}
.surface-pro-8-26-GhV .group-112-YT1 .vector-oks {
  width: 5rem;
  height: 4.2847rem;
  position: absolute;
  left: 122.4rem;
  top: 16.1rem;
  object-fit: contain;
  vertical-align: top;
}
